﻿@{
    ViewBag.Title = "Advance200";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <div class="offer_template advance200_page">
     <div class="hero">
       <div class="content">
         <div class="hero_copy">
           <h1>get a<span class= "headline_highlight">$200</span>advance on<br>
           your tax refund today.</h1>
           <div class="subhead">
             0% interest. No credit check. High approval rates.
           </div>
           Wouldn't it be great to get $200 today to help pay off some of these<br>
           holiday bills? Just come into a Jackson Hewitt Office and let us prepare<br>
           your return. You could get a $200 Advance on your tax refund today -<br>
           with 0% interest, no credit check and high approval rates. If your refund<br>
           is at least $1,000 you'll qualify to apply for a $200 Advance.
         </div>
         <div class="hero_image">
           <img src="/images/advance200_hero.png">
         </div>
       </div>
     </div>
     <div class="office_and_online">
       <div class="content">
         <div class="local_office">
           <div class="information">
             <h1>stop by YOUR LOCAL OFFICE.</h1>
             With over 6,300 locations, we make it easy to walk right in and<br>
             get started. See for yourself and visit your local office today.
             <img class="local_office_image" src="/Images/local_office_icon.png">
             <a href="#" class="office_btn">
               <span class="cta">find and office near you</span>
               <span class="arrow"> ></span>
             </a>
           </div>
         </div>
         <div class="file_online">
           <div class="information">
             <h1>FILE ONLINE.</h1>
             Your biggest refund. Right under your fingertips.
             <br>
             <img class="file_online_image" src="/Images/file_online_icon.png">
             <a href="#" class="file_online_btn">
               <span class="cta">Get Started</span>
               <span class="arrow"> ></span>
             </a>
           </div>
         </div>
       </div>
     </div>
     <!-- THIS SHOULD BE MADE INTO A REUSABLE SECTION -->
     <div class="promo">
       <div class="content">
         <div class="tiles">
           <div class="tile_title">
             100% accuracy.
             <div class="white">100% guaranteed.</div>
           </div>
           <img class="accuracy_image" src="/images/person_icon.png">
         </div>
         <div class="tiles">
           <div class="tile_title">
             Your biggest refund
             <span class="white">or your money back guaranteed.</span>
           </div>
           <img class="refund_image" src="/images/bills_icon.png">
         </div>
         <div class="tiles">
           <div class="tile_title">
             6,300 locations,
             <div class="white small">2,900 in walmarts.</div>
           </div>
           <img class="locations_image" src="/images/house_icon.png">
         </div>
       </div>
     </div>
     <dic class="tandc">
       <div class="content">
         <div class="tandc_btn">Terms & Conditions</div>
       </div>
     </div>
     <div class="tandc_modal">
       <div class="headline">Terms & Conditions</div>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
       <br><br>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
       <br><br>
       Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit.
     </div>
   </div>
 </div>