﻿@{
    ViewBag.Title = "Get the Biggest Tax Refund | 6,300+ Locations";
    ViewBag.FooterLabel = "brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription { Looking for the biggest tax refund? Jackson Hewitt has 6,300+ locations to serve you. Our tax professionals are armed with the latest tax laws to maximize your return. }

@section MetaKeywords
{
    <meta name="keywords" content="tax return, tax refund, tax preparation, irs tax refund" />
}

<div class="offer_template brandstory_page">
    <div class="hero">
        <div class="hero_carousel">
            <ul class="bjqs">
                <li>
                    <div class="colorblock"></div>
                    <div class="copy">
                        <h1>We Stand Behind<br>our work</h1>
                        <p>
                            As certified tax preparers we know our stuff and are held to a standard even higher than required by the IRS. We know the tax code better than others. We ask more of the right questions to find the credits and deductions you deserve and others miss. Bottom line - your tax return is 100% accurate or we pay.
                        </p>
                    </div>
                    <img class="background_image" src="/images/carousel_image_4.jpg">
                </li>
                <li>
                    <div class="colorblock"></div>
                    <div class="copy">
                        <h1>Our Mission</h1>
                        <p>
                            When you file your taxes at<br>
                            Jackson Hewitt<sup>&#174;</sup>you'll get the security of knowing that we stand behind our work - 100% Guaranteed. We work harder, dig deeper and fight for you to get you 100% of your hard earned money. We know how to make the tax code work for you. Come try us. Today.<br><br>
                            David Prokupek<br>
                            CEO, Jackson Hewitt Tax Service
                        </p>
                    </div>
                    <img class="background_image" src="/images/carousel_image_1.jpg">
                </li>
                <li>
                    <div class="colorblock"></div>
                    <div class="copy">
                        <h1>OUR PREPARER'S<br>PLEDGE</h1>
                        <ul>
                            <li>• I will handle your tax return<br>like it's my own</li>
                            <li>• It will be 100% accurate</li>
                            <li>• We guarantee it</li>
                        </ul>
                    </div>
                    <img class="background_image" src="/images/carousel_image_3.jpg">
                </li>
                <li>
                    <div class="colorblock"></div>
                    <div class="copy">
                        <h1>JH Promise</h1>
                        <ul>
                            <li>1. We know our stuff.</li>
                            <li>2. We make it easy.</li>
                            <li>3. We help you get ahead.</li>
                            <li>4. We fight for you.</li>
                            <li>5. You're welcome here.</li>
                        </ul>
                    </div>
                    <img class="background_image" src="/images/carousel_image_2.jpg">
                </li>
            </ul>
        </div>
    </div>

    <div class="tandc">
      <div class="content">
        <div class="tandc_btn">Terms &amp; Conditions</div>
      </div>
    </div>

    <div class="brand_tiles_section">
        <div class="content">
            <div class="brand_tile">
                <div class="top_tile">
                    <div class="tile_title">
                        100% accuracy.
                        <div class="white">Guaranteed.</div>
                    </div>
                    <img src="/images/person_icon.png">
                </div>
                <div class="bottom_tile">
                    <ul>
                        <li>Hold our professional and<br>certified tax preparers to the <br>highest standards in the industry.</li>
                        <li>Depend on us to find all of the<br>money you deserve.</li>
                        <li>If your return is not 100% accurate,<br> we'll pay the penalties and interest.</li>
                    </ul>
                </div>
            </div>
            <div class="brand_tile">
                <div class="top_tile">
                    <div class="tile_title">
                        Biggest refunds.<br>
                        <span class="white">Guaranteed.</span>
                    </div>
                    <img src="/images/bills_icon.png">
                </div>
                <div class="bottom_tile">
                    <ul>
                        <li>We fight to get you 100%<br> of your hard earned money.</li>
                        <li>Understand the needs of<br> every customer.</li>
                        <li>If you receive a bigger<br> refund, we’ll refund 100% of your<br> tax preparation fee.</li>
                    </ul>
                </div>
            </div>
            <div class="brand_tile">
                <div class="top_tile">
                    <div class="tile_title">
                        Over 6,300 locations,
                        <div class="white shrunk">including nearly 3,000 <span class="walmart_nocaps">Walmarts.</span></div>
                    </div>
                    <img src="/images/house_icon.png">
                </div>
                <div class="bottom_tile">
                    <ul>
                        <li>We're a leading national tax<br>company that's rooted in<br> your local community.</li>
                        <li>No appointment necessary.</li>
                        <li>Open when you need us.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("OfficeOnline")

    <div class="tandc_modal">
        <div class="headline">Terms &amp; Conditions</div>
        With the 100% Accuracy Guarantee, if we make an error preparing your return, we will cover penalties and interest. You must (a) notify your local Jackson Hewitt Tax Service<sup>&reg;</sup> office in writing or in person within 30 days of the date set forth in the first letter you receive from any taxing authority concerning your covered tax return (and promptly at any time you otherwise discover any error); (b) provide your local Jackson Hewitt<sup>&reg;</sup> office with copies of all documents related to the claim or otherwise requested (including any letters from a taxing authority and all documentation supporting your tax return); and (c) allow your local Jackson Hewitt office and Jackson Hewitt Inc. to investigate, question, or challenge the penalty, interest, additional tax or refund shortfall, in any manner they deem appropriate, at their expense, and cooperate and assist them in these efforts (including signing appropriate authorizations). You are responsible for paying the appropriate taxing authorities in a timely fashion, regardless of reimbursement by a Jackson Hewitt office or Jackson Hewitt Inc., as the case may be. Coverage under the Accuracy Guarantee is subject to payment of tax preparation fees. Coverage under the Accuracy Guarantee does not apply to the following situations ("Exclusions"): (i) you provided incorrect, incomplete or false information to your local Jackson Hewitt office or to Jackson Hewitt Inc.; (ii) your tax refund was reduced or not received as a result of a tax lien, judgment, support order, unpaid student or government-related loans, back taxes, or any other collection activity; (iii) you are unable to substantiate a deduction, credit, or other position taken on the covered tax return (whether it be a failure to produce sufficient documentation or otherwise); (iv) you failed to timely file the tax return or pay the taxes shown as owing on such return; (v) fraud; and/or (vi) for Affordable Care Act (ACA) tax preparation and related ACA services. Void if you refile with another tax preparation company.
        <br /><br />
        Biggest refund guaranteed (or lowest tax) or your tax preparation fee back. If you are entitled to a larger refund (or smaller tax liability), we'll refund the tax preparation fees paid to us for that return (other product and service fees excluded). Federal returns only. Same tax facts must apply. You must file an amended return with another paid tax preparation company &amp;/or online provider by April 15, 2015 and submit your claim no later than October 15, 2015 with proof that the IRS accepted the positions taken on the amended return.
        <br /><br />
        Most offices are independently owned &amp; operated.
    </div>
</div>
