﻿@{
    ViewBag.Title = "File An Extension | Online Tax Preparation | E File";
    ViewBag.FooterLabel = "walmart_50";
    Layout = "~/Views/Shared/_LayoutResponsive.cshtml";
}

@section MetaDescription { Can’t complete your tax return right now? File an extension and push your deadline back to October 15th. }

@section MetaKeywords
{
    <meta name="keywords" content="taxes online, online tax return, online tax preparation, income tax calculator, tax refund calculator, tax refund, tax return calculator, e file, efile, tax preparation, special offers, file extension" />
}

   <div class="offer_template extension">

     <a href="http://jacksonhewitt.com/OfficeLocator/" class="hero_link">
     <div class="hero">
       <div class="content">
         <div class="hero_copy">
          <h1>Extend your deadline to October 15</h1>
          Can't complete your tax return right now? File an extension and push your deadline back to October 15th. You'll avoid late-filing or late-payment penalties. Remember, you still need to pay your estimated tax bill by April 15.
         </div>

         <div class="hero_image">
           <img src="/images/October_Calendar.png">
         </div>
       </div>
     </div>
     </a>
     
     <div class="tandc">
       <div class="content">
         <div class="tandc_btn">Terms &amp; Conditions</div>
       </div>
     </div>

     @Html.Partial("OfficeOnlineExtension")

     @Html.Partial("PromoTiles")

     <div class="tandc_modal">
       <div class="headline">Terms &amp; Conditions</div>
       With the 100% Accuracy Guarantee, if we make an error preparing your return, we will cover penalties and interest. You must (a) notify your local Jackson Hewitt Tax Service<sup>&reg;</sup> office in writing or in person within 30 days of the date set forth in the first letter you receive from any taxing authority concerning your covered tax return (and promptly at any time you otherwise discover any error); (b) provide your local Jackson Hewitt<sup>&reg;</sup> office with copies of all documents related to the claim or otherwise requested (including any letters from a taxing authority and all documentation supporting your tax return); and (c) allow your local Jackson Hewitt office and Jackson Hewitt Inc. to investigate, question, or challenge the penalty, interest, additional tax or refund shortfall, in any manner they deem appropriate, at their expense, and cooperate and assist them in these efforts (including signing appropriate authorizations). You are responsible for paying the appropriate taxing authorities in a timely fashion, regardless of reimbursement by a Jackson Hewitt office or Jackson Hewitt Inc., as the case may be. Coverage under the Accuracy Guarantee is subject to payment of tax preparation fees. Coverage under the Accuracy Guarantee does not apply to the following situations ("Exclusions"): (i) you provided incorrect, incomplete or false information to your local Jackson Hewitt office or to Jackson Hewitt Inc.; (ii) your tax refund was reduced or not received as a result of a tax lien, judgment, support order, unpaid student or government-related loans, back taxes, or any other collection activity; (iii) you are unable to substantiate a deduction, credit, or other position taken on the covered tax return (whether it be a failure to produce sufficient documentation or otherwise); (iv) you failed to timely file the tax return or pay the taxes shown as owing on such return; (v) fraud; and/or (vi) for Affordable Care Act (ACA) tax preparation and related ACA services. Void if you refile with another tax preparation company.
       <br /><br />
       Biggest refund guaranteed (or lowest tax) or your tax preparation fee back. If you are entitled to a larger refund (or smaller tax liability), we'll refund the tax preparation fees paid to us for that return (other product and service fees excluded). Federal returns only. Same tax facts must apply. You must file an amended return with another paid tax preparation company &amp;/or online provider by April 15, 2015 and submit your claim no later than October 15, 2015 with proof that the IRS accepted the positions taken on the amended return.
       <br /><br />
       Most offices are independently owned &amp; operated.
     </div>
   </div>
