@{
  ViewBag.Title = "FFA";
  ViewBag.FooterLabel = "FFA";
  Layout = "~/Views/Shared/_FFALayout.cshtml";
}

@section MetaDescription { Choose your online federal filing option. No matter what your tax situation, Jackson Hewitt has a package for you. }

@section MetaKeywords
{
    <meta name="keywords" content="taxes online, online tax return, online tax preparation, income tax calculator, tax refund calculator, tax refund, tax return calculator, e file, efile, tax preparation, special offers" />
}

<div class="offer_template online_page">
  <div class="hero">
    <div class="content">
      <div class="hero_copy">
        <h1>
          CHOOSE YOUR ONLINE FEDERAL FILING OPTION.
        </h1>
        <p>
          No matter what your tax situation, Jackson Hewitt<sup>&#174;</sup> has a package for you. From free, simple <br>
          returns to complex filing options, you get the convenience of online tax prep plus access to <br>
          online chat, email and phone support from Jackson Hewitt's expert team of Tax Pros.
        </p>
        <a onClick="ga('send','event','hero module','start your free return clicked','@ViewBag.FooterLabel');" href="http://www.jacksonhewittonline.com/FreeFile/" class="hero_btn">START YOUR FREE FILE RETURN</a>
      </div>
    </div>
  </div>

  <div class="online_plans_section updated_plans">
    <div class="content">
      <div class="online_plan">
        <div class="plan_tile">
          <img src="/images/online_tile_free_icon.png" class="plan_icon">
          <div class="plan_copy">
            <h1>Free</h1>
            <div class="cost">$0</div>
            <div onClick="ga('send','event','free package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn cost_btn">
              State Additional*
            </div>
            Do you only have W-2<br>
            income with some interest<br>
            income and no credits or deductions?
          </div>
          <div class="plan_btn">
            <a onClick="ga('send','event','free package','try it for free clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=FREE"> Try it for free.</a>
          </div>
        </div>
        <ul>
          <div class="title">Includes:</div>
          <li>FREE Federal & e-file</li>
          <li>FREE W-2 download</li>
          <li>FREE Last year tax<br>return import from <br>Turbo Tax<sup>&reg;</sup>, H&R Block <sup>&reg;</sup> & TaxACT<sup>&reg;</sup></li>
          <li>Health coverage exemptions</li>
          <li>FREE unlimited chat<br> and email support</li>
        </ul>
      </div>
      <div class="online_plan">
        <div class="plan_tile">
          <img src="/images/online_tile_basic_icon.png" class="plan_icon">
          <div class="plan_copy">
            <h1>Basic</h1>
            <div class="cost">$19.95</div>
            <div onClick="ga('send','event','basic package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn cost_btn">
              State Additional*
            </div>
            Just need to file<br>
            a simple return?
          </div>
          <div class="plan_btn">
            <a onClick="ga('send','event','basic package','try it for free clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=BASIC"> Try it for free.</a>
          </div>
        </div>
        <ul>
          <div class="title">Everything in FREE plus:</div>
          <li>Earned income credit with<br> no dependents</li>
          <li>Student loan deductions</li>
          <li>Interest income greater<br> than $1,500</li>
          <li>Premium tax credit</li>
        </ul>
      </div>
      <div class="online_plan">
        <div class="plan_tile">
          <img src="/images/online_tile_deluxe_icon.png" class="plan_icon">
          <div class="plan_copy">
            <h1>Deluxe</h1>
            <div class="cost">$34.95</div>
            <div onClick="ga('send','event','deluxe package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn cost_btn">
              State Additional*
            </div>
            Are you a parent<br>
            or homeowner?
          </div>
          <div class="plan_btn">
            <a onClick="ga('send','event','deluxe package','try it for free clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=DELUXE"> Try it for free.</a>
          </div>
        </div>
        <ul>
          <div class="title">Everything in BASIC plus:</div>
          <li>Itemized deductions</li>
          <li>Health savings accounts</li>
          <li>Earned income tax<br> with dependents</li>
          <li>Child care & dependent<br> care expenses</li>
          <li>Educator expense deduction</li>
        </ul>
      </div>
      <div class="online_plan">
        <div class="plan_tile">
          <img src="/images/online_tile_premium_icon.png" class="plan_icon">
          <div class="plan_copy">
            <h1>Premium</h1>
            <div class="cost">$49.95</div>
            <div onClick="ga('send','event','premium package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn cost_btn">
              State Additional*
            </div>
            Are you a business owner<br>
            or self-employed?
          </div>
          <div class="plan_btn">
            <a onClick="ga('send','event','premium package','try it for free clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=PREMIUM"> Try it for free.</a>
          </div>
        </div>
        <ul>
          <div class="title">Everything in DELUXE plus:</div>
          <li>Business income & expenses </li>
          <li>Rental properties</li>
          <li>Home office deductions</li>
          <li>Depreciation & vehicle expenses</li>
          <li>FREE unlimited phone support</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tandc">
    <div class="content">
      <div class="tandc_btn" id="tandc_btn"><br /><br />Terms & Conditions</div>
    </div>
  </div>

  <div class="promo">
    <div class="content">
      <div class="tiles">
        <div class="tile_title">
          100% Accuracy.
          <div class="white">Guaranteed.</div>
        </div>
        <img class="accuracy_image" src="/images/person_icon.png">
      </div>
      <div class="tiles">
        <div class="tile_title">
          Biggest Refunds.
          <span class="white">Guaranteed.</span>
        </div>
        <img class="refund_image" src="/images/bills_icon.png">
      </div>
      <div class="tiles">
        <div class="tile_title">
          Over 6,300 locations
          <div class="white small">including nearly 3,000 <span class="walmart_nocaps">Walmarts.</span></div>
        </div>
        <img class="locations_image" src="/images/house_icon.png">
      </div>
    </div>
  </div>

  <!-- Modal Section -->
  <div class="tandc_modal" id="tandc_modal">
    <div class="headline">Terms &amp; Conditions</div>
    Jackson Hewitt&reg; warrants only to its Online registered users the accuracy of every form prepared using the Services. Jackson Hewitt shall guarantee its Online tax calculations. The term "Calculations" is defined to mean the numerical addition, subtraction or multiplication of numbers, and related automatic features that select numbers from tax tables. Calculations do not include any instance where a taxpayer can make a decision to substitute a number for the one automatically computed by the program, and Jackson Hewitt is not responsible for changes in tax law made by the Congress during tax season. We will pay any IRS penalties and/or interest resulting from an error in Jackson Hewitt's Online software program's calculations. The users are responsible for notifying Jackson Hewitt promptly of any change in your email so that notices of necessary updates or corrections to remedy any errors can be provided by Jackson Hewitt. You are responsible to notify Jackson Hewitt within 10 days of receipt of any notice of errors and/or interests and penalties from any tax authority resulting from your use of the Services. If the tax return can be amended to avoid or reduce your penalties and/or interests, you must file it on your own to limit further penalties and interest. We are not responsible for any interests and penalties resulting from your failure to enter all required information accurately, your willful or fraudulent omission or inclusion of information on your tax return, your misclassification of information on your tax return, your failure to notify Jackson Hewitt of your change of email address, or your failure to file an amended return to avoid or reduce your penalties and/or interests after receipt of such notice.
    <br><br>
    If you believe such a calculation error occurred and you have complied with the above conditions, please notify Jackson Hewitt in writing at Jackson Hewitt Inc., Attention - Client Care, 501 N. Cattlemen Road, Suite 300, Sarasota, FL 34232 as soon as you are aware of the error. You must include a copy of the IRS notice, a hardcopy of the tax return, and your user identification and password. The filing of such a claim shall constitute your authorization for Jackson Hewitt to obtain and review any copy and/or transcript of your tax return and any data files that may be in Jackson Hewitt's possession or control in order to evaluate your claim. You are responsible for paying any additional tax liability you may owe, and providing assistance and additional information as reasonably requested by Jackson Hewitt.
    <br><br>
    Biggest refund guaranteed (or lowest tax) or your tax preparation fee back. If you are entitled to a larger refund (or smaller tax liability), we'll refund the tax preparation fees paid to us for that return (other product and service fees excluded). Federal returns only. Same tax facts must apply. You must file an amended return with another paid tax preparation company &/or online provider by April 15, 2015 and submit your claim no later than October 15, 2015 with proof that the IRS accepted the positions taken on the amended return.
    <br><br>
    H&R Block is a registered trademark of HRB Innovations, Inc. TurboTax&reg; and Quicken&reg; are registered trademarks of Intuit, Inc. TaxAct&reg; is a registered trademark of TaxAct, Inc.
  </div>
  <div class="cost_detail_modal cost_modal">
    <div class="detail_header">
      State
    </div>
    <div class="clear"></div>
    <div class="modal_detail">
      <div class="detail_title">
        <div class="title">
          free
        </div>
        <img src="/images/popup_free_icon.png">
      </div>
      <div class="state_cost">
        $14.95
      </div>
    </div>
    <div class="modal_detail">
      <div class="detail_title">
        <div class="title">
          Basic
        </div>
        <img src="/images/popup_basic_icon.png">
      </div>
      <div class="state_cost">
        $14.95
      </div>
    </div>
    <div class="modal_detail">
      <div class="detail_title">
        <div class="title">
          Deluxe
        </div>
        <img src="/images/popup_deluxe_icon.png">
      </div>
      <div class="state_cost">
        $14.95
      </div>
    </div>
    <div class="modal_detail">
      <div class="detail_title">
        <div class="title">
          Premium
        </div>
        <img src="/images/popup_premium_icon.png">
      </div>
      <div class="state_cost">
        $14.95
      </div>
    </div>
  </div>
</div>
