﻿@{
    ViewBag.Title = "Free State Returns + Get a Walmart Gift Card | Online Tax Preparation | E File";
    ViewBag.FooterLabel = "freestate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription { Prefer to prepare your own taxes? E File using Jackson Hewitt Online, Free State Return and receive a $20 Walmart gift card. }

@section MetaKeywords
{
    <meta name="keywords" content="taxes online, online tax return, online tax preparation, income tax calculator, tax refund calculator, tax refund, tax return calculator, e file, efile, tax preparation, special offers" />
}
<div class="unavailable_modal">
    <h1>Sorry, this offer is no longer valid.</h1>
    <div class="button">
        <a href="http://offers.jacksonhewitt.com/wm2">See what offers are available.</a>
    </div>
</div>
<div class="offer_template online_page unavailable_body">
    <div class="hero wmFreeState">
        <div class="content">
            <div class="hero_copy">
                <h1>
                    <span class= "headline_highlight">FREE STATE RETURN</span>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                    FOR EVERYONE!<br>
                </h1>
                <h2 class="pad10bottom">Enter promo code 14TTSTATE when<br />asked for payment</h2>
                <div class="pad10bottom">Plus get a $20 Walmart eGift Card* when you file with Jackson Hewitt<sup>&#174;</sup> Online.</div>
                <p class="pad16px"><a class="hero_btn" onClick="ga('send','event','hero module','log in  clicked','@ViewBag.FooterLabel');" href="https://services.jhnet.com/STS/Account/SignIn">log in now</a>
            </div>

            <div class="disclaimer">
                * For tax returns with a total tax prep fee of $34.95 or greater.
            </div>
            <div class="hero_image snippet">
                <img src="~/Images/JH_Snipe_V4.png" alt="Up To $34.95 Value" /><br />
            </div>
        </div>
    </div>

    <div class="tandc">
      <div class="content">
        <div class="tandc_btn">Terms & Conditions</div>
      </div>
    </div>

    <div class="online_plans_section updated_plans">
        <div class="content">
            <div class="online_plan">
                <div class="plan_tile">
                    <img src="/images/online_tile_free_icon.png" class="plan_icon">
                    <div class="plan_copy">
                        <h1>Free</h1>
                        <div class="cost">$0</div>
                        <div onClick="ga('send','event','free package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn">
                            Free State*
                        </div>
                        Do you only have W-2<br>
                        income with some interest<br>
                        income and no credits or deductions?
                    </div>
                    <div class="plan_btn">
                        <a onClick="ga('send','event','free package','get started clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=FREE">
                            Get Started
                        </a>
                    </div>
                </div>
                <ul>
                    <div class="title">Includes:</div>
                    <li>FREE Federal & e-file</li>
                    <li>FREE W-2 download</li>
                    <li>FREE Last year tax<br>return import from <br>Turbo Tax<sup>&reg;</sup>, H&R Block <sup>&reg;</sup> & TaxACT<sup>&reg;</sup></li>
                    <li>Health coverage exemptions</li>
                    <li>FREE unlimited chat<br> and email support</li>
                </ul>
            </div>
            <div class="online_plan updated_plans">
                <div class="plan_tile">
                    <img src="/images/online_tile_basic_icon.png" class="plan_icon">
                    <div class="plan_copy">
                        <h1>Basic</h1>
                        <div class="cost">$19.95</div>
                        <div onClick="ga('send','event','basic package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn">
                            Free State*
                        </div>
                        Just need to file<br>
                        a simple return?<br>
                    </div>
                    <div class="plan_btn">
                        <a onClick="ga('send','event','basic package','get started clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=BASIC">
                            Get Started
                        </a>
                    </div>
                </div>
                <ul>
                    <div class="title">Everything in FREE plus:</div>
                    <li>Earned income credit with<br> no dependents</li>
                    <li>Student loan deductions</li>
                    <li>Interest income greater<br> than $1,500</li>
                    <li>Premium tax credit</li>
                </ul>
            </div>
            <div class="online_plan">
                <div class="plan_tile">
                    <img src="/images/online_tile_deluxe_icon.png" class="plan_icon">
                    <div class="plan_copy">
                        <h1>Deluxe</h1>
                        <div class="cost">$34.95</div>
                        <div onClick="ga('send','event','deluxe package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn">
                            Free State*
                        </div>
                        Are you a parent<br>
                        or homeowner?<br>
                    </div>
                    <div class="plan_btn">
                        <a onClick="ga('send','event','deluxe package','get started clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=DELUXE">
                            Get Started
                        </a>
                    </div>
                </div>
                <ul>
                    <div class="title">Everything in BASIC plus:</div>
                    <li>Itemized deductions</li>
                    <li>Health savings accounts</li>
                    <li>Earned income tax<br> with dependents</li>
                    <li>Child care & dependent<br> care expenses</li>
                    <li>Educator expense deduction</li>
                </ul>
            </div>
            <div class="online_plan">
                <div class="plan_tile">
                    <img src="/images/online_tile_premium_icon.png" class="plan_icon">
                    <div class="plan_copy">
                        <h1>Premium</h1>
                        <div class="cost">$49.95</div>
                        <div onClick="ga('send','event','premium package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn">
                            Free State*
                        </div>
                        Are you a business owner<br>
                        or self-employed?<br>
                    </div>
                    <div class="plan_btn">
                        <a onClick="ga('send','event','premium package','get started clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=PREMIUM">
                            Get Started
                        </a>
                    </div>
                </div>
                <ul>
                    <div class="title">Everything in DELUXE plus:</div>
                    <li>Business income & expenses </li>
                    <li>Rental properties</li>
                    <li>Home office deductions</li>
                    <li>Depreciation & vehicle expenses</li>
                    <li>FREE unlimited phone support</li>
                </ul>
            </div>
        </div>
    </div>

    @Html.Partial("PromoTiles")

    <div class="tandc_modal">
        <div class="headline">Terms &amp; Conditions</div>
        Limited time offer for a free State return. Offer valid in conjunction with filing of a Federal tax return.<br /><br />
        $20 provided on a Walmart eGift Card and limited time offer. Not valid with any other promotion or discount. Minimum tax prep fee required. <br /><br />
        Jackson Hewitt warrants only to its Online registered users the accuracy of every form prepared using the Services. Jackson Hewitt shall guarantee its Online tax calculations. The term "Calculations" is defined to mean the numerical addition, subtraction or multiplication of numbers, and related automatic features that select numbers from tax tables. Calculations do not include any instance where a taxpayer can make a decision to substitute a number for the one automatically computed by the program, and Jackson Hewitt is not responsible for changes in tax law made by the Congress during tax season. We will pay any IRS penalties and/or interest resulting from an error in Jackson Hewitt's Online software program's calculations. The users are responsible for notifying Jackson Hewitt promptly of any change in your email so that notices of necessary updates or corrections to remedy any errors can be provided by Jackson Hewitt. You are responsible to notify Jackson Hewitt within 10 days of receipt of any notice of errors and/or interests and penalties from any tax authority resulting from your use of the Services. If the tax return can be amended to avoid or reduce your penalties and/or interests, you must file it on your own to limit further penalties and interest. We are not responsible for any interests and penalties resulting from your failure to enter all required information accurately, your willful or fraudulent omission or inclusion of information on your tax return, your misclassification of information on your tax return, your failure to notify Jackson Hewitt of your change of email address, or your failure to file an amended return to avoid or reduce your penalties and/or interests after receipt of such notice.<br>
        If you believe such a calculation error occurred and you have complied with the above conditions, please notify Jackson Hewitt in writing at Jackson Hewitt Inc., Attention - Client Care, 501 N. Cattlemen Road, Suite 300, Sarasota, FL 34232 as soon as you are aware of the error. You must include a copy of the IRS notice, a hardcopy of the tax return, and your user identification and password. The filing of such a claim shall constitute your authorization for Jackson Hewitt to obtain and review any copy and/or transcript of your tax return and any data files that may be in Jackson Hewitt's possession or control in order to evaluate your claim. You are responsible for paying any additional tax liability you may owe, and providing assistance and additional information as reasonably requested by Jackson Hewitt. <br /><br />
        Biggest refund guaranteed (or lowest tax) or your tax preparation fee back. If you are entitled to a larger refund (or smaller tax liability), we'll refund the tax preparation fees paid to us for that return (other product and service fees excluded). Federal returns only. Same tax facts must apply. You must file an amended return with another paid tax preparation company &amp;/or online provider by April 15, 2015 and submit your claim no later than October 15, 2015 with proof that the IRS accepted the positions taken on the amended return.<br /><br />
        Most offices are independently owned &amp; operated. <br /><br />
        H&R Block is a registered trademark of HRB Innovations, Inc. TurboTax&reg; and Quicken&reg; are registered trademarks of Intuit, Inc. TaxAct&reg; is a registered trademark of TaxAct, Inc.<br /><br />
    </div>
    <div class="cost_detail_modal">
        <div class="detail_header">
            State
        </div>
        <div class="clear"></div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    free
                </div>
                <img src="/images/popup_free_icon.png">
            </div>
            <div class="state_cost">
                <span class="strikethrough">$34.95</span> FREE
            </div>
        </div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    Basic
                </div>
                <img src="/images/popup_basic_icon.png">
            </div>
            <div class="state_cost">
                <span class="strikethrough">$34.95</span> FREE
            </div>
        </div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    Deluxe
                </div>
                <img src="/images/popup_deluxe_icon.png">
            </div>
            <div class="state_cost">
                <span class="strikethrough">$34.95</span> FREE
            </div>
        </div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    Premium
                </div>
                <img src="/images/popup_premium_icon.png">
            </div>
            <div class="state_cost">
                <span class="strikethrough">$34.95</span> FREE
            </div>
        </div>
    </div>
</div>
