﻿@{
    ViewBag.Title = "Do Your Taxes Online | E File | Online Tax Preparation";
    ViewBag.FooterLabel = "online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription { Prefer to prepare your own taxes? Use Jackson Hewitt's online tax return calculator and E File from the comfort of your own home. }

@section MetaKeywords
{
    <meta name="keywords" content="taxes online, online tax return, online tax preparation, income tax calculator, tax refund calculator, tax refund, tax return calculator, e file, efile, tax preparation" />
}

<div class="offer_template online_page">
    <div class="hero">
        <div class="content">
            <div class="hero_copy">
                <h1>
                    Filing your taxes just got easier.
                </h1>
                <p>
                    Choose Jackson Hewitt<sup>&#174;</sup> and you'll have the convenience of<br>
                    online tax prep, with the confidence that Jackson Hewitt's <br>
                    expertise and knowledge are behind you. In addition, online<br>
                    chat, email and phone support are available from a team of<br>
                    Tax Pros who are there for you when you need them.
                </p>
                <a class="hero_btn" onClick="ga('send','event','hero module','register now clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action">register now</a>
                <div class="account_access">
                    Already have an account?<br>
                    <a onClick="ga('send','event','hero module','log in clicked','@ViewBag.FooterLabel');" href="https://services.jhnet.com/STS/Account/SignIn">Log In</a>
                </div>
            </div>
        </div>
    </div>


    <div class="tandc">
      <div class="content">
        <div class="tandc_btn">Terms &amp; Conditions</div>
      </div>
    </div>

    @Html.Partial("OnlinePlans")

    @Html.Partial("PromoTiles")

    <div class="tandc_modal">
        <div class="headline">Terms &amp; Conditions</div>
        With the 100% Accuracy Guarantee, if we make an error preparing your return, we will cover penalties and interest. You must (a) notify your local Jackson Hewitt Tax Service<sup>&reg;</sup> office in writing or in person within 30 days of the date set forth in the first letter you receive from any taxing authority concerning your covered tax return (and promptly at any time you otherwise discover any error); (b) provide your local Jackson Hewitt<sup>&reg;</sup> office with copies of all documents related to the claim or otherwise requested (including any letters from a taxing authority and all documentation supporting your tax return); and (c) allow your local Jackson Hewitt office and Jackson Hewitt Inc. to investigate, question, or challenge the penalty, interest, additional tax or refund shortfall, in any manner they deem appropriate, at their expense, and cooperate and assist them in these efforts (including signing appropriate authorizations). You are responsible for paying the appropriate taxing authorities in a timely fashion, regardless of reimbursement by a Jackson Hewitt office or Jackson Hewitt Inc., as the case may be. Coverage under the Accuracy Guarantee is subject to payment of tax preparation fees. Coverage under the Accuracy Guarantee does not apply to the following situations ("Exclusions"): (i) you provided incorrect, incomplete or false information to your local Jackson Hewitt office or to Jackson Hewitt Inc.; (ii) your tax refund was reduced or not received as a result of a tax lien, judgment, support order, unpaid student or government-related loans, back taxes, or any other collection activity; (iii) you are unable to substantiate a deduction, credit, or other position taken on the covered tax return (whether it be a failure to produce sufficient documentation or otherwise); (iv) you failed to timely file the tax return or pay the taxes shown as owing on such return; (v) fraud; and/or (vi) for Affordable Care Act (ACA) tax preparation and related ACA services. Void if you refile with another tax preparation company.
        <br /><br />
        Biggest refund guaranteed (or lowest tax) or your tax preparation fee back. If you are entitled to a larger refund (or smaller tax liability), we'll refund the tax preparation fees paid to us for that return (other product and service fees excluded). Federal returns only. Same tax facts must apply. You must file an amended return with another paid tax preparation company &amp;/or online provider by April 15, 2015 and submit your claim no later than October 15, 2015 with proof that the IRS accepted the positions taken on the amended return.
        <br /><br />
        Most offices are independently owned &amp; operated.
    </div>
    <div class="cost_detail_modal">
        <div class="detail_header">
            State
        </div>
        <div class="clear"></div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    free
                </div>
                <img src="/images/popup_free_icon.png">
            </div>
            <div class="state_cost">
                $19.95
            </div>
        </div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    Basic
                </div>
                <img src="/images/popup_basic_icon.png">
            </div>
            <div class="state_cost">
                $29.95
            </div>
        </div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    Deluxe
                </div>
                <img src="/images/popup_deluxe_icon.png">
            </div>
            <div class="state_cost">
                $39.95
            </div>
        </div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    Premium
                </div>
                <img src="/images/popup_premium_icon.png">
            </div>
            <div class="state_cost">
                $49.95
            </div>
        </div>
    </div>
</div>
