﻿@using MvcApplication1.App_Code
@using JacksonHewitt.Web.Models
@{
    ViewBag.Title = "LocationUrls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="state-list-box clearfix">
    <h2>Location URLs</h2>
    <table border="1">
        <tr>
            <th>Office ID</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>URL</th>
        </tr>
        @foreach (string state in ViewBag.States)
        {
            foreach (LocationModel location in XmlDataParser.GetLocationsByState(state))
            {
            <tr>
                <td>@location.ID</td>
                <td>@location.Address</td>
                <td>@location.City</td>
                <td>@location.State</td>
                <td>@location.Zip</td>
                <td><a href="/tax-services-locations/@location.State/@location.ID/tax-preparation-@location.CityURL">
                        /tax-services-locations/@location.State/@location.ID/tax-preparation-@location.CityURL</a></td>
            </tr>
            }
        }
    </table>
</div>



@section MetaDescription { }
