﻿@model JacksonHewitt.Web.Models.LocationModel
@{
    ViewBag.Title = @Model.City + ", " + @Model.State + " Tax Preparation | 6,300+ Locations";
    ViewBag.FooterLabel = "location store_" + Model.ID;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section MetaDescription { Looking to get the biggest tax refund? Jackson Hewitt tax preparation has 6,300+ convenient locations and offers a cash advance on your tax return. }

@section MetaKeywords
{
    <meta name="keywords" content="tax preparation, tax refund, taxes, income tax, tax prep locations" />
}

<div class="location_page">
  <div class="hero">
    <div class="content">
      <div class="hero_colorblock"></div>
      <div class="hero_copy">
        <h1>here's where your<br> hard work pays off.</h1>
        Jackson Hewitt<sup>&#174;</sup> is in your corner to help you get<br>
        the biggest tax refund you deserve or your<br>
        money back. Our Tax Pros work harder, dig deeper<br>
        and fight to get you 100% of your hard earned<br>
        money. We make it easy, and take care of the hard<br>
        work so you don't have to worry. Because we know<br>
        how to make the tax code work for you.
      </div>
    </div>
    <div class="hero_image">
      <img src="/images/local_hero.jpg">
    </div>
  </div>


  <div class="tandc">
    <div class="content">
      <div class="tandc_btn">Terms & Conditions</div>
    </div>
  </div>

  <div class="location">
    <div class="content">
      <div class="map">
        <!-- DIMENSIONS ARE DEFINED ON PARENT DIV AND IFRAME. CAN REMOVE IFRAME CSS IF NOT USING IFRAME -->
        <iframe frameborder="0" style="border:0" src=""></iframe>
        @Html.Hidden("xcoord", Model.XCoordinate)
        @Html.Hidden("ycoord", Model.YCoordinate)
      </div>
      <div class="information">
        <h1>stop by YOUR LOCAL OFFICE.</h1>
        With over 6,300 locations, including nearly 3,000 neighborhood<br>
        Walmarts. You are never far from a Jackson Hewitt Tax Expert
        <div class="address">
          @Model.Address <br />
          <span>@Model.City</span>,  @Model.State  @Model.Zip<br />
          @Model.Phone <br />
        </div>

        <a class="appointment_btn" onClick="ga('send','event','file in-store','schedule appointment clicked','location store_@Model.ID');" href="http://www.jacksonhewitt.com/OfficeLocator/Office/?office=@Model.ID">
          <span class="cta">schedule an appointment</span>
          <span class="arrow"> ></span>
        </a>
      </div>
    </div>
  </div>

  @Html.Partial("PromoTiles")

  <div class="tandc_modal">
    <div class="headline">Terms &amp; Conditions</div>
    With the 100% Accuracy Guarantee, if we make an error preparing your return, we will cover penalties and interest. You must (a) notify your local Jackson Hewitt Tax Service<sup>&reg;</sup> office in writing or in person within 30 days of the date set forth in the first letter you receive from any taxing authority concerning your covered tax return (and promptly at any time you otherwise discover any error); (b) provide your local Jackson Hewitt<sup>&reg;</sup> office with copies of all documents related to the claim or otherwise requested (including any letters from a taxing authority and all documentation supporting your tax return); and (c) allow your local Jackson Hewitt office and Jackson Hewitt Inc. to investigate, question, or challenge the penalty, interest, additional tax or refund shortfall, in any manner they deem appropriate, at their expense, and cooperate and assist them in these efforts (including signing appropriate authorizations). You are responsible for paying the appropriate taxing authorities in a timely fashion, regardless of reimbursement by a Jackson Hewitt office or Jackson Hewitt Inc., as the case may be. Coverage under the Accuracy Guarantee is subject to payment of tax preparation fees. Coverage under the Accuracy Guarantee does not apply to the following situations ("Exclusions"): (i) you provided incorrect, incomplete or false information to your local Jackson Hewitt office or to Jackson Hewitt Inc.; (ii) your tax refund was reduced or not received as a result of a tax lien, judgment, support order, unpaid student or government-related loans, back taxes, or any other collection activity; (iii) you are unable to substantiate a deduction, credit, or other position taken on the covered tax return (whether it be a failure to produce sufficient documentation or otherwise); (iv) you failed to timely file the tax return or pay the taxes shown as owing on such return; (v) fraud; and/or (vi) for Affordable Care Act (ACA) tax preparation and related ACA services. Void if you refile with another tax preparation company.
    <br /><br />
    Biggest refund guaranteed (or lowest tax) or your tax preparation fee back. If you are entitled to a larger refund (or smaller tax liability), we'll refund the tax preparation fees paid to us for that return (other product and service fees excluded). Federal returns only. Same tax facts must apply. You must file an amended return with another paid tax preparation company &amp;/or online provider by April 15, 2015 and submit your claim no later than October 15, 2015 with proof that the IRS accepted the positions taken on the amended return.
    <br /><br />
    Most offices are independently owned &amp; operated.
  </div>
</div>

<script>
  var ycoord = $('#ycoord').val();
  var xcoord = $('#xcoord').val();
  var mapURL= "https://www.google.com/maps/embed/v1/place?q=" + ycoord +"%2C%20" + xcoord +"&key=AIzaSyCVjJp-EUDdlxmFjvL0WvJNmdRtFdwwHqE";

  $("iframe").attr("src", mapURL);
</script>
