@{
    ViewBag.Title = "Get a Walmart Gift Card | Tax Preparation | Special Offers";
    ViewBag.FooterLabel = "walmart_50";
    Layout = "~/Views/Shared/_WalmartLayout.cshtml";
}

@section MetaDescription { Have your taxes prepared at one of our Jackson Hewitt locations inside of Walmart and walk away with the biggest refund possible and a $20 Walmart gift card. }

@section MetaKeywords
{
    <meta name="keywords" content="gift card, tax preparation, special offer, tax prep" />
}

   <div class="offer_template walmart20_page">
     <div class="hero">
       <div class="content">
         <div class="hero_copy">
          <h1>
             Get a<span class="walmart_nocaps"> Walmart</span> Gift<br>
             Card Instantly.
          </h1>
           When you file with Jackson Hewitt<sup>&#174;</sup>, it's our gift to you for giving us<br>
           a try. We'll give you a Walmart Gift Card, when you let us file your taxes.<br>
        It's that simple. Use the card to make purchases in-store or online.
           <br><br>
           <h2>Available in store only.</h2>
         </div>

         <div class="hero_image walmart_card">
           <img src="/images/walmart_online_hero_2.png">
           <div class="delivery_note">Delivered Electronically</div>
         </div>
       </div>
     </div>

     <div class="office_and_online">
       <div class="content">
         <div class="local_office">
           <div class="information">
             <h1>$50 Instantly when you<br>stop by YOUR LOCAL OFFICE.</h1>
             With over 6,300 locations, including nearly 3,000 neighborhood <br>
             Walmarts, you're never far from your Jackson Hewitt tax expert.
             <br>
             <img class="local_office_image" src="/Images/local_office_icon.png">
             <a class="office_btn" onClick="ga('send','event','file in-store','find office near you clicked','@ViewBag.FooterLabel');" href="http://jacksonhewitt.com/OfficeLocator">
                 <span class="cta">find an office near you</span>
                 <span class="arrow"> ></span>
             </a>
           </div>
         </div>
         <div class="file_online">
           <div class="information">
             <h1>$20 Instantly when you<br> FILE ONLINE.</h1>
             Your biggest refund. Guaranteed. Right at your fingertips.
             <br>
             <img class="file_online_image" src="/Images/file_online_icon.png">
             <a class="file_online_btn" onClick="ga('send','event','file online','get started clicked','@ViewBag.FooterLabel');" href="http://offers.jacksonhewitt.com/tax-preparation/do-your-taxes-online" target="_blank">
                 <span class="cta">Get Started</span>
                 <span class="arrow"> ></span>
             </a>
           </div>
         </div>
       </div>
     </div>

     @Html.Partial("PromoTiles")

     <div class="tandc" style="top:0px;">
       <div class="content">
         <div class="tandc_btn">Terms &amp; Conditions</div>
       </div>
     </div>

     <div class="tandc_modal">
       <div class="headline">Terms &amp; Conditions</div>
       $50 provided on a Walmart eGiftcard and available through March 31, 2015.  Not valid with any other promotion or discount. Minimum tax prep fee required.  Ask Tax Pro for details.
       <br /><br />
       With the 100% Accuracy Guarantee, if we make an error preparing your return, we will cover penalties and interest. You must (a) notify your local Jackson Hewitt Tax Service<sup>&reg;</sup> office in writing or in person within 30 days of the date set forth in the first letter you receive from any taxing authority concerning your covered tax return (and promptly at any time you otherwise discover any error); (b) provide your local Jackson Hewitt<sup>&reg;</sup> office with copies of all documents related to the claim or otherwise requested (including any letters from a taxing authority and all documentation supporting your tax return); and (c) allow your local Jackson Hewitt office and Jackson Hewitt Inc. to investigate, question, or challenge the penalty, interest, additional tax or refund shortfall, in any manner they deem appropriate, at their expense, and cooperate and assist them in these efforts (including signing appropriate authorizations). You are responsible for paying the appropriate taxing authorities in a timely fashion, regardless of reimbursement by a Jackson Hewitt office or Jackson Hewitt Inc., as the case may be. Coverage under the Accuracy Guarantee is subject to payment of tax preparation fees. Coverage under the Accuracy Guarantee does not apply to the following situations ("Exclusions"): (i) you provided incorrect, incomplete or false information to your local Jackson Hewitt office or to Jackson Hewitt Inc.; (ii) your tax refund was reduced or not received as a result of a tax lien, judgment, support order, unpaid student or government-related loans, back taxes, or any other collection activity; (iii) you are unable to substantiate a deduction, credit, or other position taken on the covered tax return (whether it be a failure to produce sufficient documentation or otherwise); (iv) you failed to timely file the tax return or pay the taxes shown as owing on such return; (v) fraud; and/or (vi) for Affordable Care Act (ACA) tax preparation and related ACA services. Void if you refile with another tax preparation company.
       <br /><br />
       Biggest refund guaranteed (or lowest tax) or your tax preparation fee back. If you are entitled to a larger refund (or smaller tax liability), we'll refund the tax preparation fees paid to us for that return (other product and service fees excluded). Federal returns only. Same tax facts must apply. You must file an amended return with another paid tax preparation company &amp;/or online provider by April 15, 2015 and submit your claim no later than October 15, 2015 with proof that the IRS accepted the positions taken on the amended return.
       <br /><br />
       Most offices are independently owned &amp; operated.
     </div>
   </div>
