﻿@using MvcApplication1.App_Code
@using JacksonHewitt.Web.Models
@{
    ViewBag.Title = "Sitemap";
    ViewBag.FooterLabel = "sitemap";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}

@section MetaDescription { }

<div class="state-list-box clearfix">
    <h2>Sitemap page</h2>
    <div>

        <h3>Layout</h3>
        <p><a href="/wm75">$75 Walmart card</a></p>
        <p><a href="/wm100">$100 Walmart card</a></p>
        <p><a href="/200">$200 Advance promotion</a></p>
        <p><a href="/300">$300 Advance promotion</a></p>
        <p><a href="/500">$500 Advance promotion</a></p>
        <p><a href="/freestate">Walmart Free State</a></p>
        <p><a href="/wmjho">Walmart JHO Promotion</a></p>
        <p><a href="/tax-preparation/special-offers/visa-gift-card-50">$50 Visa Card</a></p>
        <p><a href="/visa100">$100 Visa Card</a></p>
        <p><a href="/tax-preparation/resource-center/healthcare-insurance-taxes">Affordable Care Act Insurance</a></p>
        <p><a href="/tax-preparation/special-offers/refer-a-friend">Refer a Friend Promotion</a></p>
        <p><a href="/tax-preparation/about-jackson-hewitt">About Jackson Hewitt</a></p>
        <p><a href="/tax-preparation/do-your-taxes-online">Do Your Taxes Online</a></p>

        <h3>Layout Responsive</h3>
        <p><a href="/wm2">Walmart WM2 Promotion</a></p>
        <p><a href="/tax-preparation/special-offers/walmart-gift-card-50">$50 Walmart Card</a></p>
        <p><a href="http://104.130.216.82/back-taxes">Back Taxes</a></p>
        <p><a href="http://104.130.216.82/fileyourreturn">FileYourReturn</a></p>
        <p><a href="http://104.130.216.82/trr">Tax Return Review</a></p>
        <p><a href="http://104.130.216.82/tax-preparation/thank-you-2015">Thank You</a></p>
        <!--<p><a href="/free-fileextension">Free Federal Extension</a></p>
        <p><a href="/fileextension">No Price Federal Extension</a></p>-->
        <p><a href="http://104.130.216.82/tdn">Tax Defense Network</a></p>

        <h3>FFA Layout</h3>
        <p><a href="/jhoffa">Free File Act</a></p>

        <h3>Walmart Layout</h3>
        <p><a href="/wmcard">Walmart Online Card</a></p>


    </div>
</div>

<div class="state-list-box clearfix">
  <h3>Locations By States</h3>
  <ul class="">
  @foreach (string state in ViewBag.States)
  {
    <li><a href="/tax-services-locations/@state">@StatesHelper.GetStateName(state)</a></li>
  }
  </ul>
</div>

<div class="state-list-box clearfix">
  <h3>All Locations</h3>
  @{
  count = 1;
  }
  @foreach (string state in ViewBag.States)
  {
    <div class="clearfix">
    <h4>@count<span>)</span> @StatesHelper.GetStateName(state)</h4><br />
    @foreach (LocationModel location in XmlDataParser.GetLocationsByState(state))
      {
      <div class="all-column">
        <div class="inner-column"><a href="/tax-services-locations/@location.State/@location.ID/tax-preparation-@location.CityURL">@location.Address</a></div>
        <div class="inner-column"><a href="/tax-services-locations/@location.State/@location.ID/tax-preparation-@location.CityURL"><span>@location.City</span><span>,</span> <span>@location.State</span>  @location.Zip</a></div>
        <div class="inner-column"><a href="/tax-services-locations/@location.State/@location.ID/tax-preparation-@location.CityURL">@location.Phone</a></div>
        <hr />
      </div>
      }
    </div>
    count++;
  }
</div>
