﻿@{
    ViewBag.Title = "Tax Defense Network";
    ViewBag.FooterLabel = "TDN";
    Layout = "~/Views/Shared/_LayoutResponsive.cshtml";
}

@section MetaDescription { Owe back taxes? Get help now! Jackson Hewitt has teamed up with Tax Defense Network to help you find relief from tax debt. }

@section MetaKeywords
{
    <meta name="keywords" content="taxes online, online tax return, online tax preparation, income tax calculator, tax refund calculator, tax refund, tax return calculator, e file, efile, tax preparation, special offers, file extension, back taxes, back-taxes" />
}

<div class="tdn_page">
  <div class="hero" style="background-image:url('images/tdn_hero.jpg'); background-repeat:no-repeat; background-position:50% 0%;">
    <div class="content">
      <div class="hero_copy">

        <div class="poweredby">Powered by <i>Tax Defense Network<sup>&reg;</sup></i></div>

        <h1>owe back taxes?<br>Get help now!</h1>
        Jackson Hewitt<sup>&#174;</sup> has teamed up with Tax Defense Network<sup>&reg;</sup> to help you find relief from tax debt.  With
        over 60 years of experience, Tax Defense Network<sup>&reg;</sup> can deliver results for your situation. Call 1-800-210-7869 for a free, confidential consultation.

      </div>
    </div>
  </div>

  <div class="tandc">
    <div class="content">
      <div class="tandc_btn">Terms &amp; Conditions</div>
    </div>
  </div>

  <div class="office_and_online">
    <div class="content">
      <div class="local_office">
        <div class="information">
          <h2>Tax Debt Relief Experts Are Here to Help.</h2>
          <br />
          For a Free, Confidential Consultation Today:
          <div class="call_number call_number_desk">
            Call 1-800-210-7869
          </div>
          <div class="call_number call_number_mob">
            <a href="tel:18002107869">Call 1-800-210-7869</a>
          </div>
        </div>
      </div>
      <div class="file_online">
        <div class="information">
          <h2>Take The Worry Away.</h2>
          Schedule a free, confidential consultation today. Complete a form and a tax debt relief expert will contact you.
          <a class="file_online_btn" onClick="ga('send','event','tax defense network','have an expert contact you clicked','@ViewBag.FooterLabel');" href="http://www.taxdefensenetwork.com/jacksonhewitt/"  target="_blank">
              <span class="cta">have a tax debt relief expert contact you  ></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- font sizes styled inline due to quantity of variations -->
  <div class="promo">
      <div class="content">
      <a class="tiles" onClick="ga('send','event','tax defense network','tax defense network clicked','@ViewBag.FooterLabel');" href="http://www.taxdefensenetwork.com/jacksonhewitt/" target="_blank">
          <div class="tile_title">
          <span class="white tdn_title_12">TAX DEFENSE NETWORK<sup>&reg;</sup> HAS</span>
          <span class="white tdn_title_12">Tax Solutions</span>
          <div class="white tdn_title_1"> for Tax Problems.</div>
          </div>
          <img class="accuracy_image" src="/images/person_icon.png">
      </a>
      <a class="tiles" onClick="ga('send','event','tax defense network','tax defense network clicked','@ViewBag.FooterLabel');" href="http://www.taxdefensenetwork.com/jacksonhewitt/" target="_blank">
          <div class="tile_title">
          <span class="white tdn_title_12">TAX DEFENSE NETWORK<sup>&reg;</sup> IS</span>
          <span class="white tdn_title_13">Rated A+</span>
          <div class="white tdn_title_12">by the BBB.</div>
          </div>
          <img class="rated_image" src="/images/rated_icon.png">
      </a>
      <a class="tiles" onClick="ga('send','event','tax defense network','tax defense network clicked','@ViewBag.FooterLabel');" href="http://www.taxdefensenetwork.com/jacksonhewitt/" target="_blank">
          <div class="tile_title">
          <span class="tdn_title tdn_title_145">TAX DEFENSE NETWORK<sup>&reg;</sup></span>
          <span class="white tdn_title_12">Focused on your</span>
          <div class="white tdn_title_145">Satisfaction.</div>
          </div>
          <img class="focused_image" src="/images/focused_icon.png">
      </a>
      </div>
  </div>

    <div class="tandc_modal">
      <div class="headline">Terms &amp; Conditions</div>
        Services provided by Tax Defense Network<sup>&reg;</sup>, a third party provider.
        No obligation initial consultation.  Fees apply for services.
      </div>
  </div>
