﻿@{
    ViewBag.Title = "Jackson Hewitt customers – thank you, gracias, grazie";
    ViewBag.FooterLabel = "thank_you_2015";
    Layout = "~/Views/Shared/_LayoutResponsive.cshtml";
}

@section MetaDescription { Thank you, Mahalo, Gracias, Merci, Grazie, Danke from Jackson Hewitt. }

@section MetaKeywords
{
    <meta name="keywords" content="tax return, tax refund, tax preparation, irs tax refund" />
}

    <div class="offer_template online_page thankyou-page">
        <div class="hero wm2_hero">
            <div class="content">
                <div class="hero_video">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/n97-MacTWiM?autoplay=1&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <h1>
                  Thank you, Mahalo, Gracias, Merci, Grazie, Danke
                </h1>
            </div>
        </div>

        <div class="tandc">
          <div class="content">
            <div class="tandc_btn">Terms & Conditions</div>
          </div>
        </div>

        <div class="brand_tiles_section">
            <div class="content">
                <div class="brand_tile">
                    <div class="top_tile">
                        <div class="tile_title">
                            100% accuracy.
                            <div class="white">Guaranteed.</div>
                        </div>
                        <img src="/images/person_icon.png">
                    </div>
                    <div class="bottom_tile">
                        <ul>
                            <li>Hold our professional and<br>certified tax preparers to the <br>highest standards in the industry.</li>
                            <li>Depend on us to find all of the<br>money you deserve.</li>
                            <li>If your return is not 100% accurate,<br> we'll pay the penalties and interest.</li>
                        </ul>
                    </div>
                </div>
                <div class="brand_tile">
                    <div class="top_tile">
                        <div class="tile_title">
                            Biggest refunds.<br>
                            <span class="white">Guaranteed.</span>
                        </div>
                        <img src="/images/bills_icon.png">
                    </div>
                    <div class="bottom_tile">
                        <ul>
                            <li>We fight to get you 100%<br> of your hard earned money.</li>
                            <li>Understand the needs of<br> every customer.</li>
                            <li>If you receive a bigger<br> refund, we’ll refund 100% of your<br> tax preparation fee.</li>
                        </ul>
                    </div>
                </div>
                <div class="brand_tile">
                    <div class="top_tile">
                        <div class="tile_title">
                            Over 6,300 locations,
                            <div class="white shrunk">including nearly 3,000 <span class="walmart_nocaps">Walmarts.</span></div>
                        </div>
                        <img src="/images/house_icon.png">
                    </div>
                    <div class="bottom_tile">
                        <ul>
                            <li>We're a leading national tax<br>company that's rooted in<br> your local community.</li>
                            <li>No appointment necessary.</li>
                            <li>Open when you need us.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="office_and_online">
          <div class="content">
            <div class="local_office">
              <div class="information">
                <div class="information_copy">
                  <h1>STOP BY YOUR LOCAL OFFICE.</h1>
                  With thousands of locations across the country open year-round, you're never far from your Jackson Hewitt tax expert.
                </div>
                <br>
                <img class="local_office_image" src="/Images/local_office_icon.png">

                <script>
                    function postForm() {
                        var form = document.getElementById('zipForm');
                        findOfficeText = document.getElementById('findOfficeText').value;
                        form.setAttribute('action', 'http://jacksonhewitt.com/OfficeLocator/Search-Results/?loc=' + findOfficeText + '&filter=y');
                        form.submit();
                    }
                </script>

                <form name="zipForm" id="zipForm" method="post" enctype="multipart/form-data" action="javascript:postForm();">
                  <input id="findOfficeText" name="findOfficeText" class="findOfficeText" type="text" placeholder="Enter City/State/ZIP" />
                  <button type="button" id="findOffice" class="office_btn" onClick="javascript:postForm();">
                    <span class="cta">find an office near you</span>
                    <span class="arrow"> ></span>
                  </button>
                </form>

              </div>
            </div>

            <div class="file_online">
              <div class="information">
                <div class="information_copy">
                  <h1>FILE ONLINE.</h1>
                  Your biggest refund. Guaranteed. Right at your fingertips.

                </div>
                <br>
                <img class="file_online_image" src="/Images/file_online_icon.png">
                <a style="cursor:pointer;" class="file_online_btn" onClick="trackOutboundLink('file online','get started clicked','@ViewBag.FooterLabel','http://offers.jacksonhewitt.com/wm2');">
                    <span class="cta">Get Started</span>
                    <span class="arrow"> ></span>
                </a>
              </div>
            </div>

          </div>
        </div>

    <div class="tandc_modal">
        <div class="headline">Terms &amp; Conditions</div>
        With the 100% Accuracy Guarantee, if we make an error preparing your return, we will cover penalties and interest. You must (a) notify your local Jackson Hewitt Tax Service&reg; office in writing or in person within 30 days of the date set forth in the first letter you receive from any taxing authority concerning your covered tax return (and promptly at any time you otherwise discover any error); (b) provide your local Jackson Hewitt&reg; office with copies of all documents related to the claim or otherwise requested (including any letters from a taxing authority and all documentation supporting your tax return); and (c) allow your local Jackson Hewitt office and Jackson Hewitt Inc. to investigate, question, or challenge the penalty, interest, additional tax or refund shortfall, in any manner they deem appropriate, at their expense, and cooperate and assist them in these efforts (including signing appropriate authorizations). You are responsible for paying the appropriate taxing authorities in a timely fashion, regardless of reimbursement by a Jackson Hewitt office or Jackson Hewitt Inc., as the case may be. Coverage under the Accuracy Guarantee is subject to payment of tax preparation fees. Coverage under the Accuracy Guarantee does not apply to the following situations ("Exclusions"): (i) you provided incorrect, incomplete or false information to your local Jackson Hewitt office or to Jackson Hewitt Inc.; (ii) your tax refund was reduced or not received as a result of a tax lien, judgment, support order, unpaid student or government-related loans, back taxes, or any other collection activity; (iii) you are unable to substantiate a deduction, credit, or other position taken on the covered tax return (whether it be a failure to produce sufficient documentation or otherwise); (iv) you failed to timely file the tax return or pay the taxes shown as owing on such return; (v) fraud; and/or (vi) for Affordable Care Act (ACA) tax preparation and related ACA services. Void if you refile with another tax preparation company.
        <br><br>
        Biggest refund guaranteed (or lowest tax) or your tax preparation fee back. If you are entitled to a larger refund (or smaller tax liability), we'll refund the tax preparation fees paid to us for that return (other product and service fees excluded). Federal returns only. Same tax facts must apply. You must file an amended return with another paid tax preparation company &/or online provider by April 15, 2015 and submit your claim no later than October 15, 2015 with proof that the IRS accepted the positions taken on the amended return.
        <br><br>
        Most offices are independently owned &amp; operated.
    </div>
    <div class="cost_detail_modal">
        <div class="detail_header">
            State
        </div>
        <div class="clear"></div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    free
                </div>
                <img src="/images/popup_free_icon.png">
            </div>
            <div class="state_cost">
                $34.95
            </div>
        </div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    Basic
                </div>
                <img src="/images/popup_basic_icon.png">
            </div>
            <div class="state_cost">
                $34.95
            </div>
        </div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    Deluxe
                </div>
                <img src="/images/popup_deluxe_icon.png">
            </div>
            <div class="state_cost">
                $34.95
            </div>
        </div>
        <div class="modal_detail">
            <div class="detail_title">
                <div class="title">
                    Premium
                </div>
                <img src="/images/popup_premium_icon.png">
            </div>
            <div class="state_cost">
                $34.95
            </div>
        </div>
    </div>
</div>

<!-- PREVENT VIDEO FROM OVERLAPPING MODAL -->
<script>
$(document).ready(function() {
   $("iframe").each(function(){
      var ifr_source = $(this).attr('src');
      var wmode = "wmode=transparent";
      if(ifr_source.indexOf('?') != -1) $(this).attr('src',ifr_source+'&'+wmode);
      else $(this).attr('src',ifr_source+'?'+wmode);
   });
});
</script>
