@{
    ViewBag.Title = "Tax Return Review at Jackson Hewitt | Get A Bigger Refund | Find Errors and Deductions";
    ViewBag.FooterLabel = "walmart_50";
    Layout = "~/Views/Shared/_LayoutResponsive.cshtml";
}

@section MetaDescription { Let our tax pros review your tax return. We find deductions others miss. You could get more money back. }

@section MetaKeywords
{
    <meta name="keywords" content="taxes online, online tax return, online tax preparation, tax refund, e file, efile, tax preparation, special offers, tax return review, free tax review" />
}

<div class="offer_template online_page rr_page">
    <div class="hero wm50_hero">
        <div class="content">
            <div class="hero_copy sixty-wide">
                <h1>
                    Free Tax Return Review
                </h1>
                    Let our tax pros review your tax return.  We find deductions others miss.  You could get money back.
                    <br><br>
                    <script>
                        function postFormA() {
                            var form = document.getElementById('zipFormA');
                            findOfficeTextA = document.getElementById('findOfficeTextA').value;
                            form.setAttribute('action', 'http://jacksonhewitt.com/OfficeLocator/Search-Results/?loc=' + findOfficeTextA + '&filter=y');
                            form.submit();
                        }
                    </script>

                    <form name="zipFormA" id="zipFormA" method="post" enctype="multipart/form-data" action="javascript:postFormA();">
                      <input id="findOfficeTextA" name="findOfficeTextA" class="findOfficeText" type="text" placeholder="Enter City/State/ZIP" />
                      <button type="button" id="findOfficeA" class="office_btn visa50_cta" onClick="javascript:postFormA();">
                        <span class="cta">find an office near you</span>
                        <span class="arrow"> ></span>
                      </button>
                    </form>
            </div>
            <div class="hero_image exclamation">
              <img src="~/Images/Tax_Return_Review.png">
            </div>
        </div>
    </div>

  <div class="tandc">
    <div class="content">
      <div class="tandc_btn">Terms &amp; Conditions</div>
    </div>
  </div>

  @Html.Partial("OfficeOnlineWalmart")

  @Html.Partial("PromoTiles")

  <div class="tandc_modal">
    <div class="headline">Terms &amp; Conditions</div>
    Not all tax return reviews will result in additional money from a taxing authority. Valid for tax returns filed within the last three years. Fees apply to file a corrected or amended return.
    <br /><br />
    With the 100% Accuracy Guarantee, if we make an error preparing your return, we will cover penalties and interest. You must (a) notify your local Jackson Hewitt Tax Service&reg; office in writing or in person within 30 days of the date set forth in the first letter you receive from any taxing authority concerning your covered tax return (and promptly at any time you otherwise discover any error); (b) provide your local Jackson Hewitt® office with copies of all documents related to the claim or otherwise requested (including any letters from a taxing authority and all documentation supporting your tax return); and (c) allow your local Jackson Hewitt office and Jackson Hewitt Inc. to investigate, question, or challenge the penalty, interest, additional tax or refund shortfall, in any manner they deem appropriate, at their expense, and cooperate and assist them in these efforts (including signing appropriate authorizations). You are responsible for paying the appropriate taxing authorities in a timely fashion, regardless of reimbursement by a Jackson Hewitt office or Jackson Hewitt Inc., as the case may be. Coverage under the Accuracy Guarantee is subject to payment of tax preparation fees. Coverage under the Accuracy Guarantee does not apply to the following situations ("Exclusions"): (i) you provided incorrect, incomplete or false information to your local Jackson Hewitt office or to Jackson Hewitt Inc.; (ii) your tax refund was reduced or not received as a result of a tax lien, judgment, support order, unpaid student or government-related loans, back taxes, or any other collection activity; (iii) you are unable to substantiate a deduction, credit, or other position taken on the covered tax return (whether it be a failure to produce sufficient documentation or otherwise); (iv) you failed to timely file the tax return or pay the taxes shown as owing on such return; (v) fraud; and/or (vi) for Affordable Care Act (ACA) tax preparation and related ACA services. Void if you refile with another tax preparation company.
    <br /><br />
    Biggest refund guaranteed (or lowest tax) or your tax preparation fee back. If you are entitled to a larger refund (or smaller tax liability), we'll refund the tax preparation fees paid to us for that return (other product and service fees excluded). Federal returns only. Same tax facts must apply. You must file an amended return with another paid tax preparation company &/or online provider by April 15, 2015 and submit your claim no later than October 15, 2015 with proof that the IRS accepted the positions taken on the amended return.
    <br /><br />
    Most offices are independently owned & operated.

    </div>
</div>
