﻿@{
    ViewBag.Title = "Get a $100 Visa Gift Card | Tax Preparation | Special Offers";
    ViewBag.FooterLabel = "visa_100";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @section MetaDescription { Jackson Hewitt's tax professionals don't just get you the biggest refund possible. Visit one of our 6,300+ locations and get a $100 gift card as our thanks to you! }

@section MetaKeywords
{
    <meta name="keywords" content="gift card, tax preparation, special offer, tax prep" />
}
 <div class="offer_template visa50_page">
   <div class="hero visa50_hero">
     <div class="content">
        <div class="hero_copy">
          <h1>
            Get<span class= "headline_highlight">$100</span>Today On<br>
            a Prepaid Visa<sup>&reg;</sup> Card.
          </h1>
          It's our gift to you for giving us a try. We'll give you $100 instantly<br />
          on a Prepaid Visa&reg; Card, when you let us file your taxes. It's that<br />
          simple. Who couldn't use an extra $100? Available in store only.
          <br /><br />

          <span class="fine_print">Offer valid at participating Jackson Hewitt&reg; locations.</span>
          <br /><br />
          <span class="fine_print">Minimum Tax Prep Fee Required.</span>  
          <br />
          <a class="office_btn visa50_cta" onClick="ga('send','event','hero cta clicked','find office near you clicked','@ViewBag.FooterLabel');" href="http://jacksonhewitt.com/OfficeLocator">
            <span class="cta">find an office near you</span>
            <span class="arrow"> ></span>
          </a>
        </div>
        <div class="hero_image">
          <img src="/images/visa50_hero_2.png">
        </div>
      </div>
    </div>

    <div class="tandc">
      <div class="content">
        <div class="tandc_btn">Terms &amp; Conditions</div>
      </div>
    </div>

    @Html.Partial("OfficeOnline")

    @Html.Partial("PromoTiles")

    <div class="tandc_modal">
      <div class="headline">Terms &amp; Conditions</div>
      $100 provided on a JH Preferred Prepaid Visa Card. Limited time offer.  Not valid with any other promotion or discount. Minimum tax prep fee required. The JH Preferred Prepaid Visa Card is issued by Sutton Bank pursuant to a license from Visa U.S.A. Inc. The Card is distributed and serviced by ITC Financial Licenses, Inc., which is licensed as a Money Transmitter by the New York State Department of Financial Services. Card registration required. Terms and conditions apply – see Cardholder Agreement for details. 
        <br><br>
      With the 100% Accuracy Guarantee, if we make an error preparing your return, we will cover penalties and interest. You must (a) notify your local Jackson Hewitt Tax Service<sup>&reg;</sup> office in writing or in person within 30 days of the date set forth in the first letter you receive from any taxing authority concerning your covered tax return (and promptly at any time you otherwise discover any error); (b) provide your local Jackson Hewitt<sup>&reg;</sup> office with copies of all documents related to the claim or otherwise requested (including any letters from a taxing authority and all documentation supporting your tax return); and (c) allow your local Jackson Hewitt office and Jackson Hewitt Inc. to investigate, question, or challenge the penalty, interest, additional tax or refund shortfall, in any manner they deem appropriate, at their expense, and cooperate and assist them in these efforts (including signing appropriate authorizations). You are responsible for paying the appropriate taxing authorities in a timely fashion, regardless of reimbursement by a Jackson Hewitt office or Jackson Hewitt Inc., as the case may be. Coverage under the Accuracy Guarantee is subject to payment of tax preparation fees. Coverage under the Accuracy Guarantee does not apply to the following situations ("Exclusions"): (i) you provided incorrect, incomplete or false information to your local Jackson Hewitt office or to Jackson Hewitt Inc.; (ii) your tax refund was reduced or not received as a result of a tax lien, judgment, support order, unpaid student or government-related loans, back taxes, or any other collection activity; (iii) you are unable to substantiate a deduction, credit, or other position taken on the covered tax return (whether it be a failure to produce sufficient documentation or otherwise); (iv) you failed to timely file the tax return or pay the taxes shown as owing on such return; (v) fraud; and/or (vi) for Affordable Care Act (ACA) tax preparation and related ACA services. Void if you refile with another tax preparation company.
      <br /><br />
      Biggest refund guaranteed (or lowest tax) or your tax preparation fee back. If you are entitled to a larger refund (or smaller tax liability), we'll refund the tax preparation fees paid to us for that return (other product and service fees excluded). Federal returns only. Same tax facts must apply. You must file an amended return with another paid tax preparation company &amp;/or online provider by April 15, 2015 and submit your claim no later than October 15, 2015 with proof that the IRS accepted the positions taken on the amended return.
      <br /><br />
      Most offices are independently owned &amp; operated.
    </div>
  </div>
