﻿@{
	ViewBag.Title = "Get a Walmart Gift Card | Tax Preparation | Special Offers";
	ViewBag.FooterLabel = "walmart_75";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription { Have your taxes prepared at one of our Jackson Hewitt locations inside of Walmart and walk away with the biggest refund possible and a $75 Walmart gift card. }

@section MetaKeywords
{
	<meta name="keywords" content="gift card, tax preparation, special offer, tax prep" />
}

   <div class="offer_template walmart20_page">
	 <div class="hero">
	   <div class="content">
		 <div class="hero_copy">
		  <h1>
			 Get<span class= "headline_highlight">$75</span>Instantly On<br>
			 a <span class="walmart_nocaps">Walmart</span> Gift Card.
		  </h1>
		   It's our gift to you for giving us a try. We'll give you $75 instantly on a<br>
		   Walmart Gift Card, when you let us file your taxes. It's that simple. Use<br>
		   the card to make purchases in-store or online.
		   <br><br>
		   <span class="fine_print">Offer valid at participating Jackson Hewitt&reg; locations.</span>
		   <br><br>
		   <span class="fine_print">Minimum Tax Prep Fee Required.</span>
		 </div>
		 <div class="hero_image walmart_card">
		   <img src="/images/walmart_online_hero_2.png">
		   <div class="delivery_note">Delivered Electronically</div>
		 </div>
	   </div>
	 </div>
	 <div class="tandc">
	   <div class="content">
		 <div class="tandc_btn">Terms &amp; Conditions</div>
	   </div>
	 </div>

	 @Html.Partial("OfficeOnline")

	 @Html.Partial("PromoTiles")

	 <div class="tandc_modal">
	   <div class="headline">Terms &amp; Conditions</div>
		 $75 provided on a Walmart eGift Card.  Limited time offer. Not valid with any other promotion or discount. Minimum tax prep fee required. Offer available in select markets at participating Jackson Hewitt<sup>&reg;</sup> locations.  Ask a Tax Pro for details. 
         <br /><br />
		 With the 100% Accuracy Guarantee, if we make an error preparing your return, we will cover penalties and interest. You must (a) notify your local Jackson Hewitt Tax Service<sup>&reg;</sup> office in writing or in person within 30 days of the date set forth in the first letter you receive from any taxing authority concerning your covered tax return (and promptly at any time you otherwise discover any error); (b) provide your local Jackson Hewitt<sup>&reg;</sup> office with copies of all documents related to the claim or otherwise requested (including any letters from a taxing authority and all documentation supporting your tax return); and (c) allow your local Jackson Hewitt office and Jackson Hewitt Inc. to investigate, question, or challenge the penalty, interest, additional tax or refund shortfall, in any manner they deem appropriate, at their expense, and cooperate and assist them in these efforts (including signing appropriate authorizations). You are responsible for paying the appropriate taxing authorities in a timely fashion, regardless of reimbursement by a Jackson Hewitt office or Jackson Hewitt Inc., as the case may be. Coverage under the Accuracy Guarantee is subject to payment of tax preparation fees. Coverage under the Accuracy Guarantee does not apply to the following situations ("Exclusions"): (i) you provided incorrect, incomplete or false information to your local Jackson Hewitt office or to Jackson Hewitt Inc.; (ii) your tax refund was reduced or not received as a result of a tax lien, judgment, support order, unpaid student or government-related loans, back taxes, or any other collection activity; (iii) you are unable to substantiate a deduction, credit, or other position taken on the covered tax return (whether it be a failure to produce sufficient documentation or otherwise); (iv) you failed to timely file the tax return or pay the taxes shown as owing on such return; (v) fraud; and/or (vi) for Affordable Care Act (ACA) tax preparation and related ACA services. Void if you refile with another tax preparation company. 
         <br /><br />
         Biggest refund guaranteed (or lowest tax) or your tax preparation fee back. If you are entitled to a larger refund (or smaller tax liability), we'll refund the tax preparation fees paid to us for that return (other product and service fees excluded). Federal returns only. Same tax facts must apply. You must file an amended return with another paid tax preparation company &/or online provider by April 15, 2015 and submit your claim no later than October 15, 2015 with proof that the IRS accepted the positions taken on the amended return. 
         <br /><br />
		 Most offices are independently owned &amp; operated.
	</div>
   </div>
