html{
  height: 100%;
  min-height: 100%;
}

body {
  height:100%;
  min-height: 100%;
  background:white;
  color:#000000;
  font: 16px 'latoregular', arial, sans-serif;
}

/*----------------------------------------*/
/* Clearfix Styles */
/*----------------------------------------*/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}




/*----------------------------------------*/
/*Master Styles*/
/*----------------------------------------*/




/**********************************************************************************************
 _______   _____   _______  _______  __   __
|       | |  _  | |       ||       ||  |_|  |
|___    | | |_| | |   ____||    _  ||       |
 ___|   ||   _   ||  |____ |   |_| ||       |
|___    ||  | |  ||_____  ||    ___| |     |
 ___|   ||  |_|  | _____| ||   |    |   _   |
|_______||_______||_______||___|    |__| |__|

**********************************************************************************************/


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  ul {
    list-style: none;
    padding:0;
    margin: 0;
  }

  h1 {
    margin:0;
    font: 1.6em 'varela_roundregular', arial, sans-serif;
    color:#00a8e1;
    vertical-align: middle;
    text-transform: uppercase;
  }

  h2 {
    font: 1.6em 'varela_roundregular', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing:0.02em;
    margin: 0px;
  }

  .content {
    position: relative;
    width:100%;
  }

  .content:after, .clear {
    content: "";
    display: table;
    clear: both;
  }

  .content a {
    color:#fff;
    text-decoration:underline;
  }

  .content a:hover {
    text-decoration:none;
  }

  textarea:focus, input:focus{
    outline: 0;
    outline: none;
    border-width:0px;
  }

  *:focus {
    outline: 0;
    outline: none;
    border-width:0px;
  }

  button {
    border:0px;
    color:#fff;
  }

  /*----------------------------------------*/
  /*Main Template*/
  /*----------------------------------------*/

  .top_bar {
    background:#00a8e1;
    height: 35px;
    line-height: 35px;
    min-width: 100%;
  }

  .content[role="nav"] nav #menu-icon {
    display:inline-block;
    float:right;
    width: 35px;
    height: 35px;
    background: #000 url(/images/menu-icon.png) center;
  }


  .content[role="nav"] nav ul {
    display: none;
    z-index:99;
    position: absolute;
    padding: 0;
    background: #fff;
    right: 0px;
    top: 35px;
    width: 100%;

  }

  .content[role="nav"] nav:hover ul {
    background: #a7a9ac;
    display:block;
    padding:0;
    margin:0;
  }

  .content[role="nav"] nav li {
    width: 100%;
    margin: 0;

    text-align: center;
    border-bottom: 1px SOLID #fff;
    width: 100%;
  }

  .content[role="nav"] nav li a {
    color:#000;
    text-decoration:none;
    display:block;
    padding: 1em 0px;
    width: 100%;
  }



  .login_bar {
    background:#ffc700;
  }

  .header {
    background:white;
    width:100%;
    display:block;
  }

  .header h1 {
    margin:10px 0;
    font-size:0.9em;
    display: block;
    text-align:center
  }

  .header sup {
    font-size: 35%;
    top:-15px;
  }

  .header-logo {
    width:100%;
    text-align:center;
    display:block;
    margin:10px 0;
  }

  .header-logo img{
    vertical-align:middle;
  }

  .header-link {
    width:255px;
    margin-left: 417px;
    display:inline-block;
  }

  .header-link a {
    color: #ffffff;
    text-decoration: none;
  }

  .header-link:hover {
    color: #000000;
    text-decoration: underline;
  }






  .footer {
    padding:45px 0 25px 0;
    background:#a7a9ac;
    width: 100%;
    color:white;
  }

  .footer ul {
    display:block;
    width:100%;
    vertical-align: top;
  }

  .footer .title {
    color:white;
    margin:0;
    font: 1em 'latolight', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .footer .about{
    padding-left: 2%;
    width:18%;
  }

  .footer a {
    font: 14px/25px 'latolight', arial, sans-serif;
    text-decoration: none;
    color:white;
  }

  .footer .social_icons {
    height:40px;
  }

  .footer .social_icons .social_icon {
    float:left;
    width:33%;
  }

  .footer .search_bar {
    margin: 10px 0 0 0;
    position: relative;
    height: 40px;
  }

  .footer .search_bar input {
    padding-left: 10px;
    font: 14px/30px 'latolight', arial, sans-serif;
    letter-spacing: 1px;
    vertical-align: middle;
    height:30px;
    width:148px;
    border:none;
    outline:0;
  }

  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

  .footer .search_bar .search_button img {
    width:15px;
    height:17px;
    margin: -25px 0 25px 130px;
    cursor: pointer;
  }

  .hero .disclaimer {
    color: white;
    text-align: left;
  }

  .hero_btn {
    display: inline-block;
    margin: 0 43px 0 0;
    background: #ffc700;
    width:150px;
    height:45px;
    color:#0160a3 !important;
    font: 13px/50px 'latobold', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
  }



  /*	#Reset
  //	================================================== */

  .responsive-accordion {
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
  }

  .responsive-accordion li {
    margin: 0 0 0 0;
    padding: 0;
    border-bottom:1px SOLID #a7a9ac;
  }

  .responsive-accordion li:last-child { margin-bottom: 0; }

  .responsive-accordion li .responsive-accordion-head { cursor: pointer; }

  .responsive-accordion li .responsive-accordion-head.active { background:#fff; color:#a7a9ac; }


  /*	#Themes
  //	================================================== */

  .responsive-accordion-default.responsive-accordion li .responsive-accordion-head {
    background:#fff;
    color: #a7a9ac;

    font: 1.2em 'latolight', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    text-align:center;
    padding:1em 0px;
    line-height: normal;
    position: relative;
  }

  .responsive-accordion-default.responsive-accordion li .responsive-accordion-head i {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel {
    border-top: 0;
    padding: 0;
    background: #a7a9ac;
  }

  .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel ul {
    width:100%;
  }

  .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel ul li{
    text-align:center;
    border-bottom:1px SOLID #fff;
    width:100%;
    padding:1em 0px;
  }

  .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel ul li:last-child {
    border-bottom:0px SOLID #fff;
  }

  .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel ul li a{
    font-size:1em;
  }


  /*----------------------------------------*/
  /*Walmart Template*/
  /*----------------------------------------*/
  .walmart_header {
    height:80px;
  }

  .walmart_header a{
    text-decoration: none;
    color:#00a8e1;
  }

  .walmart_header .logos{
    margin:15px 0;
    width:50%;
    display: inline-block;
  }

  .wm_logo {
    padding-right: 20px;
    border-right:1px grey solid;
  }

  .jh_logo {
    padding-left: 20px;
  }

  .walmart_header .signin{
    font: 14px/22px 'Myriad W01 Regular';
    float:right;
    text-align: right;
    vertical-align: top;
    margin: 20px 40px 0 0;
  }

  .walmart_footer {
    background:white;
    color:white;
  }

  .walmart_footer .title {
    color:black;
    margin:0;
    font: 14px/14px 'Myriad W01 Bd';
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .walmart_footer a {
    font: 14px/25px 'latolight', arial, sans-serif;
    text-decoration: none;
    color:#00a8e1;
  }

  .walmart_footer .sub_footer {
    background:#e5f2f9;
    font: 14px/14px 'Myriad W01 Regular';
    color:#888888;
    height: 50px;
    padding-top: 4px;
    margin-top:25px;
    min-width: 1024px;
  }

  .walmart_footer .sub_footer .connected {
    float:left;
    width:49%;
    vertical-align: middle;
    line-height: 50px;
  }

  .walmart_footer .sub_footer .connected a{
    display: inline-block;
    vertical-align: middle;
    width:25px;
    height: 25px;
    margin:0 5px;
  }

  .walmart_footer .sub_footer .connected a:nth-child(1){
    margin-left:15px;
  }

  .walmart_footer .sub_footer .copywright {
    font: 12px/50px 'Myriad W01 Lt';
    vertical-align: middle;
    float:right;
    text-align: right;
    width:33%;
    margin-right:40px;
  }

  .delivery_note {
    font: 1.2em/1.4em 'Myriad W01 Lt';
    color:black;
    text-align: center;
  }


  .wm50_hero .delivery_note {
    font: 1em/1.4em 'Myriad W01 Lt';
  }

  .walmart_card img {
    width: 100%;
  }


  /*----------------------------------------*/
  /* Page Specific*/
  /*----------------------------------------*/

  a.hero_link {
    text-decoration:none;
  }

  .hero {
    position: relative;
    background:#00a8e1;
    height:auto;
    margin-bottom: 50px;
    padding:0 25px;

  }

  .visa50_hero {
    padding-bottom: 45px;
  }

  .advance200_hero {
    padding-bottom: 25px;
  }

  .hero_copy {
    display: block;
    position:relative;
    z-index: 3;
    width: 100%;
  }

  .hero_copy sup{
    font-size: 50%;
    top: -8px;
  }

  .hero_copy h1 sup {
    top:-25px;
    font-size: 30%;
  }

  .hero_copy .fine_print {
    font-size:12px;
  }

  .promo, .location {
    height:auto;
    margin-bottom:20px;
  }

  .tiles {
    position: relative;
    display:block;
    overflow: hidden;

    width:100%;
    padding-left: 0%;
    margin-right:0%;
    height:100px;

    margin-top:15px;
    padding-top:50px;

    background:#00a8e1;
    color:#ffc700;
    font: 24px/28px 'varela_roundregular', arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }

  .tile_title {
    position: relative;
    z-index: 6;
    text-align:center;
  }

  .small {
    font-size: 1em;
  }

  .white {
    color:white;
  }

  .tiles:nth-last-child(1) {
    margin-right:0;
  }

  .tiles:nth-child(3) .tile_title {
    font-size: 0.8em;
  }

  .tiles img {
    position: absolute;
    bottom:0;
    right:0;
    opacity:0.5;
    z-index: 5;
  }

  .accuracy_image {
    top:25px;
    left:25%;
  }

  .refund_image {
    top:25px;
    left:25%;
  }

  .locations_image {
    top:25px;
    left:25%;
  }

  .tandc, .privacy_policy, .disclaimer {
    position: relative;
    top:-25px;
  }

  .tandc_btn, .privacy_policy_btn, .disclaimer_btn {
    color: #959595 !important;
    text-decoration: underline;
    cursor:pointer;
    width:150px;
    margin: 0 auto;
    text-align: center;
  }

  .tandc_modal, .cost_detail_modal, .tandc_modal_detail, #freefile_modal, #calculation_modal, #terms_modal, #privacy_modal, #statefile_modal, #faqs_modal {
    display:none;
  }

  .tandc_modal, .cost_detail_modal, .tandc_modal_detail {
    font: 15px/18px 'latolight', arial, sans-serif;
    color:#7d7d7d;
    width:99%;
  }

  .tandc_modal .headline, .tandc_modal_detail .headline {
    font: 16px/26px 'latoregular', arial, sans-serif;
    color:#00a8e1;
    margin-bottom: 20px;
  }

  .privacy_policy {
    margin-bottom: 20px;
    top:0;
    text-align: center;
  }

  .disclaimer {
    font-size:10px;
    margin-bottom: 18px;
    top:0;
  }

  .disclaimer a{
    color: #a7a9ac;
  }

  .walmart_nocaps {
    text-transform:capitalize;
  }
  /*----------------------------------------*/
  /*offer template*/
  /*----------------------------------------*/

  .offer_template .hero {
    color:white;
    font: 16px/20px 'latolight', arial, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }

  .offer_template .hero_copy {
    margin-top: 60px;
  }

  .offer_template .hero_copy a{
    color:white;
  }

  .offer_template .hero h1 {
    letter-spacing: 1px;
    font-size:42px;
    color:white;
    margin-bottom:20px;
  }

  .headline_highlight {
    color:black;
    background:white;
    border-top:8px black solid;
    padding:2px 7px 0 7px;
    margin:0 3px;
  }

  .shrunk {
    font-size:41px;
  }

  .offer_template .hero_image {
    display: block;
    width: 72%;
    padding: 0px;
    margin: 1.8em auto;
  }

  .offer_template .exclamation {
    text-align: center;
    width:100%;
  }

  .offer_template .exclamation img{
    max-width:100%;
  }

  .offer_template .subhead {
    font: 24px/24px 'latoregular', arial, sans-serif;
    margin-bottom: 10px;
  }

  /*.offer_template sup {
  font: 10px/24px 'latoregular', arial, sans-serif;
  margin-bottom: 10px;
  vertical-align: middle;
  }*/

  .cta {
    float:left;
    padding-left:15px;
  }

  .arrow {
    float: right;
    padding-right:15px;
  }

  /*----------------------------------------*/
  /* Location Page */
  /*----------------------------------------*/

  .location_page .hero_image {
    width:100%;
    position: absolute;
    left:0;
    right:0;
    top:0;
    margin:0 auto;
    z-index: 1;
  }

  .location_page .hero_colorblock {
    position: absolute;
    top:0;
    left:0;
    height:376px;
    width:430px;
    background:white;
    opacity: .7;
    z-index: 2;
  }

  .location_page .hero_copy {
    width:100%;
    margin-top:85px;
    z-index: 3;
  }

  .map {
    display: inline-block;
    width:308px;
    height:233px;
    margin-right: 50px;
  }

  .map iframe {
    width:308px;
    height:233px;
  }

  .location .information {
    display: inline-block;
    vertical-align: top;
  }

  .information .information_copy {
    min-height:75px;
  }

  .location h1 {
    color:black;
    margin-bottom: 7px;
  }

  .location .address {
    font: 20px/27px 'varela_roundregular', arial, sans-serif;
    color:#00a8e1;
    margin:15px 0;
  }

  .appointment_btn {
    display: inline-block;
    background: #ffc700;
    width:310px;
    height:50px;
    color:#0160a3;
    font: 14px/50px 'latobold', arial, sans-serif;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
  }

  /*----------------------------------------*/
  /*Advance 200 Page*/
  /*----------------------------------------*/

  .advance200_page .hero_image {
    right:-80px;
    top:90px;
  }

  .bills {
    width:410px;
  }

  .office_and_online {
    color:black;
    margin-bottom:45px;
  }

  .office_and_online h1 {
    color:black;
  }

  .local_office, .file_online {
    display:block;
    margin:0 auto;
    width: 90%;
    text-align: center;
    padding:30px 0;
  }


  .local_office {
    border-bottom: #cacaca 2px solid;
  }


  .local_office .information .call_number, .local_office .information .call_number_mob a {
    color:#0160a3 !important;
    font: 22px/36px 'latobold',arial,sans-serif;
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 1px;
    margin-top:28px;
    margin-bottom:0px;
    text-align:center;
    word-break: break-all;

  }

  .local_office .information .call_number_mob {
    display:block;
  }

  .local_office .information .call_number_desk {
    display:none;
  }

  .local_office_image, .file_online_image {
    display: block;
    margin: 0px auto;
  }

  .local_office_image  {
    padding-bottom:9px;
  }

  .office_btn, .file_online_btn {
    margin: 10px auto;
    display: block;
    background: #ffc700;
    width:80%;
    min-width:250px;
    height:50px;
    color:#fff;
    font: 13px/50px 'latobold', arial, sans-serif;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
  }

  .file_online_btn {
    margin-top:35px;
  }

  .findOfficeText {
    display:block;
    border:solid 1px #d2d0cd;
    padding: 1.125em;
    margin:0 auto;
    width: 72%;
    text-align:center;
    font-family: 'latobold',Arial,Sans-serif;
    font-size:0.8em;
  }

  .hero .findOfficeText {
    margin:0;
    width: 77%;
  }

  .findOfficeText:focus {
    border:solid 1px #d2d0cd;
  }

  #zipForm {
    display: block;
    width: 100%;
    margin: 35px auto 0 auto;
    padding: 0;
  }

  #zipForm {
    margin:0;
  }

  .advance200_cta {
    margin-top: -17px;
    margin-left: 25px;
  }

  .visa50_cta {
    margin-top:15px;
    float:left;
    clear:none;
  }

  .trr_cta {
    margin-top: 15px;
    float: left;
    clear: none;
  }

  .file_online_btn {
    color: white;
    background:#00a8e1;
  }

  /*----------------------------------------*/
  /*aca page*/
  /*----------------------------------------*/

  .aca_page .hero{
    height:390px;
  }

  .aca_page .hero_copy{
    margin: 45px 0 15px 0;
  }

  .aca_page .hero_image {
    right:-15px;
    top:0px;
  }

  .penalty_modal_btn {
    cursor: pointer;
  }


  /*----------------------------------------*/
  /*Refer A Friend*/
  /*----------------------------------------*/

  .refer_page .hero_copy {
    width:100%;
  }

  .refer_page .hero_copy h1 sup{
    left: 0px;
  }

  .refer_page .subhead {
    font: 22px/24px 'latoregular', arial, sans-serif;
    margin-bottom: 10px;
  }

  .refer_page .hero_image {
    right:20px;
    top:77px;
  }

  .refer_page .hero_btn{
    margin-top: 25px;
    height:48px;
  }

  /*----------------------------------------*/
  /*File Extension*/
  /*----------------------------------------*/

  .extension .hero_copy, .extension .hero_image{
    width:80%;
    margin:0 auto;
    display:block;
  }

  .extension .hero_image{
    margin-top:0px;
    margin-bottom:0px;
  }

  .extension .hero h1{
    font-size:2em;
    margin-bottom: 5px;
    padding-top: 25px;
  }

  .extension .hero h2{
    font-size:24px;
    margin-top:10px;
  }

  .extension .hero_image img {
    width:100%;
  }

  /* REMOVE TO RETURN TO 2 COLUMN CTA SECTION */
  .extension .local_office {
    border-bottom: 0;
  }

  /*----------------------------------------*/
  /*walmart 20 page*/
  /*----------------------------------------*/


  /*----------------------------------------*/
  /* visa 50 */
  /*----------------------------------------*/

  .visa50_page .hero_image{
    top:75px;
    right:-40px;
  }

  .visa50_page .hero_copy{
    margin-top:75px;
  }

  .visa50_page .hero h1{
    font-size:47px;
  }

  /*----------------------------------------*/
  /*Online Page*/
  /*----------------------------------------*/

  .online_page .hero{
    height: 235px;
    padding-top:5px;
    line-height: 18px;
  }

  .online_page .hero_copy{
    margin-top:40px;
  }

  .online_page p {
    margin:0 10px 0 0;
    width:100%;
    display: block;
    vertical-align: middle;
  }

  .online_page .hero h1{
    font-size:1.5em;
  }

  .online_page .wm2_hero h1, .online_page .wm50_hero h1{
    font-size:2.5em;
  }

  .online_page .hero h1.walmart_50{
    font-size:2em;
  }

  .account_access {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .account_access a{
    color:white;
  }


  .online-page .hero_image {
    top:10px;
    right:10px;
  }

  .online_plans_section {
    position: relative;
    margin-bottom:40px;
  }

  .online_plan {
    width:100%;
    display:block;
  }

  .online_plan:nth-last-child(1) {
    margin-right:0;
  }


  .plan_tile {
    position: relative;
    background:#0160a3;
    min-height:325px;
    padding-top: 45px;
    margin-bottom:15px;
  }

  .online_plan:first-child .plan_tile {
    height:310px;
  }

  .plan_icon {
    position:absolute;
    top:10px;
    left:0;
    right:0;
    margin: 0 auto;
    z-index: 10;
  }

  .plan_copy {
    position: relative;
    z-index: 11;
    color: white;
    text-align: center;
  }

  .plan_copy h1{
    color: white;
    font: 36px/36px 'varela_roundregular', arial, sans-serif;
    margin-bottom: 50px;
  }

  .online_plan .cost {
    font: 36px/36px 'varela_roundregular', arial, sans-serif;
    margin-bottom: 10px;
  }

  .online_plan .cost_detail {
    font-size: 13px;
    margin-bottom: 17px;
    text-decoration: underline;
    cursor: pointer;
  }

  .online_page .plan_btn{
    margin: 40px auto 0 auto;
    background: #ffc700;
    width:172px;
    height:55px;
    color:#0160a3;
    font: 13px/31px 'latobold', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
  }


  .plan_btn a {
    display: block;
    width: 100%;
    height: inherit;
    padding-top: 12px;
    text-decoration: none;
    color:#0160a3;
  }

  .online_plans_section .online_plan:nth-child(1) .plan_btn {
    margin-top:22px;
  }

  .online_plan ul{
    font: 16px/20px 'latoregular', arial, sans-serif;
    list-style-type: disc;
    margin:0 auto;
    display:block;
  }

  .online_plan li{
    margin: 0 0 10px 15px;
  }

  .online_plan .title {
    color:#959595;
    margin-bottom: 10px;
  }

  .online_plan .tandc {
    padding:20px 0px 10px 0px;
  }

  .updated_plans ul{
    height:auto;
    margin-bottom: 15px;
  }

  .cost_detail_modal .modal_detail {
    height:150px;
    border-bottom:1px #c2c2c2 solid;
    text-align: center;
    min-width: 230px;
  }


  .modal_detail:nth-last-child(1) {
    border-bottom:0px;
  }

  .cost_detail_modal .detail_header{
    float: none;
    width:100%;
    text-align: center;
    height:50px;
    color:#00a8e1;
    font: 28px/50px 'varela_roundregular', arial, sans-serif;
  }


  .cost_detail_modal  .detail_title {
    position: relative;
    float:left;
    width:50%;
    color:#0160a3;
    height:150px;
  }

  .cost_detail_modal  .detail_title .title{
    padding-top: 65px;
    position: absolute;
    color:#0160a3;
    font: 23px/34px 'varela_roundregular', arial, sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    left:0;
    right:0;
    z-index: 501;
  }

  .cost_detail_modal .detail_title .dollars{
    font: 28px/32px 'varela_roundregular', arial, sans-serif;
  }

  .cost_detail_modal .detail_title img{
    padding-top:35px;
    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    z-index: 500;
  }

  .cost_detail_modal .modal_detail .detail_title img:nth-child(1){
    padding-top:16px;
  }

  .cost_detail_modal .state_cost {
    float:left;
    width:50%;
    font: 18px/163px 'varela_roundregular', arial, sans-serif;
    vertical-align: middle;
    color:#00a8e1;
    height:150px;
    text-align: center;
  }


  /*----------------------------------------*/
  /* WALMART 20 & WALMART 50 */
  /*----------------------------------------*/

  .online_page .wm2_hero, .online_page .wm50_hero {
    height:auto;
  }

  .online_page .wmFreeState {
    height:auto;
  }

  .wm2_hero .hero_copy, .wm50_hero .hero_copy {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .wm2_hero .disclaimer, .wm50_hero .disclaimer {
    margin-top:18px;
  }

  .walmart_50_snippet {
    position: relative;
    margin: -5px 0px 20px 10px;
    width:100%;
    text-align: center;
    z-index:98;
  }

  .walmart_50_snippet img{
    width:auto;
  }

  /*----------------------------------------*/
  /*Walmart Online Page*/
  /*----------------------------------------*/

  .walmart_online {
    font-family:'Myriad W01 Lt';
  }

  .walmart_online .disclaimer {
    margin:20px 0 0 0;
    line-height: 12px;
  }

  .walmart_online .disclaimer a{
    color:white;
  }

  .walmart_online .hero{
    height:375px;
  }

  .walmart_online .hero h1{
    font-family:'Myriad W01 Bd';
    text-transform: none;
    font-size:55px;
  }

  .walmart_online .hero_copy sup{
    font-size: 80%;
    top:-2px;
  }

  .walmart_plans_section h1{
    font-size: 48px;
    text-transform: none;
    font-family:'Myriad W01 Regular';
  }

  .walmart_plans_section .cost{
    font-size: 38px;
    letter-spacing: 1px;
    font-family:'Myriad W01 Regular';
  }

  .walmart_plans_section .plan_btn {
    border-radius: 10px;
    color:white;
    font-size: 20px;
    font-family:'Myriad W01 SmBd';
    text-transform: none;
    margin-top: 48px;
  }

  .walmart_plans_section .plan_btn a{
    color:white;
  }

  .walmart_plans_section ul {
    font: 15px 'Myriad W01 lt';
    height: 170px;
  }

  .walmart_updated_plans ul{
    height:220px;
  }

  .walmart_online .tiles {
    font: 34px 'Myriad W01 Regular';
    text-transform: none;
  }

  .walmart_online .tiles:nth-child(3) {
    font-size: 39px;
    line-height: 42px;
  }

  .walmart_online .tiles:nth-child(3) .tile_title {
    font-size: 30px;
    line-height: 34px;
  }

  .walmart_online .tiles:nth-child(3) .small{
    font-size: 30px;
    line-height: 37px;
  }

  .walmart_online .tiles:nth-child(3) .find_sub{
    font-size: 25px;
    margin-top: 10px;
  }

  .walmart_online .hero_copy {
    font-family:'Myriad W01 lt';
    margin-top:55px;
  }

  .walmart_online .hero_btn{
    margin-top: 20px;
  }

  .walmart_online .account_access {
    margin-left:20px;
  }

  .walmart_modal .modal_detail {
    height:150px;
    border-bottom:1px #c2c2c2 solid;
    text-align: center;
  }

  .walmart_modal .modal_detail:nth-last-child(1) {
    border-bottom:0px;
  }

  .walmart_modal .detail_header{
    font: 21px/23px 'Myriad W01 Regular';
  }

  .walmart_modal .detail_title {
    position: relative;
    float:left;
    color:#0160a3;
    height:150px;
  }

  .walmart_modal .detail_title .title{
    padding-top: 55px;
    position: absolute;
    color:#0160a3;
    font: 44px/46px 'Myriad W01 SmBd', arial, sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    left:0;
    right:0;
    z-index: 501;
  }

  .walmart_modal .detail_title .dollars{
    font: 28px/32px 'Myriad W01 Regular', arial, sans-serif;
  }

  .walmart_modal .detail_title img{
    padding-top:35px;
    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    z-index: 500;
  }

  .walmart_modal .modal_detail .detail_title img:nth-child(1){
    padding-top:16px;
  }

  .walmart_modal .state_cost, .walmart_modal .card_cost {
    float:left;
    font: 38px/150px 'Myriad W01 Regular', arial, sans-serif;
    vertical-align: middle;
    color:#00a8e1;
    height:150px;
    text-align: center;
  }

  .walmart_card {
    margin: 1em auto;
    width:75%;
  }

  .snippet {
    top: 0px;
    right: 15px;
  }



  /*----------------------------------------*/
  /*Brand Story Page*/
  /*----------------------------------------*/
  .brandstory_page {

  }

  .hero_carousel {
    position: relative;
    width:1024px;
    margin:0px auto;
  }


  .hero_carousel .background_image{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
  }

  .hero_carousel .colorblock {
    position: absolute;
    z-index: 2;
    top:0;
    left:0;
    height:380px;
    width:445px;
    background: white;
    opacity:.8;
  }

  .hero_carousel .copy {
    position: relative;
    z-index: 100;
    padding-left:105px;
    margin-top:50px;
  }

  /*.hero_carousel .bjqs-slide:nth-child(2) .copy p {
  margin-top:-5px;
}
*/

.hero_carousel h1 sup {
  top:-16px;
  font-size: 30%;
}

.hero_carousel .copy h1 {
  margin-bottom: 5px;
  font-size:31px;
  line-height: 36px;
  color:#00a8e1;
}


.hero_carousel p, ul {
  color:black;
  width:85%;
  font: 16px/20px 'latoregular', arial, sans-serif;
}

.hero_carousel li{
  margin-bottom: 5px;
}


.brandstory_page .office_and_online {
  margin-bottom: 55px;
}

.brand_tiles_section {
  margin-bottom: 65px;
}

.brand_tile {
  float: left;
  width:31%;
  margin-right:2%;
}

.brand_tiles:nth-last-child(1) {
  margin-right: 0;
}


.top_tile {
  position: relative;
  font: 26px/32px 'varela_roundregular', arial, sans-serif;
  height:135px;
  background: #0160a3;
  margin-bottom: 5px;
  overflow: hidden;
}

.top_tile img{
  position:absolute;
  right: 32px;
  top:6px;
  width: 135px;
}

.brand_tile:nth-child(2) .top_tile{
  font-size: 28px;
  line-height: 34px;
}

.brand_tile:nth-child(2) .top_tile .tile_title{
  padding-top:25px;
}


.brand_tile:nth-child(2) img{
  width:155px;
  top:15px;
  right:20px;
}

.brand_tile:nth-child(3) .top_tile{
  line-height: 27px;
  font-size:21px;
}

.brand_tile:nth-child(3) .top_tile .tile_title .shrunk{
  font-size:24px;
}

.brand_tile:nth-child(3) img{
  width:150px;
  top:10px;
  right:45px;
}

.top_tile .tile_title {
  text-transform: uppercase;
  color:#ffc700;
  padding: 30px 0 0 20px;
}

.bottom_tile {
  height:210px;
  background: #00a8e1;
}

.bottom_tile ul{
  padding: 30px 0 0 40px;
  list-style-type: disc;
  color:white;
}

.bottom_tile li{
  margin-bottom: 10px;
}

/*----------------------------------------*/
/*FFA Template*/
/*----------------------------------------*/
.ffa_layout .header {
  height:52px;
  margin-bottom:10px;
  line-height: 60px;
  height:60px;
  background:#00a8e1;
}

.ffa_layout .header_logo {
  width:185px;
}

.ffa_layout .hero {
  height:255px;
  text-align: center;
}

.ffa_layout .hero  h1 {
  font-size:37px;
}


.ffa_layout .hero p{
  display: block;
  width:100%;
  margin-bottom:24px;
}

.ffa_layout .hero_btn {
  width:235px;
}

.ffa_layout .footer {
  padding:30px 0 50px 0;
  background:#00a8e1;
}

.ffa_layout .footer ul {
  margin: 0 4.166666%;
  width:25%;
}

.ffa_layout .footer li {
  padding:10px 0 10px 10px;
}

.ffa_layout .footer a, .ffa_layout .footer li{
  font: 16px/20px 'latoregular', arial, sans-serif;
  color:white;
}

.ffa_layout .footer a:hover, .ffa_layout .footer li:hover {
  color:black;
  text-decoration: underline;
}

.ffa_layout .footer .title {
  margin-bottom:15px;
  padding-left:0;
  font:15px/20px 'varela_roundregular', arial, sans-serif;
  letter-spacing: 0px;
  color:black;
  border-bottom: 2px white solid;
}

.ffa_layout .footer .title:hover {
  text-decoration: none;
}

.ffa_layout .sub_footer {
  position: relative;
  color:#a9a8a9;
  padding: 25px 0 35px 0;
}

.ffa_layout .sub_footer ul{
  float:right;
  width: auto;
}

.ffa_layout .sub_footer .copyright {
  position:relative;
  top:10px;
  left:30px;
  font-size: 14px;
}

.ffa_layout .sub_footer li{
  display: inline-block;
}


#freefile_btn, #calculation_btn, #terms_btn, #privacy_btn, #statefile_btn, #faqs_btn {
  cursor: pointer;
}

.ffa_modal {
  color:black;
  font: 14px/18px 'latoregular', arial, sans-serif;
}

.ffa_modal li {

}

.ffa_modal a {
  color:#00a8e1;
  text-decoration: underline;
}

.ffa_modal .title {
  font:25px/30px 'varela_roundregular', arial, sans-serif;
  text-transform: uppercase;
  padding: 0 0 6px;
  color: #00a8e1;
  margin: 12px 0 30px 0;
  border-bottom: 1px solid #d2d0cd;
  text-align: center;
}

.ffa_modal .subhead {
  font: 20px 'latobold', arial, sans-serif;
}

.ffa_modal .grey_subhead {
  font-size: 18px ;
  color: #a9a8a9;
  text-transform:uppercase;
}

.ffa_offer {
  border: 1px SOLID #00a8e1;
  width:945px;
  text-align: center;
  margin: 50px auto;
  padding: 15px 0px 0px 0px;
}

.freefile_modal {
  min-width: 500px;
}

.freefile_modal ul{
  margin-top: 40px;
  width:100%;
}

.freefile_modal .row_title{
  font: 18px 'latobold', arial, sans-serif;
}

.freefile_modal li{
  font: 14px 'latoregular', arial, sans-serif;
  height:40px;
  line-height: 40px;
  vertical-align: middle;
  border-bottom:1px gray solid;
}

.freefile_modal .form{
  width:145px;
  display: inline-block;
}

.calculation_modal {
  width:670px;
}

.terms_modal {

}

.privacy_modal {

}

.privacy_modal ul {
  position: relative;
  width:100%;
  font: 14px/20px 'latoregular',arial,sans-serif;
}

.privacy_modal li {
  padding-left: 40px;
}

.privacy_modal  li:before {
  content: '■';
  position: absolute;
  margin-left: -20px;
  font-size: 12px;
  color: #d2d0cd;
}

.privacy_modal .policy {
  font: 15px 'latobold', arial, sans-serif;
}

.privacy_modal .blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  line-height: 20px;
  border-left: 5px solid #eee;
}

.statefile_modal {
  min-width: 700px;
  font: 14px/20px 'latoregular',arial,sans-serif;
  color:black;
}

.statefile_modal h4{
  font: 18px 'latobold', arial, sans-serif;
}

.statefile_modal ul {
  position: relative;
  width:100%;
  font: 14px/20px 'latoregular',arial,sans-serif;
}

.statefile_modal li {
  padding-left: 40px;
}

.statefile_modal  li:before {
  content: '■';
  position: absolute;
  margin-left: -20px;
  font-size: 12px;
  color: #d2d0cd;
}

.faqs_modal {

}

/*----------------------------------------*/
/*TDN Page*/
/*----------------------------------------*/

.poweredby {
  display:block;
  margin:20px 0 50px 0;
}

.tdn_page .content {
  height:100%;
}

.tdn_page h1 {
  letter-spacing: 1px;
  font-size: 28px;
  line-height:30px;
  margin-bottom: 10px;
}

.tdn_page .hero {
  background-image: url('/Images/tdn_hero.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.tdn_page .hero_copy {
  padding:20px;
  width:88%;
  height:100%;
  background:url('/Images/1x1_white_70.png');
}

.tdn_page .office_btn{
  width:355px;
  margin-top:85px;
}

.tdn_page .file_online_btn{
  width: 90%;
  margin-top: 25px;
  font-size: 1em;
  line-height: 1.75em;
  height: 70px;
  padding: 10px 10px 0px;
}

.tdn_page .cta {
  float:none;
  letter-spacing: 2px;
  padding-left: 0px;
}

.tdn_page .tiles {
  line-height:32px;
  padding:30px 0 25px 0;
}

.rated_image {
  top: 30px;
  left: 145px;
}

.focused_image {
  left: 155px;
  top: 50px;
}

.tdn_page .tile_title .tdn_title_1 {
  font-size:1em;
}

.tdn_page .tile_title .tdn_title_12 {
  font-size:1.2em;
}

.tdn_page .tile_title .tdn_title_13 {
  font-size:1.3em;
}

.tdn_page .tile_title .tdn_title_145 {
  font-size:1.45em;
}


/*----------------------------------------*/
/*basic modal css*/
/*----------------------------------------*/

/* Overlay */
#simplemodal-overlay {
  background-color:#000;
}

/* Container */
#simplemodal-container {
  position:absolute !important;
  top:55px !important;

  height:70% !important;
  max-height: 680px !important;

  width: 78% !important;
  left: 6% !important;

  color:#bbb;
  background-color:white;
  padding:25px;
}

#simplemodal-container a.modalCloseImg {
  background:url(../images/modal_close.png) no-repeat;
  width:39px;
  height:39px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-16px;
  cursor:pointer;
}

/*----------------------------------------*/
/* Basic jQuery Slider essential styles */
/*----------------------------------------*/

ul.bjqs{
  position:relative;
  list-style:none;
  padding:0;
  margin:0;
  overflow:hidden;
  display:none;
}

li.bjqs-slide{
  position:absolute;
  display:none;
}

ul.bjqs-controls{
  list-style:none;
  margin:0;
  padding:0;
  z-index:9999;
}

ul.bjqs-controls.v-centered li a{
  position:
  absolute;
}

ul.bjqs-controls.v-centered li.bjqs-next a{
  right:0;
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
  left:0;
}

ol.bjqs-markers{
  position: relative;
  z-index: 4;
  list-style: none;
  padding: 0;
  margin: 0;
  width:100%;
  top:-45px;
}

ol.bjqs-markers.h-centered{
  text-align: center;
}

ol.bjqs-markers li{
  display:inline;
  margin:7px;
  opacity: .5;
}

.active-marker{
  opacity: 1 !important;
}

ol.bjqs-markers li a{
  display:inline-block;
  width:10px;
  height: 10px;
  border-radius: 10px;
  background: white;
}

p.bjqs-caption{
  display:block;
  width:96%;
  margin:0;
  padding:2%;
  position:absolute;
  bottom:0;
}

.bjqs-prev img, .bjqs-next img {
  position: relative;
  margin:0 15px;
  z-index: 3000;
}


/*----------------------------------------*/
/* Error Styles */
/*----------------------------------------*/

.error_page {
  min-width: 1024px;
  text-align: center;
  font: 40px/58px 'varela_roundregular', arial, sans-serif;
  text-transform: uppercase;
  background:#00a8e1;
  color:white;
  min-height:80%;
  margin-bottom:40px;
}

.error_page .content{
  padding-top: 150px;
}

.error_page a {
  color:white;
  font-size: 20px;
}


/*----------------------------------------*/
/* Sitemap Styles */
/*----------------------------------------*/

.state-list-box {
  width: 960px;
  margin:0 auto;
}

.state-list-box h4 {
  margin:1em 0 0.2em;
}

.state-list-box ul {
  width:100%;

  -webkit-columns:      4;
  -moz-columns:         4;
  -ms-columns:          4;
  -o-columns:           4;
  columns:              4;

  -webkit-column-gap:   0px; /* Chrome, Safari, Opera */
  -moz-column-gap:      0px; /* Firefox */
  -ms-column-gap:       0px;
  -o-column-gap:        0px;
  column-gap:           0px;
}

.state-list-box ul li {
  list-style-type: none !important;
  display:block;
  padding:3px 0;
}

.state-list-box a {
  text-decoration:none;
  color:#00a8e1;
  transition: all 300ms;
}

.state-list-box a:hover {
  text-decoration:none;
  color:#000000;
  transition: all 300ms;
}

.state-list-box .all-column {
  display:block;
  width:100%;
}

.state-list-box .all-column .inner-column {
  width:30%;
  margin-right:3%;
  display:inline-block;
}

.state-list-box .all-column hr {
  width:100%;
  margin:20px 0 18px;

}

.strikethrough {
  text-decoration: line-through;
  color: #ccc;
}

.pad10bottom {
  padding-bottom: 10px;
}

.pad16px {
  padding: 16px 0 16px;
}

.pad16px a {
  text-decoration: none;
}
.pad16px a:hover {
  text-decoration: underline;
}


}






/*----------------------------------------*/
/*Thankyou Page*/
/*----------------------------------------*/

.thankyou-page .brand_tiles_section {
  width:100%;
  max-width:975px;
  margin:0 auto;
  margin-bottom:0;
}

.thankyou-page .brand_tile {
  margin-bottom:65px;
  width:100%;
}

.thankyou-page .bottom_tile ul {
  width: 250px;
  margin: 0 auto;
}

.thankyou-page .hero_video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top:40px;
  margin-bottom:40px;
}

.thankyou-page .hero_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.thankyou-page h1 {
  margin-bottom:60px !important;
  text-align: center !important;
  font-size: 1.5em !important;
}

.thankyou-page .top_tile {
  margin-bottom: 0px;
}






/**********************************************************************************************
 _   ___   _____   _______  _______  __   __
| | |   | |  _  | |  _    ||       ||  |_|  |
| |_|   | | |_| | | | |   ||    _  ||       |
|       ||   _   || | |   ||   |_| ||       |
|___    ||  | |  || |_|   ||    ___| |     |
    |   ||  |_|  ||       ||   |    |   _   |
    |___||_______||_______||___|    |__| |__|
**********************************************************************************************/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

  .updated_plans ul {
    text-align:center;
  }

  .updated_plans ul li {
    list-style:none;
  }


  /*MODAL*/

  .cost_detail_modal  .detail_title .title{
    padding-top: 55px;
    font: 38px/46px 'varela_roundregular', arial, sans-serif;
  }

  /* TDN */

  .tdn_page h1 {
    font-size: 32px;
    line-height:35px;
  }

  .tdn_page .hero_copy {
    width:410px;
  }

  .tdn_page .file_online_btn {
    font-size: 0.75em;
    height: 32px;
    padding: 10px 10px 0px;
  }

  /* EXTENSION */

  /* REMOVE THIS TO RETURN TO 2 COLUMN CTA AREA */
  .extension .local_office {
    width:57%;
    margin:0 auto;
    border:0;
    padding:0;
    display:block;
  }

  .hero .findOfficeText {
    margin:0;
    width: 75%;
  }

}


/**********************************************************************************************
 ___      ___       _____   _______  __   __
|   |    |   |     |  _  | |       ||  |_|  |
|   |___ |   |___  | |_| | |    _  ||       |
|    _  ||    _  ||   _   ||   |_| ||       |
|   | | ||   | | ||  | |  ||    ___| |     |
|   |_| ||   |_| ||  |_|  ||   |    |   _   |
|_______||_______||_______||___|    |__| |__|

**********************************************************************************************/


@media only screen and (min-width : 668px) {


  .hero_copy {
    width:50%;
    display:inline-block;
    float:left;
    padding-bottom:15px;
  }

  .offer_template .hero_image {
    display:inline-block;
    float:right;
    width:50%;
  }

  .walmart_card img{
    width:80%;
    padding-left:10%;
  }

  .offer_template .wm50_hero .hero_image {
    margin-top:-5px;
    margin-right: 56px;
    width:35%;
  }

  .offer_template .wm2_hero .hero_image {
    margin-top:0px;
  }

  .offer_template .wm2_hero .exclamation , .offer_template .wm50_hero .exclamation{
    margin: 0;
    max-width: 300px;
    float: right;
    width: 40%;
    text-align: center;
  }

  .offer_template .wm2_hero .exclamation img, .offer_template .wm50_hero .exclamation img  {
    width:100%;
  }


  .sixty-wide {
    width:60% !important;
  }

  .wm50_hero .walmart_card img{
    width:100%;
    padding:0;
  }

  .local_office .information .call_number_mob {
    display:none;
  }

  .local_office .information .call_number_desk {
    display:block;
  }

  #simplemodal-container {
    width: 74% !important;
    left: 6% !important;
  }

  .cost_detail_modal .state_cost {
    font: 28px/157px 'varela_roundregular', arial, sans-serif;
  }

  /*----------------------------------------*/
  /*File Extension*/
  /*----------------------------------------*/

  .extension .hero_copy{
    margin-top:20px;
    width:60%;
    padding-bottom:25px;
  }

  .extension .hero_copy h1 {
    font-size:1.9em;
  }

  .extension .hero_image{
    width: 35%;
    margin-top: 25px;
  }

  .extension .hero_image img {
    width:100%;
  }


  .office_btn, .file_online_btn {
    display: inline-block;
    width:236px;
  }

  .office_btn {
    margin:5px 0 0 0;
  }

  .file_online_btn {
    margin:25px 0 0 0;
    color: white;
    background:#00a8e1;
  }


  #zipForm {
    display: block;
    width: 250px;
    margin: 20px auto 0 auto;
    padding: 0;
  }


  .hero #zipForm {
    margin: 0;
  }

  .findOfficeText, .hero .findOfficeText {
    width: 220px;
    margin:0;
  }

  /* TDN */

  .tdn_page h1 {
    font-size: 35px;
    line-height:40px;
  }

  .tdn_page .hero_copy {
    width:430px;
  }

  .tdn_page .file_online_btn{
    display:block;
    height: 44px;
    text-align: center;
    padding: 11px 0 0 11px;
    font-size:0.9em;
    line-height: 2em;
    width: 90%;
    margin:25px auto 0;
  }

  .tdn_page .tiles {
    padding: 42px 0 0;
  }

    .walmart_50_snippet {
      margin: -5px 60px 20px 50px;
      width: auto;
      text-align: right;
      float: right;
  }

}


/**********************************************************************************************
 _______  ___       _____   _______  __   __
|       ||   |     |  _  | |       ||  |_|  |
|___    ||   |___  | |_| | |    _  ||       |
    |   ||    _  ||   _   ||   |_| ||       |
    |   ||   | | ||  | |  ||    ___| |     |
    |   ||   |_| ||  |_|  ||   |    |   _   |
    |___||_______||_______||___|    |__| |__|

**********************************************************************************************/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .content[role="nav"] {
    z-index:99;
  }

  .content[role="nav"] nav #menu-icon {
    display: none;
    display: hidden;
  }

  .content[role="nav"] nav ul {
    text-align: right;
    display: inline-block;
    position: absolute;
    top: 0;
    height: 35px;
    padding: 0;
    background-color: #00a8e1;
  }

  .content[role="nav"] nav:hover ul {
    background-color: #00a8e1;
  }

  .content[role="nav"] nav li {
    font: 0.9em 'latolight', arial, sans-serif;
    display:inline-block;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    margin:0 5px;
    padding:0 20px;
    width:auto;
  }

  .content[role="nav"] nav li a {
    color: #fff;
    display:inline-block;
    padding:0;
    width:auto;
  }




  .header .content {
    text-align:center;
  }

  .header-logo {
    width: 254px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
  }

  .header h1 {
    margin: 10px 0 10px 10px;
    font-size: 1.2em;
    display: inline-block;
    text-align: center;
  }

  .updated_plans .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .online_plan {
    display:inline-block;

    height: 600px;
    width:48.5%;
    vertical-align: top;

    padding-top: 10px;
    margin:0px 5px;
  }


  .online_plan ul {
    list-style:disc;
    text-align: left;
    margin-left:30px;
  }

  .online_plan ul li{
    list-style:disc;
  }

  .plan_tile {
    display:block;
  }

  .plan_tile_list {
    display: block;
    clear: both;
    min-height: 300px;
    background-color: #fff;
    padding-top: 0px;
  }


  /*----------------------------------------*/
  /*File Extension*/
  /*----------------------------------------*/

  .extension .hero_copy{
    margin-top:35px;
    width:60%;
  }

  .extension .hero_image{
    width: 35%;
    margin-top: 15px;
  }

  .extension .hero_image img {
    width:100%;
  }



  /*----------------------------------------*/
  /*Office Online */
  /*----------------------------------------*/

  .local_office, .file_online {
    display:inline-block;
    width: 45%;
    text-align: left;
    padding: 30px 0 0 20px;
    vertical-align: top;
  }

  .file_online .information {
    margin-left:40px;
  }

  .information .information_copy {
    min-height:135px;
  }

  .local_office {
    border-bottom: 0px;
    border-right: #cacaca 2px solid;
    padding-right:25px;
  }

  .office_and_online .content {
    width:91%;
    margin:0 auto;
  }

  .file_online .information, .local_office .information {
    width:95%;
  }

  .local_office_image, .file_online_image {
      margin:0;
  }

  .file_online_image {
      margin-bottom:52px;
  }


  .online_page #zipForm {
    display: block;
    width: 250px;
    margin: 26px 0 0 0;
    padding: 0;
  }

  .extension #zipForm {
    display: block;
    width: 250px;
    margin: -108px 0 0 155px;
    padding: 0;
  }


  .missed_page .hero #zipForm, .rr_page .hero #zipForm {
    margin:0;
  }

  /*----------------------------------------*/
  /*TDN */
  /*----------------------------------------*/

  .tdn_page .content {
    padding-left:0px;
  }

  .tdn_page .file_online .information {
    margin-left:5px;
  }

  .tdn_page .file_online_btn{
    margin: 28px 0 50px;
    height:60px;
    padding-bottom:10px;
    text-align:left;
  }

  .local_office .information .call_number {
    font-size: 24px/40px;
    text-align:left;
    margin-top:28px;
    line-height:40px;
    margin-bottom: 50px;
  }

}



/**********************************************************************************************
 _______  _______  _______  _______  __   __
|  _    ||  _    ||       ||       ||  |_|  |
| | |   || | |   ||____   ||    _  ||       |
| |_|   || |_|   | ____|  ||   |_| ||       |
|___    ||___    || ______||    ___| |     |
    |   |    |   || |_____ |   |    |   _   |
    |___|    |___||_______||___|    |__| |__|

**********************************************************************************************/


@media only screen and (min-width : 992px) {


  .local_office_image {
    margin:0px 25px 0 0;
    display:inline-block;
  }

  .file_online_image {
    margin: 0px 30px 0 0;
    display:inline-block;
  }


  .office_and_online .content {
    width: 90%;
    margin:0 auto;
  }

  .local_office, .file_online {
    width:46%;
  }

  .file_online .information, .local_office .information {
    width:100%;
  }

  .file_online_btn {
    display:block;
    margin:66px 0 0 0;
  }


  /* ------------ */
  /* TDN
  /* ------------ */

  .tdn_page .local_office, .tdn_page .file_online {
    width:;
  }

  .tdn_page .file_online .information {
    width:90%;
  }

  .tdn_page .local_office {
    padding-bottom:25px;
  }


  .tdn_page .file_online_btn{
    font-size:0.825em;
    width:421px;
    height:38px;
    padding-bottom:0px;
  }

  /* EXTENSION */

  .extension .hero_copy{
    margin-top: 55px;
  }

  /* REMOVE THIS TO RETURN TO 2 COLUMN CTA AREA */
  .extension .local_office {
    width:47%;
  }


  /* UNCOMMENT TO RETURN TO 2 COLUMN CTA SECTION */
  /*
  #zipForm {
    display: block;
    width: 250px;
    margin: 15px 0 0 0;
    padding: 0;
  }
  */


  /*----------------------------------------*/
  /*Thankyou Page*/
  /*----------------------------------------*/

  .thankyou-page .brand_tile {
    width:31%;
  }


  .thankyou-page .bottom_tile ul {
    width: auto;
  }

  .thankyou-page .top_tile {
    margin-bottom: 5px;
  }


}



/**********************************************************************************************
 ____  ____  _______  _______  _______  __   __
|    ||    ||  _    ||  _    ||       ||  |_|  |
 |   | |   || | |   || | |   ||    _  ||       |
 |   | |   || | |   || | |   ||   |_| ||       |
 |   | |   || |_|   || |_|   ||    ___| |     |
 |   | |   ||       ||       ||   |    |   _   |
 |___| |___||_______||_______||___|    |__| |__|

**********************************************************************************************/

@media only screen and (min-width : 1100px) {

  .content {
    position: relative;
    width:975px;
    padding-left:25px;
    margin:0px auto;
  }

  /*----------------------------------------*/
  /*Main Template*/
  /*----------------------------------------*/

  .top_bar {
    min-width: 1024px;
  }

  .header {
    background:white;
    min-width: 1024px;
    height:90px;
    line-height:90px;
  }

  .header h1 {
    margin: 0 0 0 10px;
    font-size: 1.7em;
    display: inline-block;
  }

  .header-logo {
    width: 295px;
    display: inline-block;
    margin: 0;
  }

  .footer {
    min-width: 1024px;
  }

  .footer ul.responsive-accordion {
    float:left;
    width:100%;
    vertical-align: top;
  }

  .footer ul.responsive-accordion li {
    display: inline-block;
    width: 19%;
    vertical-align: top;
  }

  .footer ul.responsive-accordion div.responsive-accordion-head {
    cursor:default;
    background:none;
    color:#fff;
    margin:0;
    font: 1em 'latolight', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing:0.05em;
    margin-bottom: 0px;
    text-align:left;
  }

  .footer ul.responsive-accordion div.responsive-accordion-head i {
    display:none !important;
  }

  .footer ul.responsive-accordion div.responsive-accordion-panel {
    display:block !important;
  }

  .footer ul.responsive-accordion div.responsive-accordion-panel li {
    border:0;
    text-align:left;
    font-size:0.8em;
    letter-spacing:0.05em;
    padding:1px 0;
  }

  .footer ul.responsive-accordion div.responsive-accordion-panel li a {
    font: 14px/25px 'latolight', arial, sans-serif;
    text-decoration: none;
    color:white;
  }

  .footer ul.responsive-accordion div.responsive-accordion-panel li a.social-icon {
    display:inline-block;
    margin-right:1em;
  }

  .footer ul.responsive-accordion div.responsive-accordion-panel li.search_bar {
    margin:15px 0;
    padding:5px 0 0 0;
    position: relative;
  }

  .footer ul.responsive-accordion div.responsive-accordion-panel li.search_bar input {
    padding-left: 10px;
    font: 14px/30px 'latolight', arial, sans-serif;
    letter-spacing: 1px;
    vertical-align: middle;
    height:30px;
    width:148px;
    border:none;
    outline:0;
  }

  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

  .footer ul.responsive-accordion div.responsive-accordion-panel li.search_bar .search_button img {
    width:15px;
    height:17px;
    margin:-25px 0 25px 130px;
    cursor: pointer;
  }

  .footer ul.responsive-accordion div.responsive-accordion-panel li.truste {
    margin-top: 50px;
    padding-left: 15px;
  }

  .hero_btn {
    display: inline-block;
    margin: 0 43px 0 0;
    background: #ffc700;
    width:150px;
    height:45px;
    color:#0160a3 !important;
    font: 13px/50px 'latobold', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
  }


  /*----------------------------------------*/
  /* Page Specific*/
  /*----------------------------------------*/

  .hero {
    position: relative;
    background:#00a8e1;
    height:375px;
    width:auto;
    min-width: 1024px;
    margin-bottom: 50px;
    overflow: hidden;
  }

  .visa50_hero {
    padding-bottom: 45px;
  }

  .advance200_hero {
    padding-bottom: 25px;
  }

  .hero_copy {
    display: inline-block;
    position:relative;
    z-index: 3;
    width:60%;
    padding:0px;
    margin-top:0px;
  }

  .hero_copy sup{
    font-size: 50%;
    top: -8px;
  }

  .hero_copy h1 sup {
    top:-25px;
    font-size: 30%;
  }

  .hero_copy .fine_print {
    font-size:12px;
  }

  .promo, .location {
    height:auto;
    margin-bottom:60px;
    margin-top: 80px;
  }

  .tiles {
    position: relative;
    overflow: hidden;
    float: left;
    width:28.5%;
    padding-left: 3%;
    margin-right:2%;
    height:200px;
    padding-top:35px;
    background:#00a8e1;
    color:#ffc700;
    font: 24px/28px 'varela_roundregular', arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }

  .tile_title {
    position: relative;
    z-index: 6;
    text-align:left;
    width: 95%;
  }

  .small {
    font-size: 21px;
  }

  .white {
    color:white;
  }

  .tiles:nth-last-child(1) {
    margin-right:0;
  }

  .tiles:nth-child(3) .tile_title {
    font-size: 21px;
  }

  .tiles img {
    position: absolute;
    bottom:0;
    right:0;
    z-index: 5;
  }

  .accuracy_image {
    top:50px;
    left:80px;
  }

  .refund_image {
    top:105px;
    left:100px;
  }

  .locations_image {
    left:128px;
    top:68px;
  }

  .tandc, .privacy_policy, .disclaimer {
    position: relative;
    top:-25px;
  }

  .tandc_btn, .privacy_policy_btn, .disclaimer_btn {
    color: #959595 !important;
    text-decoration: underline;
    cursor:pointer;
    width:150px;
    margin: 0 auto;
    text-align: center;
  }

  .tandc_modal, .cost_detail_modal, .tandc_modal_detail, #freefile_modal, #calculation_modal, #terms_modal, #privacy_modal, #statefile_modal, #faqs_modal {
    display:none;
  }

  .tandc_modal, .cost_detail_modal, .tandc_modal_detail {
    font: 15px/18px 'latolight', arial, sans-serif;
    color:#7d7d7d;
    width:95%;
  }

  .tandc_modal .headline, .tandc_modal_detail .headline {
    font: 16px/26px 'latoregular', arial, sans-serif;
    color:#00a8e1;
    margin-bottom: 20px;
  }

  .privacy_policy {
    margin-bottom: 54px;
    top:0;
    text-align: center;
  }

  .disclaimer {
    font-size:10px;
    margin-bottom: 18px;
    top:0;
  }

  .disclaimer a{
    color: #a7a9ac;
  }

  .walmart_nocaps {
    text-transform:capitalize;
  }
  /*----------------------------------------*/
  /*offer template*/
  /*----------------------------------------*/

  .offer_template .hero_image {
    width:35%;
    margin-top: -34px;
  }


  .offer_template .wm50_hero .hero_image {
    width:35%;
    margin-top: 13px;
    margin-right: 0;
  }


  /*----------------------------------------*/
  /* Location Page */
  /*----------------------------------------*/

  .location_page .hero_image {
    width:1024px;
  }

  .location_page .hero_copy {
    width:430px;
  }

  /*----------------------------------------*/
  /*File Extension*/
  /*----------------------------------------*/

  .extension .hero_copy{
    width: 65%;
    margin-top: 35px;
  }

  .extension .hero h1{
    font-size:47px;
    margin-bottom: 5px;
  }

  .extension .hero h1.extension_free {
    width:100%;
  }

  .extension .hero h2{
    font-size:24px;
    margin-top:10px;
  }

  .extension .hero_image{
    width:35%;
    margin-top:-7px;
  }

  .extension .hero_image img {
    width:100%;
  }

  .extension .promo {
    margin-top:35px;
  }


  /* REMOVE THIS TO RETURN TO 2 COLUMN CTA AREA */
  .extension .local_office {
    width:45%;
  }



  /*----------------------------------------*/
  /*Advance 200 Page*/
  /*----------------------------------------*/

  /*----------------------------------------*/
  /*aca page*/
  /*----------------------------------------*/


  /*----------------------------------------*/
  /*Refer A Friend*/
  /*----------------------------------------*/


  /*----------------------------------------*/
  /*walmart 20 page*/
  /*----------------------------------------*/

  .updated_plans .content {
    position: relative;
    width: 975px;
    padding-left: 25px;
    margin: 0 auto;
  }

  .walmart20_page .hero_copy{
    width:800px;
  }

  .walmart20_page .hero h1{
    font-size:47px;
    margin-bottom: 5px;
  }

  .walmart20_page .hero h2{
    font-size:24px;
    margin-top:10px;
  }

  .walmart_logo {
    position: absolute;
    right:25px;
    top:35px;
  }

  /*----------------------------------------*/
  /* visa 50 */
  /*----------------------------------------*/


  /*----------------------------------------*/
  /*Online Page*/
  /*----------------------------------------*/


  .online_page p {
    width:515px;
    display: inline-block;
  }

  .online_page .hero h1{
    font-size:2.5em;
  }

  .online_page .hero h1.walmart_50{
    font-size:2.9em;
  }


  .online_plan {
    float:left;
    width:23.5%;
    margin-right: 1%;
  }


  .online_plan:first-child .plan_tile {
    height:325px;
  }

  .plan_tile {
    height:325px;
    padding-top: 45px;
    padding-bottom: 20px;
    margin-bottom:25px;
  }


  .online_page .plan_btn{
    margin: 65px auto 0 auto;
  }

  .online_plans_section .online_plan:nth-child(1) .plan_btn {
    margin-top: 30px;
  }

  .online_plan ul{
    margin-left:10px;
    width:205px;
    height:165px;
  }

  .updated_plans ul{
    height:275px;
  }

  /*----------------------------------------*/
  /* WALMART 20 & WALMART 50 */
  /*----------------------------------------*/

  .online_page .wm2_hero, .online_page .wm50_hero {
    height:auto;
    min-height:355px;
  }

  .online_page .wmFreeState {
    height:355px;
  }

  .unavailable_modal {
    width:100%;
    height:100%;
    background:#0160a3;
  }

  .unavailable_modal button {
    display: inline-block;
    margin: 0 43px 0 0;
    background: #ffc700;
    width: 150px;
    height: 45px;
    color: #0160a3!important;
    font: 13px/50px 'latobold',arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
  }

  .wm2_hero .hero_copy, .wm50_hero .hero_copy {
    margin-top: 45px;
  }


  .offer_template .wm2_hero .hero_image {
    width:35%;
    margin-top:0px;
  }

.walmart_50_snippet {
      float:right;
      margin: -5px 0px 0px 10px;
  }

  .walmart_50_snippet img{
    width:100%;
  }

  .walmart_card img {
    width: 350px;
    padding: 0;
  }


  /*----------------------------------------*/
  /*Walmart Online Page*/
  /*----------------------------------------*/


  /* MODAL */

  #simplemodal-container {
    width: 80% !important;
    left: 6% !important;
  }



  .office_and_online .content {
    width:100%;
    max-width:1024px;
    margin:0 auto;
  }

  .local_office .information {
    width:100%;
    margin:0;
  }

  .file_online {
    margin-left:10px;
  }

  .file_online .information {
    margin-left: 0px;
  }

  .office_btn, .file_online_btn {
    display: inline-block;
  }

  .office_btn {
    margin-top:5px;
    width:315px;
  }

  .file_online_btn {
    margin-top:42px;
    width:286px;
  }

  .findOfficeText, .hero .findOfficeText {
    width: 284px;
  }

  /* FORM */


  .online_page #zipForm, .extension #zipForm {
    display: block;
    width: 250px;
    margin: -108px 0 0 155px;
    padding: 0;
  }

  .missed_page .hero #zipForm, .rr_page .hero #zipForm {
    margin:0;
  }

  /* TDN */

  .tdn_page .tiles {
    padding: 30px 0 0 30px;
  }


  .tdn_page .file_online_btn{
    margin-top:95px;
  }



}
