<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <title>@Html.Raw(ViewBag.Title) | Jackson Hewitt</title>
  <meta name="ROBOTS" content="INDEX, FOLLOW">
  @{
    string description = String.Format(" content=\"{0}\"", RenderSection("MetaDescription", false).ToString().Trim());
  }
  <meta name="description" @Html.Raw(description)>
  <meta name="og:title" content="@Html.Raw(ViewBag.Title)">
  <meta name="og:description" @Html.Raw(description)>
  @RenderSection("MetaKeywords", false)

  <script type="text/javascript" src="http://fast.fonts.net/jsapi/2b958b81-a3d7-466b-9157-d153d0ba0bc2.js"></script>
  <link rel="stylesheet" type="text/css" href="~/Content/fonts.css" />
  @Styles.Render("~/bundles/css")

</head>
<body>
  <div class="ffa_layout">
    <div class="header">
      <div class="content">
        <div class="header-logo">
          <a href="http://www.jacksonhewittonline.com/FreeFile/"><img src="/images/FFA_logo.png"></a>
        </div>
        <div class="header-link">
          <a href="http://www.jacksonhewittonline.com/FreeFile/">Return To Free File Page</a>
        </div>
      </div>
    </div>

    @RenderBody()

    <div class="privacy_policy">

      <div class="content">
        <a class="privacy_policy_btn" href="http://jacksonhewitt.com/Privacy-Policy/">Privacy Policy</a>
      </div>
    </div>

    <div class="footer">
      <div class="content">
        <ul>
          <li class="title">additional free file tools</li>
          <li><a href="https://services.jhnet.com/STS/Account/SignIn">Check Return Status</a></li>
          <li><a href="http://www.irs.gov/uac/Free-File:-Do-Your-Federal-Taxes-for-Free" target="_blank">Return to IRS.gov Free File</a></li>
          <li><a href="http://www.jacksonhewittonline.com/FreeFile/">Return To Free File Page</a></li>
        </ul>
        <ul>
          <li class="title">Privacy & forms</li>
          <li id="terms_btn">Terms of Use</li>
          <li id="privacy_btn">Privacy Policy</li>
          <li id="freefile_btn">Free File Supported Forms</li>
          <li id="statefile_btn">Supported State Forms</li>
        </ul>
        <ul>
          <li class="title">Help & Support</li>
          <li id="faqs_btn">FAQs</li>
          <li><a href="http://www.jacksonhewittonline.com/FreeFile/Support">Support</a></li>
        </ul>
      </div>
    </div>
    <div class="sub_footer">
      <div class="content">
        <span class="copyright">&copy;2014 Jackson Hewitt Inc. All rights reserved.</span>
        <ul>
          <li><img src="/images/freefile_logo.jpg"></li>
          <li><a href="http://privacy.truste.com/privacy-seal/Jackson-Hewitt-Tax-Service-Inc-/validation?rid=4ad9dc85-aa89-4be5-823d-0f99d67460af" target="_blank"><img src="/images/truste_logo.jpg"></a></li>
          <li><a href="https://www.entrust.net/customer/profile.cfm?domain=www.jacksonhewitt.com" target="_blank"><img src="/images/entrust_logo.jpg"></a></li>
          <li><img src="/images/efile_logo.jpg"></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Modal Section -->
  @Html.Partial("FFAModals")


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/Scripts/bjqs-1.3.js"></script>
  <script src="/Scripts/jquery.simplemodal.1.4.4.js"></script>

  <script>
      $(document).ready(function () {
          $('.tandc_btn').click(function (e) {
              $(".tandc_modal").modal();
              $('html, body').animate({ scrollTop: 0 }, 'slow');

              return false;
          });

          $('.cost_modal_btn').click(function (e) {
              $(".cost_detail_modal").modal();
              $('html, body').animate({ scrollTop: 0 }, 'slow');

              return false;
          });

          // Fixes Placeholder Text For IE 9
          $.fn.placeholder();

          // Powers Search Box
          $('#btnsearch').click(function () {
              document.location.href = 'http://www.jacksonhewitt.com/SearchPage/?searchtext=' + $('#txtsearch').val();
          });
          $('#txtsearch').keydown(function (e) {
              if (e.keyCode == 13) {
                  $('#btnsearch').click();
                  return false;
              }
          });
      });
  </script>


  <script>
    $(document).ready(function () {
      function modalsetup(modalName) {
        $(modalName + '_btn').click(function (e) {
          $(modalName + '_modal').modal();
          $('html, body').animate({ scrollTop: 0 }, 'slow');

          return false;
        });
      };

      modalsetup("#tandc");
      modalsetup(".cost");
      modalsetup("#freefile");
      modalsetup("#calculation");
      modalsetup("#terms");
      modalsetup("#privacy");
      modalsetup("#statefile");
      modalsetup("#faqs");

    });
  </script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-9915297-11', 'auto');
    ga('send', 'pageview');
  </script>
  <script>
    var trackOutboundLink = function (location, action, label, url) {
      ga('send', 'event', location, action, label, {
        'hitCallback':
        function () {
          document.location = url;
        }
      });
    }
  </script>
  <script type='text/javascript'>
    var ebRand = Math.random() + '';
    ebRand = ebRand * 1000000;
    //<![CDATA[
    document.write('<scr' + 'ipt src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=575246&amp;rnd=' + ebRand + '"></scr' + 'ipt>');
    //]]>
  </script>
  <noscript>
    <img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=575246&amp;ns=1"/>
  </noscript>
</body>
</html>
