﻿<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <title>@Html.Raw(ViewBag.Title) | Jackson Hewitt</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    @{
        string description = String.Format(" content=\"{0}\"", RenderSection("MetaDescription", false).ToString().Trim());
    }
    <meta name="description" @Html.Raw(description) >
    <meta name="og:title" content="@Html.Raw(ViewBag.Title) | Jackson Hewitt" >
    <meta name="og:description" @Html.Raw(description) >

    @{

      <meta property="og:image" content="@Html.Raw(ViewBag.OGImage)" />
    }

    @RenderSection("MetaKeywords", false)
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/2b958b81-a3d7-466b-9157-d153d0ba0bc2.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/fonts.css" />
    @Styles.Render("~/bundles/css-responsive")

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            // Powers Search Box
            $('#btnsearch').click(function () {
                document.location.href = 'http://www.jacksonhewitt.com/SearchPage/?searchtext=' + $('#txtsearch').val();
            });
            $('#txtsearch').keydown(function (e) {
                if (e.keyCode == 13) {
                    $('#btnsearch').click();
                    return false;
                }
            });
        });
    </script>

</head>
<body>
    <div class="top_bar">
        <div class="content" role="nav">
          <nav>
            <a href="#" id="menu-icon"></a>
            <ul>
              <li><a href="http://jacksonhewitt.com/Our-Story/Become-Part-of-Our-Story/Become-a-Tax-Pro/">Become a Tax Preparer</a></li>
              <li><a href="http://jacksonhewitt.com/Our-Story/Become-Part-of-Our-Story/jackson-hewitt-franchise/">Own a Franchise</a></li>
              <li><a href="/tax-preparation/about-jackson-hewitt">Our Story</a></li>
              <li class="login_bar"><a onclick="ga('send','event','Header','log in clicked','account');" href="https://services.jhnet.com/STS/Account/SignIn">Log in to My JH</a></li>
            </ul>
          </nav>
        </div>
    </div>

    <div class="header">
        <div class="content">
            <div class="header-logo">
                <a href="http://jacksonhewitt.com/"><img src="/images/logo.png"></a>
            </div>
            <h1>Working hard for the hardest working.<sup>SM</sup></h1>
        </div>
    </div>


    @RenderBody()

    <div class="privacy_policy">
        <div class="content">
            <a class="privacy_policy_btn" href="http://jacksonhewitt.com/Privacy-Policy/">Privacy Policy</a>
        </div>
    </div>

    <div class="footer">
        <div class="content">

          <ul class="responsive-accordion responsive-accordion-default bm-larger">
            <li>
              <div class="responsive-accordion-head">
                Tax Prep
                <i class="fa fa-chevron-down responsive-accordion-plus fa-fw"></i><i class="fa fa-chevron-up responsive-accordion-minus fa-fw"></i>
              </div>
              <div class="responsive-accordion-panel">
                <ul>
                  <li>
                    <a onclick="ga('send','event','file in-store','file in-store clicked_footer','walmart_20');" href="http://jacksonhewitt.com/In-Store-Tax-Prep/">
                      File In-Store
                    </a>
                  </li>
                  <li>
                    <a onclick="ga('send','event','file online', 'file online clicked_footer', 'walmart_20');" href="http://offers.jacksonhewitt.com/tax-preparation/do-your-taxes-online">
                      File Online
                    </a>
                  </li>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/TaxForms/">Find Forms</a></li>
                  <li><a href="http://jacksonhewitt.com/In-Store-Tax-Prep/JH-Mobile/">Mobile Apps</a></li>
                  <li><a href="http://jacksonhewitt.com/In-Store-Tax-Prep/Products-and-Services/">Products & Services</a></li>
                  <li><a href="https://jacksonhewitt.com/ResourceCenter/eDocuments/">Access eDocuments</a></li>
                </ul>

              </div>
            </li>
            <li>
              <div class="responsive-accordion-head">
                Resources
                <i class="fa fa-chevron-down responsive-accordion-plus fa-fw"></i><i class="fa fa-chevron-up responsive-accordion-minus fa-fw"></i>
              </div>
              <div class="responsive-accordion-panel">
                <ul>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/Tax-Tips/">Tax Tips</a></li>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/Tax-Topics/">Tax Topics</a></li>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/Personalized-Resources-Results/overlooked_deductions/">Overlooked Deductions</a></li>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/Tax-Credits/">Tax Credits</a></li>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/TaxForms/">Tax Forms</a></li>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/Tax-Calculator/">Tax Calculators</a></li>
                  <li><a href="/tax-preparation/resource-center/healthcare-insurance-taxes">Healthcare and Taxes</a></li>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/Life-Events/">Life Events</a></li>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/Deductions-at-work/">Job-Specific Deductions</a></li>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/Glossary/A/">Glossary of Terms</a></li>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/Disaster-Recovery/">Disaster Recovery Guide</a></li>
                  <li><a href="http://jacksonhewitt.com/Resource-Center/Infographics/">Tax Infographics</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="responsive-accordion-head">
                Own A franchise
                <i class="fa fa-chevron-down responsive-accordion-plus fa-fw"></i><i class="fa fa-chevron-up responsive-accordion-minus fa-fw"></i>
              </div>
              <div class="responsive-accordion-panel">
                <ul>
                  <li><a href="http://jacksonhewitt.com/Our-Story/Become-Part-of-Our-Story/jackson-hewitt-franchise/why-jackson-hewitt-franchise/">Why Us</a></li>
                  <li><a href="http://jacksonhewitt.com/Our-Story/Become-Part-of-Our-Story/jackson-hewitt-franchise/ownership-options/">Ownership Options</a></li>
                  <li><a href="http://jacksonhewitt.com/Our-Story/Become-Part-of-Our-Story/jackson-hewitt-franchise/request-for-franchise-consideration/">Take the First Step</a></li>
                </ul>
              </div>
            </li>

            <li>
              <div class="responsive-accordion-head">
                About Us
                <i class="fa fa-chevron-down responsive-accordion-plus fa-fw"></i><i class="fa fa-chevron-up responsive-accordion-minus fa-fw"></i>
              </div>
              <div class="responsive-accordion-panel">
                <ul class="">
                  <li><a href="/tax-preparation/about-jackson-hewitt">Our Story</a></li>
                  <li><a href="http://jacksonhewitt.com/Our-Story/Testimonials/">Testimonials</a></li>
                  <li><a href="http://jacksonhewitt.com/Our-Story/Tax-Talk/">Tax Talk</a></li>
                  <li><a href="http://jacksonhewitt.com/Our-Story/Join-The-Conversation/">Newsroom</a></li>
                  <li><a href="http://jacksonhewitt.com/Our-Story/Become-Part-of-Our-Story/Become-a-Tax-Pro/">Corporate Opportunities</a></li>
                  <li><a href="http://jacksonhewitt.com/Our-Story/Become-Part-of-Our-Story/Career-Opportunities/">Become A Tax Preparer</a></li>
                  <li><a href="http://jacksonhewitt.com/Contact-Us/">Contact Us</a></li>
                </ul>
              </div>
            </li>


            <li>
              <div class="responsive-accordion-head">
                Connect With Us
                <i class="fa fa-chevron-down responsive-accordion-plus fa-fw"></i><i class="fa fa-chevron-up responsive-accordion-minus fa-fw"></i>
              </div>
              <div class="responsive-accordion-panel">
                <ul>

                  <li class="social_icons">
                    <a class="social_icon" href="https://www.youtube.com/user/jacksonhewitt"  target="_blank" onclick="ga('send','event','Footer','youtube logo clicked','social');">
                      <img src="/images/youtube_icon.png">
                    </a>
                    <a class="social_icon" href="https://www.facebook.com/jacksonhewitt"  target="_blank" onclick="ga('send','event','Footer','facebook logo clicked','social');">
                      <img src="/images/facebook_icon.png">
                    </a>
                    <a class="social_icon" href="https://twitter.com/jacksonhewitt"  target="_blank" onclick="ga('send','event','Footer','twitter logo clicked','social');">
                      <img src="/images/twitter_icon.png">
                    </a>
                  </li>

                  <li class="search_bar">
                    <input id="txtsearch" type="text" placeholder="Search" class="search_input" title="Search" style="color: rgb(169, 169, 169);">
                    <div onclick="ga('send','event','Footer','search query submitted','search');" id="btnsearch" class="submit search_button"><img src="/images/search_icon.png"></div>
                  </li>

                  <li><a href="http://jacksonhewitt.com/Spanish/"  target="_blank">En Espa&ntilde;ol</a></li>


                  <li class="truste">
                    <script type="text/javascript" src="https://privacy-policy.truste.com/privacy-seal/Jackson-Hewitt-Tax-Service-Inc-/asc?rid=1ff64f3c-5e63-4ef5-8ce6-b322b2e4e95c"></script>
                    <a href="//privacy.truste.com/privacy-seal/Jackson-Hewitt-Tax-Service-Inc-/validation?rid=4ad9dc85-aa89-4be5-823d-0f99d67460af" title="TRUSTe online privacy certification" target="_blank">
                        <img src="//privacy-policy.truste.com/privacy-seal/Jackson-Hewitt-Tax-Service-Inc-/seal?rid=4ad9dc85-aa89-4be5-823d-0f99d67460af" alt="TRUSTe online privacy certification">
                    </a>
                </li>

                </ul>
              </div>
            </li>
          </ul>


        </div>
    </div>

    <script src="/Scripts/smoothscroll.min.js" type="text/javascript"></script>
    <script src="/Scripts/responsive.accordion.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.simplemodal.1.4.4.js"></script>

    <script>
        $(document).ready(function () {
            $('.tandc_btn').click(function (e) {
                $(".tandc_modal").modal();
                $('html, body').animate({ scrollTop: 0 }, 'slow');

                return false;
            });

            $('.cost_modal_btn').click(function (e) {
                $(".cost_detail_modal").modal();
                $('html, body').animate({ scrollTop: 0 }, 'slow');

                return false;
            });

            $('.hero_carousel').bjqs({
                'height': 380,
                'width': 1024,
                'responsive': false,
                nexttext: '<img src="/images/carousel_arrow_r.png">',
                prevtext: '<img src="/images/carousel_arrow_l.png">',
                showmarkers: true,
                centermarkers: true
            });

            // Fixes Placeholder Text For IE 9
            $.fn.placeholder();

        });
    </script>

    <script>
        $(function () {
            var pull = $('#menu-icon');
            menu = $('nav ul');
            menuHeight = menu.height();

            $(pull).on('click', function (e) {
                e.preventDefault();
                menu.slideToggle();
            });

            $(window).resize(function () {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-9915297-11', 'auto');
        ga('send', 'pageview');

    </script>
    <script>
    var trackOutboundLink = function(location, action, label, url) {
       ga('send', 'event', location, action, label, {'hitCallback':
         function () {
         document.location = url;
         }
       });
    }
    </script>
    <script type='text/javascript'>
    var ebRand = Math.random()+'';
    ebRand = ebRand * 1000000;
    //<![CDATA[
    document.write('<scr'+'ipt src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=575246&amp;rnd=' + ebRand + '"></scr' + 'ipt>');
    //]]>
    </script>
    <noscript>
      <img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=575246&amp;ns=1"/>
    </noscript>
</body>
</html>
