﻿<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <title>@Html.Raw(ViewBag.Title) | Jackson Hewitt</title>
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    @{
        string description = String.Format(" content=\"{0}\"", RenderSection("MetaDescription", false).ToString().Trim());
    }
    <meta name="description" @Html.Raw(description)>
    <meta name="og:description" @Html.Raw(description)>
    <meta name="og:title" content="@Html.Raw(ViewBag.Title)">
    @RenderSection("MetaKeywords", false)


    <script type="text/javascript" src="http://fast.fonts.net/jsapi/2b958b81-a3d7-466b-9157-d153d0ba0bc2.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/fonts.css" />
    @Styles.Render("~/bundles/css")

</head>
<body>
    <div class="walmart_header">
        <div class="content">
            <div class="logos">
                <a href="http://www.walmart.com/" target="_blank"><img class="wm_logo" src="/images/walmart_wm_header_logo.png"></a>
                <a href="http://jacksonhewitt.com/"><img class="jh_logo" src="/images/walmart_jh_header_logo.png"></a>
            </div>
            <div class="signin">
                <a onclick="ga('send','event','Header','go to walmart.com clicked','walmart');" href="http://www.walmart.com" target="_blank">
                    Go to Walmart.com
                </a>
                | Already have an account?
                <a onclick="ga('send','event','Header','log in clicked','account');" href="https://services.jhnet.com/STS/Account/SignIn">Sign In</a>
                <br>
                Questions? <a href="http://jacksonhewitt.com/Contact-Us/">Contact Us</a>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="privacy_policy">
        <div class="content">
            <a class="privacy_policy_btn" href="http://jacksonhewitt.com/Privacy-Policy/">Privacy Policy</a>
        </div>
    </div>

    <div class="footer walmart_footer">
        <div class="content">
            <ul>
                <li class="title">Tax prep</li>
                <li>
                    <a onclick="ga('send','event','file in-store','file in-store clicked_footer','@ViewBag.FooterLabel')" href="http://www.walmart.com/store/finder" target="_blank">
                        File in a Store
                    </a>
                </li>
                <li><a href=" http://learn.walmart.com/Tips-Ideas/Articles/Tax_Tips/Claiming_dependents/21611/" target="_blank">Claiming Dependents</a></li>
                <li><a href="http://learn.walmart.com/Tips-Ideas/Articles/Tax_Tips/Earned_income_tax_credit/21614/" target="_blank">Earned Income Tax Credit</a></li>
                <li><a href="http://learn.walmart.com/Tips-Ideas/Articles/Tax_Tips/How_are_your_finances/21634/" target="_blank">How Are Your Finances?</a></li>
                <li><a href="http://learn.walmart.com/Tips-Ideas/Articles/Tax_Tips/Life_changes_tax_changes/21617/" target="_blank">Life changes, tax changes</a></li>
                <li><a href="http://learn.walmart.com/Tips-Ideas/Articles/Tax_Tips/Tax_filing_status/21613/" target="_blank">Tax Filing Status</a></li>
                <li><a href="http://learn.walmart.com/Tips-Ideas/Articles/Tax_Tips/Top_overlooked_tax_credits/21615/" target="_blank">Top Overlooked Tax Credits</a></li>
                <li><a href="http://Learn.walmart.com/tips-ideas" target="_blank">Tax Tips</a></li>
            </ul>
            <ul class="about">
                <li class="title">About us</li>
                <li><a href="/tax-preparation/about-jackson-hewitt">Our Story</a></li>
                <li><a href="http://jacksonhewitt.com/Contact-Us/">Contact Us</a></li>
            </ul>
            <ul>
                <!-- Place Holder -->
            </ul>
        </div>
        <div class="sub_footer">
            <div class="content">
                <div class="connected">
                    Stay connected with Walmart
                    <a href="https://www.facebook.com/walmart" target="_blank"><img src="/images/walmart_footer_facebook_icon.png"></a>
                    <a href="http://www.pinterest.com/walmart/" target="_blank"><img src="/images/walmart_footer_pintrest_icon.png"></a>
                    <a href="http://twitter.com/walmart" target="_blank"><img src="/images/walmart_footer_twitter_icon.png"></a>
                </div>
                <div class="copywright">
                    &#169;2014 Walmart Stores, Inc.
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/Scripts/bjqs-1.3.js"></script>
    <script src="/Scripts/jquery.simplemodal.1.4.4.js"></script>

    <script>
        $(document).ready(function () {
            $('.tandc_btn').click(function (e) {
                $(".tandc_modal").modal();
                $('html, body').animate({ scrollTop: 0 }, 'slow');

                return false;
            });

            $('.cost_modal_btn').click(function (e) {
                $(".cost_detail_modal").modal();
                $('html, body').animate({ scrollTop: 0 }, 'slow');

                return false;
            });

            $('.hero_carousel').bjqs({
                'height': 380,
                'width': 1024,
                'responsive': false,
                nexttext: '<img src="/images/carousel_arrow_r.png">',
                prevtext: '<img src="/images/carousel_arrow_l.png">',
                showmarkers: true,
                centermarkers: true
            });

            // Fixes Placeholder Text For IE 9
            $.fn.placeholder();

            // Powers Search Box
            $('#btnsearch').click(function () {
                document.location.href = 'http://www.jacksonhewitt.com/SearchPage/?searchtext=' + $('#txtsearch').val();
            });
            $('#txtsearch').keydown(function (e) {
                if (e.keyCode == 13) {
                    $('#btnsearch').click();
                    return false;
                }
            });
        });
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-9915297-11', 'auto');
        ga('send', 'pageview');

    </script>
    <script>
    var trackOutboundLink = function(location, action, label, url) {
       ga('send', 'event', location, action, label, {'hitCallback':
         function () {
         document.location = url;
         }
       });
    }
    </script>
    <script type='text/javascript'>
    var ebRand = Math.random()+'';
    ebRand = ebRand * 1000000;
    //<![CDATA[
    document.write('<scr'+'ipt src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=575246&amp;rnd=' + ebRand + '"></scr' + 'ipt>');
    //]]>
    </script>
    <noscript>
      <img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=575246&amp;ns=1"/>
    </noscript>
</body>
</html>
