﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    ViewBag.FooterLabel = "Error Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/bundles/css")

<div class="error_page">
  <div class="content">
    You can't get your taxes done here.<br>
    <a href="/tax-preparation/do-your-taxes-online">Go to a page where you can.</a>
  </div>
</div>


@section MetaDescription {}