<div class="ffa_modal freefile_modal" id="freefile_modal">

  <div class="title">FREE FILE SUPPORTED FORMS</div>
  <ul>
    <li class="row_title"><div class="form">Form/Schedule</div> Description</li>
    <li><div class="form">Form 1040A</div>  U.S. Individual Income Tax Return</li>
    <li><div class="form">Form 1040EZ U.S.</div> Income Tax Return for Single and Joint Filers</li>
    <li><div class="form">Form W-2</div>  Wage and Tax Statement</li>
    <li><div class="form">Form W-2G</div> Certain Gambling Winnings</li>
    <li><div class="form">Schedule A</div>  Itemized Deductions</li>
    <li><div class="form">Schedule B</div>  Interest and Ordinary Dividends</li>
    <li><div class="form">Schedule C</div>  Profit or Loss From Business</li>
    <li><div class="form">Schedule D</div>  Capital Gains and Losses</li>
    <li><div class="form">Schedule E, Part 1</div>  Supplemental Income and Loss</li>
    <li><div class="form">Schedule EIC</div>  Earned Income Credit</li>
    <li><div class="form">Schedule SE</div> Self-Employment Tax</li>
    <li><div class="form">Form 982</div>  Reduction of Tax Attributes Due to Discharge of Indebtedness (And Section 1082 Basis Adjustment)</li>
    <li><div class="form">Form 1098-E</div> Student Loan Interest</li>
    <li><div class="form">Form 1098-T</div> Tuition Payment</li>
    <li><div class="form">Form 1099-DIV</div> Dividends and Distribution Income</li>
    <li><div class="form">Form 1099-INT</div> Interest Income</li>
    <li><div class="form">Form 1099-MISC</div>  Miscellaneous Income</li>
    <li><div class="form">Form 1099R</div>  Distributions From Pensions, Annuities, Retirement or Profit-Sharing Plans, IRAs, Insurance Contracts, etc.</li>
    <li><div class="form">Form 2106</div> Employee Business Expenses</li>
    <li><div class="form">Form 2441</div> Child and Dependent Care Expenses</li>
    <li><div class="form">Form 3903</div> Moving Expenses</li>
    <li><div class="form">Form 4137</div> Social Security and Medicare Tax on Unreported Tip Income</li>
    <li><div class="form">Form 4684, Part A</div> Casualties and Thefts</li>
    <li><div class="form">Form 5329</div> Additional Taxes on Qualified Plans (Including IRAs) and Other Tax-Favored Accounts</li>
    <li><div class="form">Form 5405</div> First-Time Homebuyer Credit</li>
    <li><div class="form">Form 5695</div> Residential Energy Credits</li>
    <li><div class="form">Form 8283</div> Noncash Charitable Contribution</li>
    <li><div class="form">Form 8812</div> Additional Child Tax Credit</li>
    <li><div class="form">Form 8829</div> Expenses for Business Use of Your Home</li>
    <li><div class="form">Form 8862</div> Information To Claim Earned Income Credit After Disallowance</li>
    <li><div class="form">Form 8863</div> Education Credits (Hope and Lifetime Learning Credits)</li>
    <li><div class="form">Form 8880</div> Credit for Qualified Retirement Savings Contributions</li>
    <li><div class="form">Form 8888</div> Direct Deposit of Refund to more than 1 account</li>
    <li><div class="form">Form 8889</div> Health Savings Accounts (HSAs)</li>
    <li><div class="form">Form 8917</div> Tuition and Fees Deductions</li>
    <li><div class="form">Form 8949</div> Sales and other Dispositions of Capital Assets</li>
    <li><div class="form">Form 8962</div> Premium Tax Credit</li>
    <li><div class="form">Form 8965</div> Health Coverage Exemptions</li>
  </ul>
</div>


<div class="ffa_modal calculation_modal" id="calculation_modal">
  <div class="title">CALCULATION GUARANTEE</div>
  At Jackson Hewitt, we stand behind our work. All returns completed through Jackson Hewitt Online come with our Free Calculation Guarantee, a program that checks over calculations entered to ensure all errors of inputed data are corrected.<br>
  <br><br>
  If you have questions on this, or any other questions about Jackson Hewitt Online, <a href="http://jho-test.serverside.net/FreeFile/support/" target="_blank">email us.</a>
</div>

<div class="ffa_modal terms_modal" id="terms_modal">
  <div class="title">TERMS OF USE</div>
  This website, <a title="www.jacksonhewitt.com " href="http://www.jacksonhewitt.com/" target="_blank">www.jacksonhewitt.com </a> (the "Website"), is being provided by Jackson Hewitt Inc. ("Jackson Hewitt," "we," "us" or "our"). This Website is offered to you conditioned upon your acceptance without modification of all the terms and conditions set forth herein. By accessing or visiting this Website in any manner, you agree to be bound by these Terms of Use. Please read the Terms of Use carefully. If you do not accept all of these terms and conditions, please do not use this Website.
  <br><br>
  The Website's Terms of Use does not extend beyond the usage and content of <a title="www.jacksonhewitt.com " href="http://www.jacksonhewitt.com/" target="_blank">www.jacksonhewitt.com </a>. Jackson Hewitt reserves the right at any time, at its sole discretion, to change or otherwise modify the Terms of Use without prior notice, and your continued access or use of this Website signifies your acceptance of the updated or modified terms of use. Therefore, we recommend that you review the Terms of Use each time you use the Website.
  <br><br>
  <span class="subhead">General Information</span>
  <br><br>
  Unauthorized use of this Website is strictly prohibited. Such unauthorized use includes, but is not limited to, unauthorized access, misuse of passwords, or any activity that could damage, overburden or disable use of this Website or interfere with another party's use of this Website. You may not engage in any activity that is contrary to any applicable law or regulation. You agree not to violate or attempt to violate the security of this Website or interfere with the proper working of this Website.
  <br><br>
  We reserve the right to modify, improve or otherwise correct any content, image, or information on this Website without prior notice. We also reserve the right to suspend or deny access to this Website for any reason, including without limitation, maintenance, upgrades, or to protect the security of this Website.
  <br><br>
  <span class="subhead">Third Party Websites and Links</span>
  <br><br>
  This Website may contain links to third party websites beyond our control. We do not take any responsibility for any information, materials, products and services posted or offered on any of these third party websites.
  <br><br>
  Third party websites may have their own terms of use that differ from these Terms of Use. We do not monitor third party websites, and therefore, we are not responsible for the contents, hyperlinks or advertising they choose to place on their sites. Links to third party websites are provided for your convenience and reference only. Our Website's Terms of Use do not extend beyond the usage of this Website and this Website's content.
  <br><br>
  You acknowledge and agree that Jackson Hewitt shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such third party website content, goods or services available on or through any such site or resource.
  <br><br>
  <span class="subhead">Disclaiming of Warranties and Representations</span>
  <br><br>
  THIS WEBSITE AND THE SERVICES, INFORMATION AND MATERIALS CONTAINED ON THIS WEBSITE ARE PRESENTED TO YOU WITHOUT ANY WARRANTIES OR REPRESENTATIONS. SERVICES, INFORMATION, AND MATERIALS ON THIS WEBSITE, INCLUDING TEXT, GRAPHICS, LINKS OR OTHER ITEMS ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS AND WE DO NOT MAKE ANY EXPRESS OR IMPLIED WARRANTIES OR REPRESENTATIONS. WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. YOUR USE OF THIS WEBSITE IS AT YOUR OWN RISK.
  <br><br>
  WE DO NOT MAKE ANY REPRESENTATIONS OR WARRANTIES REGARDING THE ACCURACY, ADEQUACY, COMPLETENESS OR TIMELINESS OF THE INFORMATION, MATERIALS, PRODUCTS OR SERVICES PROVIDED THROUGH THIS WEBSITE. WE DO NOT REPRESENT OR WARRANT THAT THE WEBSITE WILL BE AVAILABLE OR THAT IT WILL MEET YOUR REQUIREMENTS, THAT ACCESS WILL BE UNINTERRUPTED, THAT THERE WILL NOT BE DELAYS, FAILURES, ERRORS OR OMISSIONS OR LOSS OF TRANSMITTED INFORMATION, THAT NO VIRUSES OR OTHER CONTAMINATING OR DESTRUCTIVE PROPERTIES WILL BE TRANSMITTED OR THAT NO DAMAGE WILL OCCUR TO YOUR COMPUTER SYSTEM. YOU HAVE SOLE RESPONSIBILITY FOR ADEQUATE PROTECTION AND BACKUP OF DATA AND/OR EQUIPMENT AND FOR UNDERTAKING REASONABLE AND APPROPRIATE PRECAUTIONS TO SCAN FOR COMPUTER VIRUSES.
  <br><br>
  WE MAKE NO REPRESENTATIONS OR WARRANTIES REGARDING THE ACCURACY, FUNCTIONALITY OR PERFORMANCE OF ANY THIRD PARTY SOFTWARE THAT MAY BE USED IN CONNECTION WITH THIS WEBSITE. WE MAKE NO WARRANTY THAT ANY ERRORS WILL BE CORRECTED.
  <br><br>
  NO ADVICE, SERVICE OR INFORMATION OBTAINED BY YOU THROUGH THIS WEBSITE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN.
  <br><br>
  <span class="subhead">Registration and Security</span>
  <br><br>
  As part of the voluntary registration process on this Website, you will select a login and password. You also must provide us with certain registration information (e.g., name, email address) all of which must be accurate and complete. You may not select or use a login of another person with the intent to impersonate that person or use a login and password in which another person has rights without such person's authorization. Failure to comply with the foregoing constitutes a breach of these Terms of Use.
  <br><br>
  You are responsible for maintaining the confidentiality of your password. You shall notify Jackson Hewitt at <a href="mailto:JacksonHewittOnline@custhelp.com">JacksonHewittOnline&#64;custhelp.com</a> or 1-877-476-3353 of any known or suspected unauthorized use(s) of your account, or any known or suspected breach of security, including loss, theft, or unauthorized disclosure of your password. You are responsible for all usage or activity on your account.
  <br><br>
  Information you provide through this Website is subject to the Website's Privacy Policy. <a title="link to the Jackson Hewitt Privacy Policy" href="https://www.jacksonhewitt.com/Privacy_Policy/">Please click here to see the full Website Privacy Policy</a>
  <br><br>
  <span class="subhead">Limitation of Liability</span>
  <br><br>
  YOU EXPRESSLY UNDERSTAND AND AGREE THAT JACKSON HEWITT SHALL NOT BE LIABLE TO YOU FOR ANY PUNITIVE, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGE FOR LOSS PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF JACKSON HEWITT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), IN CONNECTION WITH (A) YOUR USE OF THIS WEBSITE OR ANY LINKED WEBSITE; (B) THE USE OR THE INABILITY TO USE JACKSON HEWITT'S SERVICES; (C) THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES; (D) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; OR (E) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THIS WEBSITE. IN NO EVENT SHALL JACKSON HEWITT BE LIABLE TO YOU FOR ANY DAMAGES IN EXCESS OF THE FEES PAID BY YOU IN CONNECTION WITH YOUR USE OF THIS WEBSITE DURING THE SIX MONTH PERIOD PRECEDING THE DATE ON WHICH THE CLAIM AROSE.
  <br><br>
  <span class="subhead">Indemnification</span>
  <br><br>
  You agree to defend and indemnify Jackson Hewitt and/or its respective affiliates, parents, or subsidiaries and any of its officers, directors, employees and agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature, including but not limited to, reasonable legal and accounting fees, arising from claims by third parties as a result of or relating to (i) your breach of these Terms of Use, (ii) your violation of any law or the rights of a third party, or (iii) your use of this Website and/or the services and products provided through this Website.
  <br><br>
  <span class="subhead">Trademarks</span>
  <br><br>
  You agree that all of Jackson Hewitt's trademarks, trade names, service marks and other Jackson Hewitt logos and brand features, and product and service names are trademarks and the property of Jackson Hewitt (the "Jackson Hewitt Marks"). Without Jackson Hewitt's prior permission, you agree not to display or use in any manner the Jackson Hewitt Marks.
  <br><br>
  Other logos and product and company names appearing in this Website may be the trademarks of their respective owners.
  <br><br>
  <span class="subhead">Proprietary Rights</span>
  <br><br>
  You acknowledge and agree that this Website (including without limitation, all content) and any necessary software used in connection with this Website contains proprietary and confidential information that is protected by applicable intellectual property and other laws. You further acknowledge and agree that the content contained in advertisements or information presented to you through third party websites or by advertisers is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. Except as expressly permitted by applicable law or as authorized by Jackson Hewitt or the applicable licensor (such as an affiliate), you agree not to modify, loan, sell, distribute, transmit, broadcast, publicly perform or create derivative works based on this Website (including without limitation, the content) in whole or in part.
  <br><br>
  <span class="subhead">Governing Law</span>
  <br><br>
  These Terms of Use shall be construed in accordance with the laws of the State of New Jersey, without regard to any conflict of law provisions. Any dispute arising under the terms of use shall be resolved by the Superior Court of the State of New Jersey in Morris County or the United States District Court for the District of New Jersey in Newark.
  <br><br>
  <span class="subhead">Waiver and Severability of Terms</span>
  <br><br>
  The waiver of any provision of the Terms of Use shall not be considered a waiver of any other provision or of Jackson Hewitt's right to require strict observance of each of the terms herein. If any provision of the Terms of Use is found to be unenforceable or invalid for any reason, that provision shall be severable, and all other provisions shall remain in full force and effect.
  <br><br>
  <span class="subhead">Entire Agreement</span>
  <br><br>
  These Terms of Use constitute the entire agreement between you and Jackson Hewitt and govern your use of this Website, superseding any prior version of the Terms of Use. You may also be subject to additional terms and conditions that may apply when you use or purchase certain other Jackson Hewitt services, affiliate services, or third party services.
  <br><br>
  <span class="subhead">Not Intended for Children</span>
  <br><br>
  You represent that you are of legal age to form a binding contract and are not a person barred from using this Website under the laws of the United States or other applicable jurisdiction.
  <br><br>
  <span class="subhead">Copyright &copy; Jackson Hewitt Inc. 2010. All Rights Reserved</span>
  <br><br>
  Copyright in the pages and in the screens displaying the pages, and in the information and material therein and in their arrangement, is owned by Jackson Hewitt Inc. or their respective affiliates unless otherwise indicated.
  <br><br>
  <span class="subhead">Changes to The Terms of Use</span>
  <br><br>
  The Terms of Use were last updated on January 4, 2010. Please check the Terms of Use periodically for changes.
</div>

<div class="ffa_modal privacy_modal" id="privacy_modal">
  <div class="title">PRIVACY POLICY</div>

  Jackson Hewitt Inc. ("Jackson Hewitt," "we," "us" or "our")
  recognizes the importance of protecting the information provided to us by
  visitors to <a target="_blank" href="http://www.jacksonhewitt.com">www.jacksonhewitt.com</a>, <a target="_blank" href="http://www.jacksonhewittonline.com">www.jacksonhewittonline.com</a>
  and services.jhnet.com (our "Websites"). This privacy statement explains what information may be
  collected from you when you visit our Websites, how that information is used
  and how it is shared with third parties.
  <br /><br />

  <b>Jackson Hewitt offers individual tax preparation services and related products and services through various affiliates, franchisees and company-owned stores. Because we offer in-store and online tax preparation services, our privacy policies will vary depending on how you interact with Jackson Hewitt. This privacy policy applies solely to our Websites, independent of any business relationship you may have with us.</b>
  <br /><br />

  <b>This privacy policy may change and will be updated on our Websites. You should check
    this page periodically to ensure that you are in agreement with any changes. If
    we amend this privacy policy to permit material changes in the way we collect,
    use, and/or share your personal information, we will notify you of such
    amendment by prominently posting notice of such amendment on our
    Websites' homepages prior to the change becoming effective. </b>
    <br /><br />

    <a target="_blank" href="http://privacy.truste.com/privacy-seal/Jackson-Hewitt-Tax-Service-Inc-/validation?rid=4ad9dc85-aa89-4be5-823d-0f99d67460af" title=""><img src="/images/truste_seal.png"></a>
    <br /><br />

    Jackson Hewitt, Inc. has been awarded TRUSTe's Privacy Seal signifying that this privacy policy and practices have been reviewed by TRUSTe
    for compliance with <a target="_blank" href="http://www.truste.com/privacy-program-requirements/">TRUSTe's program requirements</a> including
    transparency, accountability and choice regarding the collection and use of your personal information. The TRUSTe program does not cover information that may be collected through downloadable software. The TRUSTe program covers only
    information that is collected through these Web sites: <a target="_blank" href="http://www.jacksonhewitt.com">www.jacksonhewitt.com</a>, <a target="_blank" href="http://www.jacksonhewittonline.com">www.jacksonhewittonline.com</a> and services.jhnet.com.
    TRUSTe's mission, as an independent third party, is to accelerate online trust among
    consumers and organizations globally through its leading privacy trustmark and
    innovative trust solutions. If you have questions or complaints regarding our
    privacy policy or practices, please contact us at <a target="_blank" href="https://JacksonHewitt.custhelp.com/app/ask">https://JacksonHewitt.custhelp.com/app/ask</a> or by calling
    1-877-476-3353. If you are not satisfied with our response you can <a target="_blank" href="http://watchdog.truste.com/pvr.php?page=complaint">contact TRUSTe here</a>.
    <br /><br />

    <span class="subhead">INFORMATION COLLECTED BY JACKSON HEWITT</span>
    <br /><br />

    <span class="grey_subhead">VOLUNTARY REGISTRATION</span>
    <br /><br />

    We collect personal information (which may include, without
    limitation, your name, email address, social security number, mailing address
    and/or telephone number) from you when you voluntarily register on the Websites
    or when you request information or a service (e.g., tax preparation services)
    on the Websites.
    <br /><br />

    <span class="grey_subhead">SURVEYS OR CONTESTS</span>
    <br /><br />

    From time-to-time we may provide you the opportunity to
    participate in contests or surveys on our sites. If you participate, we will
    request certain personally identifiable information from you. Participation in
    these surveys or contests is completely voluntary and you therefore have a
    choice whether or not to disclose this information. The requested information
    typically includes contact information (such as name and shipping address), and
    demographic information (such as zip code).
    <br /><br />

    <span class="grey_subhead">LOG FILES</span>
    <br /><br />

    As is true of most web
    sites, we gather certain information automatically and store it in log files.
    This information includes Internet protocol (IP) addresses, browser type,
    Internet service provider (ISP), referring/exit pages, operating system,
    date/time stamp, and clickstream data. We may combine this automatically
    collected log information with other information we collect about you. We do
    this to improve services we offer you, to improve marketing, analytics, or site
    functionality.
    <br /><br />

    <span class="grey_subhead">TRACKING TECHNOLOGIES</span>
    <br /><br />

    Technologies such as:
    cookies, beacons, tags and scripts are used by Jackson Hewitt and our marketing
    partners, customer support providers and analytics providers. These
    technologies are used in analyzing trends, administering the site, tracking
    users' movements around the site and to gather demographic information about
    our user base as a whole. We may receive reports based on the use of these
    technologies by these companies on an individual as well as aggregated basis. We
    use cookies for to remember users' settings and for authentication purposes.
    Users can control the use of cookies at the individual browser level. If you
    reject cookies, you may still use our site, but your ability to use some
    features or areas of our site may be limited.
    <br /><br />

    <span class="grey_subhead">BEHAVIORAL TARGETING / RE-TARGETING</span>
    <br /><br />

    We partner with a third party to either display advertising on our Web site or to manage our
    advertising on other sites. Our third party partner may use technologies such
    as cookies to gather information about your activities on this site and other
    sites in order to provide you advertising based upon your browsing activities
    and interests.  If you wish to not have this information used for the
    purpose of serving you interest-based ads, you may opt-out by visiting
    http://preferences.truste.com. Please note this does not opt you out of being
    served ads.  You will continue to receive generic ads.
    <br /><br />

    <span class="grey_subhead">HOW JACKSON HEWITT MAY USE THE COLLECTED INFORMATION</span>
    <br /><br />


    Jackson Hewitt does not sell or market your personal information
    to any third parties. We will share your personal information with third
    parties only in the ways that are described in this privacy policy. We use
    information collected on the Websites for the following:
    <br /><br />
    <ul>
      <li>To provide the products and services you request and communicate with you regarding those requests</li>
      <li>Internal market analysis</li>
      <li>To improve our products and services</li>
      <li>To provide you with information on new products or special offers</li>
      <li>To tailor the Websites according to your interests</li>
      <li>For marketing or promotional purposes</li>
    </ul>
    <br />

    Jackson Hewitt will not disclose to unaffiliated third parties
    any information collected in a manner that connects you with your personal
    information, except when we have your permission or under special
    circumstances, such as when we have a good faith belief that the law requires
    it.
    <br /><br />

    We also may use your information to inform you about other
    products or services available from Jackson Hewitt and our affiliates. You may
    be offered the opportunity to receive materials or special offers from
    affiliated third parties. If you opt to receive information from these third
    parties, we will share your name and e-mail address with such third parties. We
    may match personal information collected on the Websites with affiliated third
    party data.
    <br /><br />

    Jackson Hewitt may keep track of what portions of the Websites
    visitors are viewing and other visitor statistics such as geographic location,
    and aggregate this information to help us create a better experience for future
    Website visits. This is all done without knowing your name or other personal
    information in order to describe our viewers and services to prospective
    partners, advertisers, and other third parties, and for other lawful purposes.
    <br /><br />

    Our use or disclosure of your information whether collected by
    us, uploaded by you, or otherwise provided to us, may be limited by &sect;7216 of
    the Internal Revenue Code, the Gramm Leach Bliley Act of 1999, and certain
    other laws, as well as our policies. Section 7216 of the Internal Revenue Code
    requires that we obtain your consent (Opt in) to the disclosure and use of
    information you provide us in connection with your tax return information. We
    will not disclose or use your tax return information for any purpose other than
    preparing, assisting in preparing, or obtaining or providing services in
    connection with the preparation of your tax return unless you authorize us to
    do so, except when expressly required or authorized by law, necessary to the
    preparation of the tax return, or pursuant to court order. See Consent to
    Disclosure of Tax Return Information Consent form and Consent to Use of Tax
    Return Information Consent form. We may use or disclose your personally
    identifiable information as described below or where you have provided consent
    under &sect;7216, or as otherwise permitted by applicable laws.
    <br /><br />

    <ul>
      <li>
        We may use personally identifiable information about you to fulfill your requests for
        our services, to respond to your inquiries about those services, and to
        describe other products, programs, or services that we believe may be of
        interest to you.
      </li>
      <li>
        We sometimes use this information to communicate with you, such as to contact you
        about your account with us or to provide you with important products or service
        information.
      </li>
      <li>
        We may disclose the personally identifiable information described above to our
        affiliates to enhance our services and provide you with additional product and
        service opportunities that we believe may be of interest to you.
      </li>
      <li>
        A separate Jackson Hewitt Tax Service Privacy Policy will be provided to you at
        the time of tax preparation and will further explain how we handle your tax
        return information. We may use or disclose personally identifiable information
        about you to the following types of third parties: Financial service providers;
        non-financial companies, such as retailers and direct marketers; and others.
      </li>
      <li>
        We may also provide information to non-affiliated third parties that perform
        operational services related to your account or marketing services for us.
        Sharing information with these types of companies is permitted by law. Such a
        company might include a financial service provider with whom we have a joint
        marketing agreement or a non-financial company (such as a data processor or
        Internet service provider) with whom we have a service agreement. The
        information we may share also comes from the sources described above and might
        include your name, address, phone number and account experience with
        us. These companies are authorized to use your personal information <i>only
          as necessary to provide</i> these services to us.
        </li>
        <li>
          If you apply for a product or service, we will ask you to authorize us to disclose
          your tax return information to the financial institution providing such product
          or service. See Consent to Disclosure of Tax Return Information Consent form.
          You should review the agreements and the privacy policies of the financial
          institution to understand how it may use and disclose your personal information.
        </li>
        <li>
          We may disclose personally identifiable information in response to legal process, for
          example, in response to a court order, subpoena, legal process, process, or
          other judicial, administrative, or investigative proceeding, or where we have a
          good faith belief that such disclosure is required by law. We also may disclose
          such information where we believe it is necessary to investigate, prevent, or
          take action regarding illegal activities, suspected fraud, situations involving
          potential threats to the physical safety of any person, violations of our terms
          of use, or for other purposes permitted or required by law. In addition, we may
          transfer information about you if we are acquired by or merged with another
          company. You will be notified via email and/or a prominent notice on our
          Web site of any change in ownership or uses of your personal information, as
          well as any choices you may have regarding your personal information.
        </li>
      </ul>
      <br />

      <span class="subhead">HOW YOUR PERSONAL INFORMATION MAY BE SHARED WITH THIRD PARTIES</span>
      <br /><br />

      Jackson Hewitt may disclose the personal information you provide
      to us to our business partners, sponsors or affiliates so they can assist us in
      providing the services you request. By requesting information from our business
      partners, sponsors, and affiliates through the Websites, you give us permission
      to transfer your personal information to them so they can fulfill your request.
      <br /><br />

      <span class="grey_subhead">Testimonials</span>
      <br /><br />

      We display personal
      testimonials of satisfied customers on our site in addition to other
      endorsements.  These testimonials have been provided externally and we only
      display them when we have the right to do so. If you have any questions about a
      testimonial, you can contact us at <a target="_blank" href="https://JacksonHewitt.custhelp.com/app/ask">https://JacksonHewitt.custhelp.com/app/ask</a>.
      <br /><br />

      <span class="grey_subhead">Referrals</span>
      <br /><br />

      If you choose to use our
      Refer-a-Friend&reg; program to tell a friend about our tax services, we will ask
      you for your friend's name and email address. We will then contact your
      friend inviting him or her to get their taxes done at Jackson Hewitt. Jackson
      Hewitt stores this information for the purpose of contacting your friend and
      tracking the success of the program.
      <br /><br />

      Your friend may contact us at <a target="_blank" href="https://JacksonHewitt.custhelp.com/app/ask">https://JacksonHewitt.custhelp.com/app/ask</a>  to request that we
      remove this information from our database.
      <br /><br />

      <span class="grey_subhead">THIRD PARTY WEBSITES</span>
      <br /><br />

      The Websites may contain links to other affiliated websites or
      websites of interest that are not under our direction or control. These third
      party websites may include social networking websites and websites of
      advertisers, sponsors and partners that may contain our or our affiliates' logo
      as part of a co-branding agreement. These other sites may send their own
      cookies to visitors, collect data, or solicit information. Therefore, we cannot
      be responsible for the protection and privacy of any information you may
      provide while visiting such sites. This privacy policy does not apply to those
      sites and only applies to our Websites. You should exercise caution and review
      the privacy policy of those websites you are visiting.
      <br /><br />

      <span class="grey_subhead">SOCIAL MEDIA WIDGETS</span>
      <br /><br />

      OUR WEB SITE INCLUDES
      SOCIAL MEDIA FEATURES, SUCH AS THE FACEBOOK LIKE BUTTON [AND WIDGETS, SUCH
      AS THE SHARE THIS BUTTON OR INTERACTIVE MINI-PROMGRAMS THAT RUN ON OUR SITE].
      THESE FEATURES MAY COLLECT YOUR IP ADDRESS, WHICH PAGE YOU ARE VISITING ON OUR
      SITE, AND MAY SET A COOKIE TO ENABLE THE FEATURE TO FUNCTION PROPERLY. SOCIAL
      MEDIA FEATURES AND WIDGETS ARE EITHER HOSTED BY A THIRD PARTY OR HOSTED
      DIRECTLY ON OUR SITE. YOUR INTERACTIONS WITH THESE FEATURES ARE GOVERNED BY THE
      PRIVACY POLICY OF THE COMPANY PROVING IT.
      <br /><br />

      <span class="grey_subhead">OTHER USES</span>
      <br /><br />

      We may also disclose collected information in certain cases when
      we have reason to believe that disclosing this information is necessary to identify,
      contact or bring legal action against someone who may be causing injury to or
      interference (either intentionally or unintentionally) with any of our rights
      or property, visitors, or anyone else. We may disclose or access account
      information when we believe in good faith that the law requires it and for
      administrative and other purposes that we deem necessary to maintain, service,
      and improve our products and services.
      <br /><br />

      <span class="grey_subhead">LIVE CHAT</span>
      <br /><br />

      We use live chat to assist you with answers to your questions
      concerning our product and its offerings. As an unregistered user you can ask
      questions anonymously to help you decide which product package would be best
      for you. For registered users, we collect email address and account information
      to create a customer contact record to assist our Support Center in handling
      questions. Our hours of Chat operations are published within the chat feature.
      Outside of the chat hours of operation you have the option to email us your
      question. We ask for your email address so we can follow up on your question.
      <br /><br />

      <span class="grey_subhead">SECURITY</span>
      <br /><br />

      The security of all information associated with our Website
      visitors is important to us. We exercise considerable care in providing secure
      transmission of your information from your computer to our servers or those of
      our business partners.
      <br /><br />

      When you enter sensitive information (such as credit card number
      and/or social security number,) on our registration or order forms, we encrypt
      that information using secure socket layer technology (SSL). To learn more
      about SSL, follow this link: <a target="_blank" href="https://www.entrust.net/customer/profile.cfm?domain=www.jacksonhewitt.com"
      title=" https://www.entrust.net/customer/profile.cfm?domain=www.jacksonhewitt.com">https://www.entrust.net/customer/profile.cfm?domain=www.jacksonhewitt.com</a>.
      <br /><br />

      We follow generally accepted standards to protect the personal
      information submitted to us, both during transmission and once we receive
      it.  No method of transmission over the Internet, or method of electronic
      storage, is 100% secure, however.  Therefore, we cannot guarantee its
      absolute security. If you have any questions about security on our Web site,
      you can contact us at <a target="_blank" href="https://JacksonHewitt.custhelp.com/app/ask">https://JacksonHewitt.custhelp.com/app/ask</a>.
      <br /><br />

      <span class="grey_subhead">DATA ENCRYPTION</span>
      <br /><br />

      Data encryption is the process of transforming legible
      information into a complex arrangement of illegible information. SSL uses a
      private/public key combination to encrypt data when it is sent and to decrypt
      data when it is received. SSL encrypts data using a mathematical formula, also
      referred to as a &quot;key.&quot; Encryption strength is measured by the length
      of the key used to encrypt the data; the longer the key, the more effective the
      encryption. Using the SSL protocol, data transmission between you and our web
      server is performed at a standard level of encryption strength.
      <br /><br />

      <span class="grey_subhead">WEB SERVER AUTHENTICATION</span>
      <br /><br />

      An SSL certificate is issued to ensure authentic and accurate
      identification of a secured web server. This translates into a digital ID, an
      electronic fingerprint, which is included in the key used to encrypt the data.
      Only our web server, in this case, is able to decrypt the data that you
      transmit because it is the intended (and digitally certified) secured web
      server for this data transmission.
      <br /><br />

      <span class="grey_subhead">PHISHING</span>
      <br /><br />

      "Phishing" is a scam designed to steal your personal
      information. If you receive an email that looks like it is from Jackson Hewitt
      asking you for your personal information, do not respond. We will never request
      your personal information or credit card information through email.
      <br /><br />

      <span class="grey_subhead">CONTROLLING YOUR PERSONAL INFORMATION</span>
      <br /><br />

      You may choose to restrict Jackson Hewitt's use of your personal
      information. If you have provided your personal information to Jackson Hewitt
      and subsequently decide to restrict the use of this information or if you
      believe that any personal information we have about you is incorrect or
      incomplete, please contact us at <a target="_blank" href="https://jacksonhewitt.custhelp.com/app/ask" title="https://JacksonHewitt.custhelp.com/app/ask"> https://JacksonHewitt.custhelp.com/app/ask</a>
      or by calling 1-877-476-3353 to correct, update, amend, delete/remove your personal
      information. We will retain your information for as long as your account is
      active or as needed to provide you services.  We will retain and use your
      information as necessary to comply with our legal obligations, resolve disputes,
      and enforce our agreements.
      <br /><br />

      Out of respect for your privacy, you may choose to stop
      receiving our newsletter or marketing emails by following the unsubscribe
      instructions included in these emails, accessing the email preferences in your
      account settings page or you can contact us at <a target="_blank"  href="https://jacksonhewitt.custhelp.com/app/ask"
      title="https://JacksonHewitt.custhelp.com/app/ask"> https://JacksonHewitt.custhelp.com/app/ask</a>.
      <br /><br />

      Please feel free to contact Jackson Hewitt at <a target="_blank" href="https://jacksonhewitt.custhelp.com/app/ask"
      title="https://JacksonHewitt.custhelp.com/app/ask"> https://JacksonHewitt.custhelp.com/app/ask</a> or by calling
      1-877-476-3353 if you have any questions or concerns regarding this privacy
      policy or Jackson Hewitt's collection and use of your personal information.
      <br /><br />

      <span class="grey_subhead">YOUR CALIFORNIA PRIVACY RIGHTS</span>
      <br /><br />

      California Civil Code Section 1798.83 permits Jackson Hewitt
      customers who are California residents to request certain information regarding
      its disclosure of personal information to third parties for their direct
      marketing purposes. To make such a request, please send us an email by
      completing the form at <a href="https://jacksonhewitt.custhelp.com/app/ask" target="_blank">https://jacksonhewitt.custhelp.com/app/ask</a> or by calling
      1-877-476-3353.
      <br /><br />

      <span class="grey_subhead">ACCEPTANCE OF THESE TERMS</span>
      <br /><br />

      You understand that any information you provide through our
      Websites will be governed by this privacy policy.
      <br /><br />

      <span class="grey_subhead">IF YOU DO NOT AGREE WITH THIS PRIVACY POLICY, PLEASE DO NOT USE THESE SITES.</span>
      <br /><br />

      Your continued use of the Websites following the posting of
      changes to these terms will mean you accept such changes. If we amend this
      privacy policy to permit material changes in the way we collect, use, and/or
      share your personal information, we will notify you of such amendment by
      prominently posting notice of such amendment on the Websites' home pages prior
      to the change becoming effective.
      <br /><br />

      <b><i>This Privacy Policy is effective December 5, 2014.</i></b>
      <br /><br />

      <span class="grey_subhead">MAILING ADDRESS</span>
      <br />
      Jackson Hewitt Inc.<br />
      Attention - Client Care<br />
      501 N. Cattlemen Road, Suite 300, Sarasota, FL 34232
      <br /><br />

      Or contact us online at: <a target="_blank" target="_blank" href="https://jacksonhewitt.custhelp.com/app/ask">https://jacksonhewitt.custhelp.com/app/ask</a>

    </div>



    <div class="ffa_modal statefile_modal" id="statefile_modal">
      <div class="title">Supported State Forms</div>
      Below are the list of supported states and associated forms.
      <!--
      <h4>Alabama</h4>
      <ul>
      <li>Alabama Form 40 Resident Income Tax Return</li>
      <li>Schedule A Itemized Deductions</li>
      <li>Schedule B Interest and Dividends</li>
    </ul>
  -->
  <h4>Arizona</h4>
  <ul>
    <li>Arizona Form 140 Resident Income Tax Return</li>
    <li>Schedule A Itemized Deductions</li>
  </ul>
  <h4>Arkansas</h4>
  <ul>
    <li>Arkansas AR1000 Resident Income Tax Return</li>
    <li>Arkansas AR1000-CO Charities</li>
    <li>AR3 Itemized Deductions</li>
    <li>AR4 Interest and Dividend Schedule</li>
  </ul>
  <h4>California</h4>
  <ul>
    <li>California 540 Resident Income Tax Return</li>
    <li>California Schedule CA - Adjustments</li>
    <li>California Schedule P - Alternative Minimum Tax</li>
    <li>California 3582 - Payment Voucher for Individual e-files Returns</li>
    <li>Request for Extension to File Information Returns </li>
  </ul>
  <h4>Colorado</h4>
  <ul>
    <li>Colorado Form 104 Resident Income Tax Return</li>
    <li>Form DR 0347 Child Care Expense Tax Credit</li>
  </ul>
  <h4>Connecticut</h4>
  <ul>
    <li>Connecticut Form CT 1040 Resident Income Tax Return</li>
    <li>Schedule CT EITC Earned Income Tax Credit</li>
  </ul>
  <h4>Delaware</h4>
  <ul>
    <li>Delaware 200-01 Resident Income Tax Return</li>
    <li>Delaware Resident Schedules</li>
  </ul>
  <h4>Georgia</h4>
  <ul>
    <li>Georgia Form 500 Resident Income Tax Return</li>
  </ul>
  <h4>Hawaii</h4>
  <ul>
    <li>Hawaii Form N11 Resident Income Tax Return</li>
  </ul>
  <h4>Idaho</h4>
  <ul>
    <li>Idaho Form 40 Resident Income Tax Return</li>
    <li>Idaho Form 24 Grocery Credit</li>
    <li>Idaho Form 39R Supplemental Schedule</li>
    <li>Idaho Payment Voucher</li>
  </ul>
  <h4>Illinois</h4>
  <ul>
    <li>Illinois IL 1040 Resident Income Tax Return</li>
    <li>Schedule M Additions/Subtractions</li>
    <li>Schedule ICR</li>
    <li>Illinois Extension</li>
  </ul>

  <h4>Indiana</h4>
  <ul>
  <li>Indiana Form IT-40 Resident Income Tax Return</li>
  <li>Schedule 1</li>
  <li>Schedule 2</li>
  <li>Indiana County Tax Schedule</li>
</ul>

<h4>Iowa</h4>
<ul>
  <li>Iowa Form IA 1040 Resident Income Tax Return</li>
  <li>Schedule A Itemized Deductions</li>
  <li>Schedule B Interest and Dividends</li>
</ul>
<h4>Kansas</h4>
<ul>
  <li>Kansas Form K40 Resident Income Tax Return</li>
</ul>
<h4>Kentucky</h4>
<ul>
  <li>Kentucky 740 Resident Income Tax Return</li>
  <li>Kentucky Tax Tables</li>
  <li>Kentucky Schedule A Itemized Deductions</li>
</ul>
<h4>Louisiana</h4>
<ul>
  <li>Louisiana IT-540 Resident Income Tax Return</li>
  <li>Louisiana Tax Tables</li>
  <li>Louisiana Payment Voucher</li>
  <li>Louisiana Extension</li>
</ul>

<h4>Maine</h4>
<ul>
  <li>Maine 1040ME Resident Income Tax Return</li>
  <li>Tax Tables</li>
  <li>Tax Rate Schedule</li>
  <li>Schedule CP Contributions</li>
  <li>Schedules 1 and 2</li>
  <li>Schedule A</li>
</ul>

<h4>Maryland</h4>
<ul>
  <li>Maryland Form 502 Resident Income Tax Return</li>
  <li>Form 502CR </li>
  <li>Extension to File</li>
  <li>Payment Voucher</li>
</ul>
<h4>Massachusetts</h4>
<ul>
  <li>Massachusetts Form 1 Resident Income Tax Return</li>
  <li>Massachusetts Schedule HC</li>
  <li>Massachusetts Schedule X and Y</li>
  <li>Payment Voucher</li>
</ul>
<h4>Michigan</h4>
<ul>
  <li>Michigan MI-1040 Resident Income Tax Return</li>
  <li>Michigan MI-1040CR Homestead Property Tax Credit</li>
  <li>Schedules 1 &amp; 2</li>
  <li>Michigan MI-1040CR-7 Homeheating Credit</li>
  <li>Payment Voucher</li>
</ul>
<h4>Minnesota</h4>
<ul>
  <li>Minnesota MI Resident Income Tax Return</li>
  <li>Minnesota Child and Dependent Care Credit</li>
  <li>K-12 Education Credit</li>
  <li>Minimum Tax</li>
</ul>
<h4>Mississippi</h4>
<ul>
  <li>Mississippi Resident Income Tax Return</li>
  <li>Payment Voucher</li>
  <li>Request to File an Extension</li>
</ul>
<h4>Missouri</h4>
<ul>
  <li>Missouri Form MO 1040 Resident Income Tax Return</li>
</ul>

<h4>Montana</h4>
<ul>
  <li>Montana Form 2 Resident Income Tax Return</li>
  <li>Montana Schedule I Additions</li>
  <li>Montana Schedule II Subtractions</li>
  <li>Montana Schedule III Itemized Deductions</li>
</ul>

<h4>Nebraska</h4>
<ul>
  <li>Nebraska Form 1040N Resident Income Tax Return</li>
  <li>Schedules I, II, III</li>
  <li>Nebraska Tax Tables</li>
</ul>
<h4>New Jersey</h4>
<ul>
  <li>New Jersey NJ 1040 Resident Income Tax Return</li>
  <li>New Jersey Schedules A, B, C</li>
  <li>New Jersey Payment Voucher</li>
</ul>
<h4>New Mexico</h4>
<ul>
  <li>New Mexico PIT-1 Resident Income Tax Return</li>
  <li>New Mexico PIT-ADJ Additions/Subtractions</li>
  <li>New Mexico PIT-D Voluntary Contributions</li>
  <li>New Mexico Payment Voucher</li>
</ul>

<h4>New York</h4>
<ul>
<li>New York Form IT 201 Resident Income Tax Return</li>
<li>Form IT 215 Earned Income Tax Credit</li>
<li>Form IT 216 Claim for Child and Dependent Care Credit</li>
</ul>


<h4>North Carolina</h4>
<ul>
  <li>North Carolina  Form D 400 Resident Income Tax Return</li>
</ul>

<h4>North Dakota</h4>
<ul>
  <li>North Dakota Form ND-1 Resident Income Tax Return</li>
  <li>North Dakota Tax Tables</li>
</ul>
<h4>Ohio</h4>
<ul>
  <li>Ohio IT 1040 Resident Income Tax Return</li>
  <li>Ohio Payment Voucher</li>
</ul>
<h4>Oklahoma</h4>
<ul>
  <li>Oklahoma Form 511 Resident Income Tax Return</li>
  <li>Oklahoma Payment Voucher</li>
  <li>Form 511CR</li>
</ul>
<h4>Oregon</h4>
<ul>
  <li>Oregon Form 40 Resident Income Tax Return</li>
</ul>
<h4>Pennsylvania</h4>
<ul>
  <li>Pennsylvania 40 Resident Income Tax Return</li>
  <li>Pennsylvania Schedule A/B</li>
</ul>
<h4>Rhode Island</h4>
<ul>
  <li>Rhode Island RI-1040 Resident Income Tax Return</li>
  <li>Property Tax Relief Claim</li>
  <li>RI-6251 Alternative Minimum Tax</li>
  <li>RI-1040V Payment Voucher</li>
</ul>
<h4>South Carolina</h4>
<ul>
  <li>South Carolina SC1040 Resident Income Tax Return</li>
  <li>South Carolina Tax Credits</li>
  <li>South Carolina Charities</li>
  <li>Payment Voucher</li>
  <li>Amended Return</li>
</ul>
<h4>Utah</h4>
<ul>
  <li>Utah TC 40 Resident Income Tax Return</li>
</ul>
<h4>Vermont</h4>
<ul>
  <li>Vermont Form IN-111 Resident Income Tax Return</li>
  <li>Vermont Form IN-112 Tax Adjustment and Credits</li>
  <li>Vermont Form IN-113 Income Adjustment Schedules</li>
  <li>Payment Voucher</li>
</ul>

<h4>Virginia</h4>
<ul>
  <li>Virginia Form 760 Resident Income Tax Return</li>
  <li>Schedule ADJ</li>
  <li>Automatic Extension Payment</li>
</ul>

<h4>West Virginia</h4>
<ul>
  <li>West Virginia Form IT 140 Resident Income Tax Return</li>
  <li>File an Extension</li>
</ul>

<h4>Wisconsin</h4>
<ul>
<li>Wisconsin Form 1 Resident Income Tax Return</li>
<li>Wisconsin Schedule MT</li>
<li>Amended Tax Return</li>
<li>Electronic Payment Voucher</li>
</ul>

</div>

<div class="ffa_modal faqs_modal" id="faqs_modal">
  <div class="title">FREQUENTLY ASKED QUESTIONS</div>
  <span class="subhead">What is the Free File Alliance (FFA)?</span>
  <br /><br />
  The Free File Alliance is a nonprofit coalition of industry-leading tax software companies partnered with the IRS to help millions of Americans prepare and e-file their federal tax returns for free. Free File is the fast, safe and free way to do your federal tax return online.
  <br /><br />
  <span class="subhead">How do I know if I qualify?</span>
  <br /><br />
  If you are age 49 or younger as of December 31, 2014 with an Adjusted Gross Income (AGI) of $60,000 or less, you are eligible for the Jackson Hewitt FFA program.
  <br /><br />
  <span class="subhead">Is e-filing included?</span>
  <br /><br />
  Yes, there is no additional charge. Jackson Hewitt will transmit your return to the IRS, and you will be notified via e-mail whether it is accepted or rejected by the IRS.
  <br /><br />
  <span class="subhead">What if I don't qualify?</span>
  <br /><br />
  You can still file with Jackson Hewitt. We have several options for taxpayers who don't qualify for the FFA program. See our Value-Added Offers page.
  <br /><br />
  <span class="subhead">Are your calculations guaranteed?</span>
  <br /><br />
  Yes, with Jackson Hewitt Online, all calculations are 100% accurate. Guaranteed.
  <br /><br />
  <span class="subhead">If I have questions, do you provide help while doing my taxes?</span>
  <br /><br />
  Yes, we have an extensive knowledge base that provides you answers to all your questions. If for some reason you cannot find the answer or need further clarification, you can submit a question at any time and one of our knowledgeable staffers will get back to you within 24 hours.
  <br /><br />
  <span class="subhead">Is there an additional charge for State returns?</span>
  <br /><br />
  Yes, states are just $24.95.
  <br /><br />
  <span class="subhead">What is AGI?</span>
  <br /><br />
  Your Adjusted Gross Income ("AGI") is your total income and losses minus any adjustments you might be entitled to such as Tuition and Fees deduction, IRS deduction, Educator Deduction or Self Employment Tax Deduction.
  <br /><br />
</div>
