﻿<div class="office_and_online">
  <div class="content">
    <div class="local_office">
      <div class="information">
        <div class="information_copy">
          <h1>STOP BY YOUR LOCAL OFFICE.</h1>
          Let us help you through the extension process. With over 6,300 locations, we're about as convenient as can be.
        </div>
        <br>
        <img class="local_office_image" src="/Images/local_office_icon.png">

        <script>
            function postForm() {
                var form = document.getElementById('zipForm');
                findOfficeText = document.getElementById('findOfficeText').value;
                form.setAttribute('action', 'http://jacksonhewitt.com/OfficeLocator/Search-Results/?loc=' + findOfficeText + '&filter=y');
                form.submit();
            }
        </script>

        <form name="zipForm" id="zipForm" method="post" enctype="multipart/form-data" action="javascript:postForm();">
          <input id="findOfficeText" name="findOfficeText" class="findOfficeText" type="text" placeholder="Enter City/State/ZIP" />
          <button type="button" id="findOffice" class="office_btn" onClick="javascript:postForm();">
            <span class="cta">find an office near you</span>
            <span class="arrow"> ></span>
          </button>
        </form>

      </div>
    </div>
    <!--
    <div class="file_online">
      <div class="information">
        <div class="information_copy">
          <h1>Free federal extensions online.</h1>
          Know what you're doing?<br />Use our tools. Free. Fast. Immediate.
        </div>
        <br>
        <img class="file_online_image" src="/Images/file_online_icon.png">
        <a style="cursor:pointer;" class="file_online_btn" onClick="trackOutboundLink('file online','get started clicked','@ViewBag.FooterLabel','http://offers.jacksonhewitt.com/wm2');">
            <span class="cta">Get Started</span>
            <span class="arrow"> ></span>
        </a>
      </div>
    </div>
    -->
  </div>
</div>
