﻿<div class="office_and_online">
  <div class="content">
    <div class="local_office">
      <div class="information">
        <h1>stop by YOUR LOCAL OFFICE.</h1>
        With over 6,300 locations, including nearly 3,000 neighborhood <br>
        Walmarts, you're never far from your Jackson Hewitt tax expert.
        <br>
        <img class="local_office_image" src="/Images/local_office_icon.png">
        <a class="office_btn" onClick="ga('send','event','file in-store','find office near you clicked','@ViewBag.FooterLabel');" href="http://jacksonhewitt.com/OfficeLocator">
            <span class="cta">find an office near you</span>
            <span class="arrow"> ></span>
        </a>
      </div>
    </div>
    <div class="file_online">
      <div class="information">
        <h1>FILE ONLINE.</h1>
        Your biggest refund. Guaranteed. Right at your fingertips.
        <br>
        <img class="file_online_image" src="/Images/file_online_icon.png">
        <a style="cursor:pointer;" class="file_online_btn" onClick="trackOutboundLink('file online','get started clicked','@ViewBag.FooterLabel','http://offers.jacksonhewitt.com/wm2');">
            <span class="cta">Get Started</span>
            <span class="arrow"> ></span>
        </a>
      </div>
    </div>
  </div>
</div>

