﻿<div class="online_plans_section">
    <div class="content">
        <div class="online_plan">
            <div class="plan_tile">
                <img src="/images/online_tile_free_icon.png" class="plan_icon">
                <div class="plan_copy">
                    <h1>Free</h1>
                    <div class="cost">$0</div>
                    <div onClick="ga('send','event','free package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn cost_btn">
                        State Additional*
                    </div>
                    Do you only have W-2<br>
                    income with some interest<br>
                    income and no credits or deductions?
                </div>
                <div class="plan_btn">
                    <a onClick="ga('send','event','free package','try it for free clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=FREE"> Try it for free.</a>
                </div>
            </div>
            <ul>
                <div class="title">Includes:</div>
                <li>Unlimited email access for general inquiries</li>
                <li>Unlimited live online<br> chat support</li>
                <li>Upgrade anytime</li>
            </ul>
        </div>
        <div class="online_plan">
            <div class="plan_tile">
                <img src="/images/online_tile_basic_icon.png" class="plan_icon">
                <div class="plan_copy">
                    <h1>Basic</h1>
                    <div class="cost">$12.95</div>
                    <div onClick="ga('send','event','basic package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn cost_btn">
                        State Additional*
                    </div>
                    Just need to file<br>
                    a simple return?
                </div>
                <div class="plan_btn">
                    <a onClick="ga('send','event','basic package','try it for free clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=BASIC"> Try it for free.</a>
                </div>
            </div>
            <ul>
                <div class="title">Everything in FREE plus:</div>
                <li>EIC with no dependents</li>
                <li>Student loan interest deduction</li>
            </ul>
        </div>
        <div class="online_plan">
            <div class="plan_tile">
                <img src="/images/online_tile_deluxe_icon.png" class="plan_icon">
                <div class="plan_copy">
                    <h1>Deluxe</h1>
                    <div class="cost">$29.95</div>
                    <div onClick="ga('send','event','deluxe package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn cost_btn">
                        State Additional*
                    </div>
                    Are you a parent<br>
                    or homeowner?
                </div>
                <div class="plan_btn">
                    <a onClick="ga('send','event','deluxe package','try it for free clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=DELUXE"> Try it for free.</a>
                </div>
            </div>
            <ul>
                <div class="title">Everything in BASIC plus:</div>
                <li>Includes itemized deductions</li>
                <li>Adjustments to income</li>
                <li>
                    Credits like EIC, Education,<br>
                    Child Tax Credit and<br>
                    Dependent Care Credit
                </li>
            </ul>
        </div>
        <div class="online_plan">
            <div class="plan_tile">
                <img src="/images/online_tile_premium_icon.png" class="plan_icon">
                <div class="plan_copy">
                    <h1>Premium</h1>
                    <div class="cost">$49.95</div>
                    <div onClick="ga('send','event','premium package','state additional clicked','@ViewBag.FooterLabel');" class="cost_detail cost_modal_btn cost_btn">
                        State Additional*
                    </div>
                    Are you a business owner<br>
                    or self-employed?
                </div>
                <div class="plan_btn">
                    <a onClick="ga('send','event','premium package','try it for free clicked','@ViewBag.FooterLabel');" href="https://taxprep.jacksonhewittonline.com/jacksonhewitt/JHAccountCreation.action?package=PREMIUM"> Try it for free.</a>
                </div>
            </div>
            <ul>
                <div class="title">Everything in DELUXE plus:</div>
                <li>Depreciation and business deductions</li>
                <li>Free phone support</li>
            </ul>
        </div>
    </div>
</div>