﻿<div class="promo">
        <div class="content">
          <a class="tiles" href="/tax-preparation/about-jackson-hewitt">
              <div class="tile_title">
              100% Accuracy.
              <div class="white">Guaranteed.</div>
              </div>
              <img class="accuracy_image" src="/images/person_icon.png">
          </a>
          <a class="tiles" href="/tax-preparation/about-jackson-hewitt">
              <div class="tile_title">
              Biggest Refunds.
              <span class="white">Guaranteed.</span>
              </div>
              <img class="refund_image" src="/images/bills_icon.png">
          </a>
          <a class="tiles" href="http://jacksonhewitt.com/OfficeLocator/">
              <div class="tile_title">
              Over 6,300 locations
              <div class="white small">including nearly 3,000 <span class="walmart_nocaps">Walmarts.</span></div>
              </div>
              <img class="locations_image" src="/images/house_icon.png">
          </a>
        </div>
    </div>

