html{
  height: 100%;
  min-height: 100%;
}

/*Master Styles*/

body {
  height:100%;
  min-height: 100%;
  background:white;
  color:#000000;
  font: 16px 'latoregular' arial, sans-serif;
}

ul {
  list-style: none;
  padding:0;
  margin: 0;
}

h1 {
  margin:0;
  font: 26px 'varela_roundregular' arial, sans-serif;
  color:#00a8e1;
  vertical-align: middle;
  text-transform: uppercase;
}

h2 {
  color:#ffc700
  font: 26px 'varela_roundregular' arial, sans-serif;
  text-transform: uppercase;
}

.content {
  position: relative;
  width:950px;
  padding-left:75px;
  margin:0px auto;
}

.hero .content {
  width:1024px;
  padding-left:0px;
}

.content:after, .clear {
  content: "";
  display: table;
  clear: both;
}

/*Main Template*/

.header {
  background:white;
  min-width: 1024px;
  height:90px;
  line-height:90px;
}

.header h1 {
  display: inline-block;
}

.header-logo {
  width:255px;
  margin-right: 40px;
  display:inline-block;
}

.header-logo img{
  vertical-align:middle;
}


.footer {
  padding:45px 0 25px 0;
  background:#a7a9ac;
  min-width: 960px;
  color:white;
}

.footer .title {
  margin:0;
  font: 16px 'latolight' arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.footer ul {
  float:left;
  width:20%;
  vertical-align: top;
}

.footer .about{
  padding-left: 2%;
  width:18%;
}

.footer a {
  font: 14px/25px 'latolight' arial, sans-serif;
  text-decoration: none;
  color:white;
}

.social_icon {
  float:left;
  width:33%;
}

.search_bar {
  margin:25px 0;
  position: relative;
}

.search_input {
  padding-left: 10px;
  font: 14px/30px 'latolight' arial, sans-serif;
  letter-spacing: 1px;
  vertical-align: middle;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.search_button {
  width:15px;
  height:17px;
  border:1px red solid;
  margin:-27px 0 0 135px;
}


/* Page Specific*/
.hero {
  position: relative;
  background:#00a8e1;
  height:400px;
  margin-bottom: 80px;
}

.hero_colorblock {
  position: absolute;
  z-index: 2;
  top:0;
  left:0;
  height:450px;
  width:530px;
  background: white;
  opacity:.85;
}

.hero_copy {
  position:relative;
  z-index: 3;
  width:530px;
  margin-left:37px;
  margin-top:85px;
}

.promo, .location {
  height:235px;
  margin-bottom:70px;
}

.tiles {
  position: relative;
  overflow: hidden;
  float: left;
  width:28%;
  padding-left: 3%;
  margin-right:2%;
  height:200px;
  padding-top:35px;
  background:#00a8e1;
  color:#ffc700;
  font: 24px/28px 'varela_roundregular' arial, sans-serif;
  text-transform: uppercase;
}

.tile_title {
  position: relative;
  z-index: 6;
}

.small {
  font-size: 21px;
}

.white {
  color:white;
}

.tiles:nth-last-child(1) {
  margin-right:0;
}

.tiles img {
  position: absolute;
  bottom:0;
  right:0;
  z-index: 5;
}

.accuracy_image {
  top:50px;
  left:80px;
}

.refund_image {
  top:105px;
  left:100px;
}

.locations_image {
  left:128px;
  top:68px;
}

.tandc {
  position: relative;
  top:-20px;
}

.tandc_btn {
  color: #959595;
  text-decoration: underline;
  cursor:pointer;
  width:150px;
  margin: 0 auto;
  text-align: center;
}

.tandc_modal {
  display:none;
  font: 15px/18px 'latolight' arial, sans-serif;
  color:#7d7d7d;
}

.tandc_modal .headline {
  font: 16px/26px 'latoregular' arial, sans-serif;
  color:#00a8e1;
  margin-bottom: 20px;
}

/* Location Page */

.location_page .hero {
  height:375px;
}
.location_page .hero_image {
  position: absolute;
  left:0;
  right:0;
  top:0;
  margin:0 auto;
}

.location_page .hero_colorblock {
  height:376px;
  width:430px;
}

.location_page .hero_copy {
  width:430px;
  margin-left:37px;
  margin-top:85px;
}

.map {
  display: inline-block;
  width:308;
  height:233;
  margin-right: 50px;
}

.map iframe {
  width:308px;
  height:233px;
}

.location .information {
  display: inline-block;
  vertical-align: top;
}

.location h1 {
  color:black;
  margin-bottom: 7px;
}

.location .address {
  font: 20px/27px 'varela_roundregular' arial, sans-serif;
  color:#00a8e1;
  margin:15px 0;
}

.appointment_btn {
  display: inline-block;
  vertical-align: bottom;
  background: #ffc700;
  width:310px;
  height:50px;
  color:#0160a3;
  font: 12px/50px 'latobold' arial, sans-serif;
  vertical-align: top;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
}

/*basic modal css*/
/* Overlay */
#simplemodal-overlay {
  background-color:#000;
}

/* Container */
#simplemodal-container {
  height:570px;
  width:500px;
  color:#bbb;
  background-color:white;
  padding:45px 45px;
}

#simplemodal-container a.modalCloseImg {
  background:url(../images/modal_close.png) no-repeat;
  width:39px;
  height:39px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-16px;
  cursor:pointer;
}